﻿@charset "utf-8";

.Form_tekst {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.form_tekst_field {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background-color: #f1eedd;
    padding: 4px;
}

.form_tekst_field_large {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #333333;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    background-color: white;
    padding: 4px;
    line-height: 40pt;
}

.podnaslov-large input {
    border-style: none;
}

.form_tekst_field_folder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background-color: #f1eedd;
    padding: 4px;
}

.form_tekst_field_300 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background-color: #f1eedd;
    padding: 4px;
    width: 400px;
    height: 25px;
}

.image_url:link {
    color: White;
    font-size: 12px;
}

.image_url:visited {
    color: White;
    font-size: 12px;
}

.image_url:link {
    color: White;
    font-size: 12px;
}

.foot_url:visited {
    color: Black;
    font-size: 12px;
}

.user_url:link {
    color: Blue;
    text-decoration: none;
}

.user_url:visited {
    color: Blue;
    text-decoration: none;
}

.user_url_storage:link {
    color: Blue;
    text-decoration: underline;
}

.user_url_storage:visited {
    color: Blue;
    text-decoration: underline;
}

.foot_url2:visited {
    color: Blue;
    font-size: 12px;
}

.label_message {
    font-size: 15px;
    width: 250px;
    vertical-align: middle;
    color: crimson;
    font-style: normal;
    font-family: Arial;
    text-align: center;
}

.rights {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #333333;
}

.menu_bot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3c3939;
    float: right;
}

.menu_bot_pipe {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #3c3939;
    float: right;
    padding: 0 15px 0 15px;
}

.Naslov_B_Crven {
    font-size: 22px;
    color: #bd0000;
    letter-spacing: 0px;
    padding: 22px 0 0 60px;
    float: left;
    width: 625px;
}

.Candara_Red_20 {
    font-family: Candara;
    font-size: 18px;
    color: #FF7100;
    font-weight: normal;
    letter-spacing: 0px;
    float: left;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
}

.Candara_Black_20 {
    font-family: Candara;
    font-size: 20px;
    color: #FF7100;
    font-weight: normal;
    letter-spacing: 0px;
    float: left;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;
}

.demo_click {
    height: 60px;
    width: 60px;
    float: left;
}

.head_url:link {
    color: Blue;
}

.head_url:visited {
    color: Blue;
}

.Naslov_Plav {
    font-size: 22px;
    color: #203b97;
    letter-spacing: -2px;
    padding: 25px 0 0 10px;
    width: 200px;
}

.Naslov_Plav_1 {
    font-size: 22px;
    color: #8ea702;
    letter-spacing: -2px;
    padding: 5px 0 0 10px;
    width: 200px;
}

.Naslov_Plav_2 {
    font-size: 22px;
    color: #8ea702;
    letter-spacing: -2px;
    padding: 5px 0 0 10px;
    width: 200px;
}

.Naslov_Plav_3 {
    font-size: 22px;
    color: #203b97;
    letter-spacing: -2px;
    padding: 20px 0 0 10px;
    width: 200px;
}

.Naslov_Plav_4 {
    font-size: 16px;
    color: #8ea702;
    letter-spacing: -2px;
    padding: 10px 0 0 10px;
    width: 200px;
}

.Naslov_Crven {
    font-size: 22px;
    color: #db2121;
    letter-spacing: -2px;
    padding: 17px 0 0 60px;
}

.Naslov_Z_Crven_Central {
    font-size: 22px;
    color: #000000;
    letter-spacing: -2px;
    padding: 17px 0 0 10px;
    text-align: center;
}

.Naslov_Protokalev {
    font-size: 22px;
    color: #ff7e00;
    letter-spacing: -2px;
    padding: 19px 0 0 30px;
    width: 400px;
}

.Naslov_Zelen {
    font-size: 22px;
    color: #609d00;
    letter-spacing: -2px;
    padding: 19px 0 0 35px;
    width: 200px;
}

.Naslov_Sin {
    font-size: 22px;
    color: #00aeff;
    letter-spacing: -2px;
    padding: 19px 0 0 60px;
    width: 200px;
}

.Naslov_Sin_Wide {
    font-size: 22px;
    color: #00aeff;
    letter-spacing: -2px;
    padding: 19px 0 0 60px;
}

.step {
    height: 56px;
    width: 244px;
    margin-right: 1px;
    float: left;
}

    .step .step_image1 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 3px;
        height: 55px;
        background-repeat: no-repeat;
    }

    .step .step_image2 {
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 3px;
        height: 55px;
        background-repeat: no-repeat;
    }

    .step .step_image3 {
        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 3px;
        height: 55px;
        background-repeat: no-repeat;
    }

    .step .step_text {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        letter-spacing: -1.5px;
    }

    .step .step_text1 {
        font-size: 14px;
        font-weight: bolder;
        color: #000000;
        margin-top: 3px;
        letter-spacing: -1.5px;
    }

.podnaslov {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 20pt;
}

.podnaslov-large {
    font-family: 'Trebuchet MS';
    font-size: 36px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 40pt;
    padding-right: 30px;
    border-width: 1px;
}


.podnaslov1 {
    font-family: 'Trebuchet MS';
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    line-height: 20pt;
}

.podnaslov_agree {
    font-size: 15px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-weight: 500;
    line-height: 20pt;
}

    .podnaslov_agree A:link {
        color: Blue;
    }

    .podnaslov_agree A:visited {
        color: Blue;
    }


.podnaslov_store {
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: 500;
    line-height: 20pt;
}

.podnaslov_card {
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-weight: bold;
}

.podnaslov_1 {
    font-size: 15px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 70px;
    line-height: 20pt;
}

.podnaslovMaster {
    font-size: 15px;
    color: #141414;
    line-height: 20pt;
}

.podnaslovPricing {
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    line-height: 20pt;
}

.podnaslovStorage {
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    line-height: 15pt;
}

.podnaslovStorage_line {
    display: inline;
    list-style-type: none;
}

.podnaslovStorage3 {
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 70px;
    line-height: 20pt;
}

.podnaslovStorage4 {
    font-size: 16px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 70px;
    line-height: 10pt;
}

.podnaslov1 {
    font-size: 15px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    line-height: 20pt;
}

.podnaslov_recharge {
    font-size: 15px;
    color: #141414;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 20pt;
}

.remindertxt {
    font-size: 15px;
    color: #B6B4B4;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 12px;
}

.remindertxt2 {
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 12px;
}

.remindert_side {
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 12px;
}


.podnaslov_check {
    font-size: 15px;
    color: #4e4c4c;
    letter-spacing: 0px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.prevnext {
    font-size: 12px;
    color: #4e4c4c;
    letter-spacing: 0px;
    font-weight: bold;
}

    .prevnext a {
        font-size: 12px;
        color: #4e4c4c;
        letter-spacing: 0px;
        text-decoration: none;
        font-weight: bold;
    }

        .prevnext a:hover {
            font-size: 12px;
            color: #4e4c4c;
            letter-spacing: 0px;
            text-decoration: none;
            font-weight: bold;
        }

.tekst {
    font-size: 11px;
    color: #9a9897;
    letter-spacing: -0.3px;
    margin-left: 30px;
    margin-right: 20px;
}

.tekst_2 {
    font-size: 11px;
    color: #9a9897;
    letter-spacing: -0.3px;
    margin-left: 10px;
    margin-right: 10px;
}

.tekst_1 {
    font-size: 11px;
    color: #9a9897;
    letter-spacing: -0.3px;
    margin-left: 80px;
    margin-right: 20px;
}

.call {
    font-size: 14px;
    color: #4e4c4c;
    letter-spacing: 0px;
}

.phone {
    font-size: 20px;
    color: #000000;
    letter-spacing: 0px;
}

.form_title {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: 0px;
    text-align: center;
}

.form_title_2 {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: 0px;
    padding-left: 2px;
    text-align: left;
}

.form_title_name {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: 0px;
    padding-left: 20px;
    text-align: left;
    margin-left: 10px;
}

.form_title_1 {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: 0px;
    padding-left: 70px;
    text-align: left;
    margin-bottom: 15px;
}

.form_title_card {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: 0px;
    padding-left: 70px;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
}

.form_title_3 {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: 0px;
    padding-left: 70px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form_title A {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: 0px;
    text-align: center;
}

.table_tekst {
    font-size: 12px;
    color: #201d1d;
    letter-spacing: -0.2px;
    padding-left: 30px;
}

.table_tekst_name {
    font-size: 12px;
    color: #201d1d;
    letter-spacing: -0.2px;
    padding-left: 20px;
    text-align: left;
    margin-left: 10px;
}

    .table_tekst_name A {
        font-size: 12px;
        color: #201d1d;
        letter-spacing: -0.2px;
        padding-left: 0px;
        color: Blue;
    }

        .table_tekst_name A:visited {
            font-size: 12px;
            color: #201d1d;
            letter-spacing: -0.2px;
            padding-left: 0px;
            color: Blue;
        }

.table_tekst_edit {
    font-size: 12px;
    color: #201d1d;
    letter-spacing: -0.2px;
}

    .table_tekst_edit A {
        font-size: 12px;
        color: Blue;
    }

        .table_tekst_edit A:visited {
            font-size: 12px;
            color: Blue;
        }

.reminder_tekst {
    font-size: 15px;
    color: #201d1d;
    letter-spacing: -0.2px;
    font-weight: bold;
}

.reminder_tekst_without_underline {
    font-size: 12px;
    color: #201d1d;
    letter-spacing: -0.2px;
    font-weight: bold;
    text-decoration: none;
}

.reminder_date {
    font-size: 10px;
    color: #be0000;
    letter-spacing: -0.2px;
    font-weight: bold;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.td_background {
    background-image: url(images/bg_tabs.jpg);
}

.tab_background {
    background-image: url(images/logo_tab.png);
    background-repeat: no-repeat;
}

.div_background {
    background-image: url(images/solidline.png);
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-repeat: repeat-x;
}

.body_background {
    background-image: url(images/bg_top.jpg);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-repeat: repeat-x;
}

.validatorCalloutHighlight {
    background-color: lemonchiffon;
}

.tekstTitle {
    font-size: 15px;
    color: #9a9897;
    letter-spacing: -0.3px;
    margin-left: 30px;
    margin-right: 20px;
    font-style: italic;
    font-weight: bold;
}

.form_color {
    z-index: 1000;
}

.podnaslovDef {
    font-size: 20px;
    color: #4e4c4c;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.tekstTitleDef {
    font-size: 15px;
    color: #7a7877;
    letter-spacing: -0.3px;
    margin-left: 70px;
    margin-right: 20px;
    font-weight: bold;
}

.tekstDef {
    font-size: 14px;
    color: #6d6b6a;
    letter-spacing: -0.3px;
    margin-left: 70px;
    margin-right: 20px;
}

.tekstDef_message {
    font-size: 14px;
    color: #6d6b6a;
    letter-spacing: -0.3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reminder_main {
    font-size: 16px;
    color: #3e3c3c;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    font-weight: 500;
}


.tekstDef_upload {
    font-size: 14px;
    color: #6d6b6a;
    letter-spacing: -0.3px;
    margin-left: 30px;
    margin-right: 20px;
}

.Naslov_CrvenName {
    font-size: 22px;
    color: Black;
    letter-spacing: -2px;
    padding: 32px 0 0 10px;
}

.remindertxt1 {
    font-size: 23px;
    color: Green;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 12px;
}

.podnaslovUser {
    font-size: 15px;
    color: #4e4c4c;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 35px;
}

.podnaslovTITLE1 {
    font-size: 21px;
    font: large;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.podnaslovTITLE {
    font-size: 23px;
    font: large;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.podnaslovTITLE_2 {
    font-size: 18px;
    font: large;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 70px;
}


.Naslov_Z_Crven_1 {
    font-size: 13px;
    letter-spacing: 0px;
    float: left;
    color: Green;
    padding-left: 10px;
}

.Naslov_Z_Crven_Link {
    font-size: 13px;
    letter-spacing: 0px;
    float: left;
    color: White;
    padding-left: 10px;
}

.Naslov_Z_Crven {
    font-size: 15px;
    letter-spacing: 0px;
    padding: 0px 0 0 12px;
    float: left;
    color: Green;
}

.Naslov_BZ_Crven {
    font-size: 22px;
    color: #bd0000;
    letter-spacing: 0px;
    padding: 0px 0 0 10px;
    float: left;
    width: 100%;
}

.Naslov_Y_Crven {
    font-size: 16px;
    letter-spacing: 0px;
    padding: 0px 0 0 8px;
    float: inherit;
    color: Blue;
}

.Naslov_Y_Crven_1 {
    font-size: 16px;
    letter-spacing: 0px;
    padding: 0px 0 0 8px;
    float: inherit;
    color: Blue;
}


.tekstDefMiddle {
    font-size: 13px;
    color: #1C489C;
    letter-spacing: -0.3px;
    margin-left: 70px;
    margin-right: 20px;
}

.Naslov_Y_Crven_2 {
    font-size: 16px;
    letter-spacing: 0px;
    padding: 0px 0 0 0px;
    float: inherit;
    color: Blue;
}

.podnaslov_large {
    font-family: 'Trebuchet MS';
    font-size: 26px;
    color: #EF7E00;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    line-height: 20pt;
}

#divContent {
    width: 175px;
    margin: 0 auto;
}

.autocomplete_completionListElement {
    margin: 0px!important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: default;
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
    z-index: 10000001 !important;
    background-color: white;
}

/* AutoComplete highlighted item */

.autocomplete_highlightedListItem {
    background-color: #ffff99;
    color: black;
    padding: 1px;
    z-index: 0 !important;
}

/* AutoComplete item */

.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px;
    z-index: 0 !important;
}

/* 2012-10-14 */

.ModalPopupBG {
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.popup_Buttons {
    margin: 10px;
}

.popup_Titlebar {
    background: url(images/titlebar_bg.jpg);
    height: 29px;
}

.popup_Body {
    padding: 15px 15px 15px 15px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    line-height: 15pt;
    clear: both;
    padding: 20px;
}

.popup_Body_1 {
    padding: 10px 10px 10px 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    color: #000000;
    line-height: 10pt;
    clear: both;
    padding: 10px;
}

.popup_Container {
    background-color: #fffeb2;
    border: 2px solid #000000;
    padding: 0px 0px 0px 0px;
}

.popupConfirmation {
    width: 300px;
    height: 200px;
}

.popupConfirmation_1 {
    width: 300px;
    height: 80px;
}

.popupConfirmation_html5 {
    width: auto;
    height: 80px;
}

.TitlebarLeft {
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
}

.TitlebarRight {
    background: url(images/cross_icon_normal.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

/* 2012-10-14 */

.LinkLetter:link {
    font-size: 18px;
    color: Blue;
    margin: 15px 2px;
    font-family: "Trebuchet MS";
    text-decoration: none;
    line-height: 25px;
}

.LinkLetter:hover {
    font-size: 18px;
    color: Blue;
    text-decoration: underline;
    line-height: 25px;
}

.LinkLetter:visited {
    font-size: 18px;
    color: Blue;
    font-family: "Trebuchet MS";
    text-decoration: none;
}

/* 2014-10-10 */

/*input[type="text"], input[type="password"], select {
    border: 1px solid #696950;
    border-radius: 5px;
    padding: 10px;
    width:200px;
}

select {
    width: 222px !important;
}

input[type="button"], input[type="submit"], #divForgotPassword a {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
    background: #6d6b6a;
    color: #f1eedd;
    font-weight:bold;
    text-transform:uppercase;
}*/

#divForgotPassword a {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: #6d6b6a;
    color: #f1eedd;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.modelHead {
    background: #8DC73F;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

#file-request-inner fieldset input[type="text"] {
    width: 197px;
}

.ajax__fileupload_fileItemInfo .removeButton {
    width: 70px !important;
}

.ajax__fileupload_uploadbutton {
    width: 75px !important;
}

.ajax_fileupload_cancelbutton {
    width: 68px !important;
}

.ajax__fileupload_dropzone {
    background-color: #e9e9e9;
    border: 2px dashed #ccc !important;
    line-height: 120px;
    margin-bottom: 2px;
    text-align: center;
    /*font-weight: bold;*/
    /*visibility: visible !important;
    display:block !important;*/
}



