<%@ Page Language="C#" MasterPageFile="~/MasterPageUI.master" AutoEventWireup="true"
    CodeFile="Contact.aspx.cs" Inherits="_ContactUs" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <tr>
        <td width="98" align="left" valign="top">
            <img src="Images/eFF_inside_row_5a.jpg" width="98" height="318" /></td>
        <td width="731" align="left" valign="top">
            <table width="791" height="191" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tr>
                    <td height="22" colspan="5" align="left" valign="top">
                        <img src="Images/eFF_plan_row_1.jpg" width="791" height="32" /></td>
                </tr>
                <tr>
                    <td width="43" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2a.jpg" width="43" height="250" /></td>
                    <td width="332" align="left" valign="top">
                        <img src="Images/eFF_contact_image1.gif" width="332" height="36" /><br />
                        <table width="330" border="0" cellspacing="0" cellpadding="5">

                            <tr>
                                <td valign="middle">
                                    <p class="style30">&nbsp;</p>
                                    <p class="style31">&nbsp;&nbsp;&nbsp;&nbsp;Call Us at: &nbsp;&nbsp;&nbsp;&nbsp;1-657-217-3260</p>
                                    <p class="style31">&nbsp;&nbsp;&nbsp;&nbsp;Email Us at:  &nbsp;<a href="mailto:info@edfiles.com">info@edfiles.com</a></p>
                                    <p class="style31">&nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle"><a href="register.html">
                                    <a href="Register.aspx"><img src="Images/eFF_contact_image2.gif" width="91" height="39" border="0" /></a></td>
                            </tr>
                        </table>
                    </td>
                    <td width="30" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2b.jpg" width="30" height="250" /></td>
                    <td width="328" align="left" valign="top">
                        <img src="Images/eFF_register_image3.gif" width="328" height="250" /><br />
                    </td>
                    <td width="58" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2c.jpg" width="58" height="250" /></td>
                </tr>
                <tr>
                    <td colspan="5" align="left" valign="top">
                        <img src="Images/eFF_plan_row_3.jpg" width="791" height="36" /></td>
                </tr>
            </table>
        </td>
        <td width="171" align="left" valign="top">
            <img src="Images/eFF_inside_row_5b.jpg" width="111" height="318" /></td>
    </tr>
    <tr>
      <td colspan="3"><img src="<%= ConfigurationManager.AppSettings["VirtualDir"] %>Images/eFF_row_6_inside.jpg" width="1000" height="27" /></td>
    </tr>

</asp:Content>
