<%@ Page Language="C#" MasterPageFile="~/MasterPageUI.master" AutoEventWireup="true"
    CodeFile="How_It_Works.aspx.cs" Inherits="_HowItWorks" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <tr>
        <td width="98" align="left" valign="top">
            <img src="Images/eFF_inside_row_5a.jpg" width="98" height="318" /></td>
        <td width="731" align="left" valign="top">
            <object
                type="application/x-shockwave-flash"
                data="Flash/eff_how.swf"
                width="791" height="318">
                <param name="movie" value="Flash/eff_how.swf" />
                <param name="quality" value="high" />
                <param name="wmode" value="opaque" />
                <param name="swfversion" value="6.0.65.0" />
                <div>
                    <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
                    <p><a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
                </div>
            </object>
        </td>
        <td width="171" align="left" valign="top">
            <img src="Images/eFF_inside_row_5b.jpg" width="111" height="318" /></td>
    </tr>
    <tr>
      <td colspan="3"><img src="<%= ConfigurationManager.AppSettings["VirtualDir"] %>Images/eFF_row_6_inside.jpg" width="1000" height="27" /></td>
    </tr>
</asp:Content>
