<%@ Page Language="C#" MasterPageFile="~/MasterPageUI.master" AutoEventWireup="true"
    CodeFile="Index.aspx.cs" Inherits="_Index" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-672921-3");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31985908-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <tr>
        <td colspan="3" align="left" valign="top">
            <img src="Images/eFF_row_4.jpg" width="1000" height="68" /></td>
    </tr>
    <tr>
        <td width="278" align="left" valign="top">
            <img src="Images/eFF_row_5a.jpg" width="278" height="233" /></td>
        <td width="432" align="left" valign="top">
            <object
                type="application/x-shockwave-flash"
                data="Flash/eff_home.swf"
                width="432" height="233">
                <param name="movie" value="Flash/eff_home.swf" />
                <param name="quality" value="high" />
                <param name="wmode" value="opaque" />
                <param name="swfversion" value="6.0.65.0" />
                <div>
                    <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
                    <p>
                        <a href="http://www.adobe.com/go/getflashplayer">
                            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a>
                    </p>
                </div>
            </object>
        </td>
        <td width="290" align="left" valign="top">
            <img src="Images/eFF_row_5b.jpg" width="290" height="233" /></td>
    </tr>
    <tr>
        <td colspan="3">
            <img src="Images/eFF_row_6_home.jpg" width="1000" height="44" /></td>
    </tr>

</asp:Content>
