﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="InvalidPage.aspx.cs" Inherits="InvalidPage" Title="" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table height ="330px" width="100%">
<tr>
<td align ="center" height="50px" ></td>
</tr>
<tr>
<td align ="center"  valign="middle"><p class="podnaslov" style="font-size:medium;padding: 5px; background-color: #f6f5f2;"> Your Trial Period has already expired or total storage is over 50 Mb.  Please purchase a Qty. of EdFiles by clicking <asp:HyperLink ID="HyperLink1" NavigateUrl="~/Office/PurchasePage.aspx" Text="here" runat="server" /> </p>
</td>
</tr>
<td align ="center" height="50px" ></td>
</tr>
</table>

</asp:Content>
