<%@ Page Language="C#" MasterPageFile="~/MasterPageUI.master" AutoEventWireup="true"
    CodeFile="Plans_Pricing.aspx.cs" Inherits="_PlansPricing" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    
    <script language="javascript">
        window.location = "http://www.edfiles.com/StorageConversion.aspx";
    </script>
</asp:Content>
