<%@ Page Language="C#" MasterPageFile="~/MasterPageUI.master" AutoEventWireup="true"
    CodeFile="Register.aspx.cs" Inherits="_Register" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <tr>
        <td width="98" align="left" valign="top">
            <img src="Images/eFF_inside_row_5a.jpg" width="98" height="318" /></td>
        <td width="731" align="left" valign="top">
            <table width="791" height="191" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tr>
                    <td height="22" colspan="5" align="left" valign="top">
                        <img src="Images/eFF_plan_row_1.jpg" width="791" height="32" /></td>
                </tr>
                <tr>
                    <td width="43" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2a.jpg" width="43" height="250" /></td>
                    <td width="332" align="left" valign="top">
                        <img src="Images/eFF_register_image1.gif" width="332" height="54" /><br />
                        <form id="form1" name="form1" method="post" action="">
                        <table width="330" border="0" cellspacing="0" cellpadding="5">
                            <tr>
                                <td width="165" valign="middle">                                    
                                        <label>
                                            <input name="textfield" type="text" value="First Name" />
                                        </label>                                    
                                </td>
                                <td width="165" valign="middle">
                                    <label>
                                            <input name="textfield2" type="text" value="Last Name" />
                                        </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="middle">
                                    <label>
                                            <input name="textfield3" type="text" value="Email" size="44" />
                                        </label>
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle">
                                    <label>
                                            <input name="textfield4" type="text" value="Password" />
                                        </label>
                                </td>
                                <td valign="middle">
                                    <label>
                                            <input name="textfield5" type="text" value="Password Confirm" />
                                        </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" valign="middle">
                                        <label>
                                            <input type="checkbox" name="checkbox" value="checkbox" />
                                        </label>
                                        <span class="style30">I agree to edfiles.com Terms of Service                    </span>
                                    
                                </td>
                            </tr>
                        </table>
                        <br />
                        <img src="Images/eFF_register_image2.gif" align="center" style="margin-left:130px"/></td>
                    <td width="30" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2b.jpg" width="30" height="250" /></td>
                    <td width="328" align="left" valign="top">
                        <img src="Images/eFF_register_image3.gif" width="328" height="250" /><br />
                    </td>
                    <td width="58" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2c.jpg" width="58" height="250" /></td>
                </tr>
                <tr>
                    <td colspan="5" align="left" valign="top">
                        <img src="Images/eFF_plan_row_3.jpg" width="791" height="36" /></td>
                </tr>
            </table></form>
        </td>
        <td width="171" align="left" valign="top">
            <img src="Images/eFF_inside_row_5b.jpg" width="111" height="318" /></td>
    </tr>
    <tr>
        <td colspan="3">
            <img src="Images/eFF_row_6_inside.jpg" width="1000" height="27" /></td>
    </tr>
</asp:Content>
