<%@ Page Language="C#" MasterPageFile="~/MasterPageUI.master" AutoEventWireup="true"
    CodeFile="SignIn.aspx.cs" Inherits="_SignIn" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <tr>
        <td width="98" align="left" valign="top">
            <img src="Images/eFF_inside_row_5a.jpg" width="98" height="318" /></td>
        <td width="731" align="left" valign="top">
            <table width="791" height="191" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tr>
                    <td height="22" colspan="5" align="left" valign="top">
                        <img src="Images/eFF_plan_row_1.jpg" width="791" height="32" /></td>
                </tr>
                <tr>
                    <td width="43" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2a.jpg" width="43" height="250" /></td>
                    <td width="332" align="left" valign="top">
                        <img src="Images/eFF_signin_image1.gif" width="332" height="40" /><br />
                        <%--<form id="form2" name="form2" method="post" runat='server'>--%>
                            <asp:Login ID="login1" RememberMeSet="false" runat="server" OnAuthenticate="Login" runat="server">
                    <LayoutTemplate>
                            <table width="330" border="0" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td valign="middle">
                                       <%-- <input name="textfield" type="text" value="Username / Email" size="42" />--%>
                                       <%-- <asp:TextBox ID="Password" TextMode="Password" placeholder="Username \/ Email" runat="server" />--%>
                                        <asp:TextBox ID="UserName" runat="server" MaxLength="42" placeholder="Username / Email"  size="42"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle">
                                        <%--<input name="textfield3" type="text" value="Password" size="42" />--%>
                                        <asp:TextBox ID="Password" TextMode="Password"  MaxLength="22"  placeholder="Password" runat="server" size="42"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle">
                                        <label>
                                            <%--<input type="checkbox" name="checkbox" value="checkbox" />--%>
                                            <asp:CheckBox ID="RememberMe" runat="server" />
                                        </label>
                                        <span class="style30">Remember me                     </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="middle"><%--<span class="style30">Forgot your password?</span>--%>
                                        <asp:LinkButton ID="libForgotP" runat="server" CssClass="podnaslov"
                                            Text="Forgot Your Password?" OnClick="libForgotP_Click"></asp:LinkButton>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">
                                        <asp:ImageButton ID="LoginButton"  runat="server" CommandName="Login" ImageUrl="Images/eFF_signin_image2.gif" 
                                           />
                                        <%--<img src="Images/eFF_signin_image2.gif" width="88" height="37" />--%></td>
                                </tr>
                            </table></LayoutTemplate>
                </asp:Login>
                       <%-- </form>--%>
                    </td>
                    <td width="30" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2b.jpg" width="30" height="250" /></td>
                    <td width="328" align="left" valign="top">
                        <img src="Images/eFF_register_image3.gif" width="328" height="250" /><br />
                    </td>
                    <td width="58" align="left" valign="top">
                        <img src="Images/eFF_plan_row_2c.jpg" width="58" height="250" /></td>
                </tr>
                <tr>
                    <td colspan="5" align="left" valign="top">
                        <img src="Images/eFF_plan_row_3.jpg" width="791" height="36" /></td>
                </tr>
            </table>
        </td>
        <td width="171" align="left" valign="top">
            <img src="Images/eFF_inside_row_5b.jpg" width="111" height="318" /></td>
    </tr>
    <tr>
        <td colspan="3">
            <img src="Images/eFF_row_6_inside.jpg" width="1000" height="27" /></td>
    </tr>
</asp:Content>
