<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DocFind.ascx.cs" Inherits="Controls_DocFind" %>

<table border="0" cellpadding="0" cellspacing="0" style="margin: 10px 0 20px 10px;" >
    <tr>
      <td height="20" colspan="3" align="left" valign="top" class="tekstDef" style="padding-top:0px;padding-bottom:0px;">Enter search term: (DocumentName, FolderName, tabName)        <asp:TextBox ID="txtKey" runat="server" class="form_tekst_field" maxlength = "50"/> 
      <%--<asp:ImageButton id="btnSearch" runat="server" CausesValidation="false" ImageUrl="~/images/search_btn.gif" width="60" height="21"  OnClick="btnSearch_Click"/>--%>
      <asp:Button id="btnSearch" runat="server" CausesValidation="false" Text="Search" width="60" height="21"  OnClick="btnSearch_Click"/>
      </td>
    </tr>
    
  </table>