<%@ Control Language="C#" AutoEventWireup="true" CodeFile="QuickSearch.ascx.cs" Inherits="QuickSearch" %>
<div style="background-image:url(../images/bg_d.gif);height:116px;">
        <div class="Naslov_Plav" style="width:200px;">Quick Find</div>
          <table width="218" border="0" cellpadding="0" cellspacing="0" style="margin:10px 0 20px 10px;">
            <tr>
              <td height="20" colspan="3" align="left" valign="top" class="tekstDef" style="padding-top:0px;padding-bottom:0px;">Enter search term: (lastname, firstname..)</td>
              </tr>
            <tr>
              <td colspan="2" align="left" class="podnaslov"><input name="textfield3" type="text" class="form_tekst_field" id="textfield3" size="20" maxlength="50"/></td>
              <td width="128"><asp:Button id="searchButton1" runat="server" Text="Search" width="60" height="21" /></td>
              </tr>
          </table></div>