﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RegisterDirectly.ascx.cs" Inherits="Controls_RegisterDirectly" %>
<div class="calling-block">
    <span>Register directly by calling</span>
   <%-- <span class="call-number">800-579-9190</span>--%>
     <span class="call-number">1-657-217-3260</span>    
<!--    <span class="free-assistance">FREE to further assistance.</span>
    <span class="free-assistance"><a href="<%= ConfigurationManager.AppSettings["VirtualDir"] %>InstallAIR.aspx">Download eFileFolder Viewer.</a>-->
</span>
</div>
