<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SignUpControl.ascx.cs" Inherits="SignUpControl" %>

<table width="100" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td style="height: 28px"><span class="Form_tekst">Login</span></td>
    <td style="height: 28px"><asp:TextBox name="textUserName" class="form_tekst_field" id="textfield2" runat="server" size="10" /></td>
    <td style="height: 28px"><asp:TextBox name="textPassword" class="form_tekst_field" id="textfield" runat="server" size="10" /></td>
    <td style="height: 28px"><asp:ImageButton name="Submit" ID="ImageButton1" runat="server" value="GO" ImageUrl="~/images/go_btn.gif" align="absbottom" /></td>
  </tr>
</table>
