<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UserFind.ascx.cs" Inherits="Controls_UserFind" %>

<h3>Quick Find</h3>
<p>Enter search term: (Company Name, Last name, Email, Address)</p>
<div class="find-inputbox">
<asp:TextBox ID="txtKey" runat="server"  MaxLength = "50" class="find-input"/> 
<%--<asp:ImageButton id="btnSearch" runat="server" CausesValidation="false" ImageUrl="~/images/search_btn.gif" width="60" height="21"  OnClick="btnSearch_Click"/>--%>
    <asp:Button ID="searchButton1" runat="server" ImageAlign="AbsMiddle" CausesValidation="false" Text="Search" OnClick="btnSearch_Click" class="quick-find-btn btn green" />
    </div>