Button {
	cornerRadius: 5;
	paddingLeft: 0; paddingRight: 0; paddingTop: 0; paddingBottom: 0;
	highlightAlphas: 0.3, 0.1;
	fillAlphas: 0, 0.4, 0.1, 0.5;
	fillColors: #ffffff, #ffffff, #ffffff, #eeeeee;
	color: #cc0000;
	textRollOverColor: #ff6600;
	textSelectedColor: #ff0000;
	borderColor: #eeeeee;
	themeColor: #eeeeee;
	fontFamily: 'Trebuchet MS';
	fontSize: 13;
	fontWeight: normal;
}

LinkButton {
	cornerRadius: 0;
	rollOverColor: #e9efe9;
	selectionColor: #ffffff;
	color: #ffffff;
	textRollOverColor: #2b333c;
	textSelectedColor: #2b333c;
	fontFamily: 'Trebuchet MS';
	fontSize: 13;
}

LinkButton.URL {
	cornerRadius: 13;
	rollOverColor: #e9efe9;
	selectionColor: #ffffff;
	color: #e1eae1;
	textRollOverColor: #2b333c;
	textSelectedColor: #2b333c;
	fontFamily: 'Trebuchet MS';
	fontSize: 13;
}
.full {
	left:0;
	right:0;
	top:0;
	bottom:0;
}