/* Steve jobs' book */

@font-face {
	font-family: 'Stempel-Garamond-W01-Roman';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}
body {
	/*background-color: transparent;*/
	/*font-size: 62.5% !important;*/
    font-size: 52.5% !important;
	margin: 0;
	padding: 0
}
.animated {
	-webkit-transition: margin-left 0.2s ease-in-out;
	-moz-transition: margin-left 0.2s ease-in-out;
	-o-transition: margin-left 0.2s ease-in-out;
	-ms-transition: margin-left 0.2s ease-in-out;
	transition: margin-left 0.2s ease-in-out;
}
.preview {
	height: 800px;
}
.splash {
	-moz-transition: height 1s ease 0s;
	background: transparent;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#book-wrapper-bkup{
	width: 1366px;
	height: 700px;
	position: relative;
	overflow: visible;
}

#book-wrapper {
	width: 500px;
	height: 320px;
	position: relative;
	overflow: visible;
}

#book-content {
	margin: 0 auto;
	width: 1000px;
	height: 650px;
}


#book-zoom {
	height: 630px;
	left: -480px;
	overflow: visible;
	position: relative;
	top: -320px;
	width: 960px;
	display: none;
}
.sj-book {
	width: 960px;
	height: 666px;
	position: relative !important;
	top: -333px;
	left: -480px;
	overflow: visible !important;
}
.sj-book .depth {
	background-image: url(../pics/depth.png);
	position: absolute;
	top: 0px;
	width: 12px;
	height: 532px;
}
.sj-book .front-side .depth {
	left: 0px;
	background-position: 0 0;
}
.sj-book .back-side {
	background-color: #E6E6E6;
	position: absolute;
    background-image: -moz-linear-gradient(left center, #CACACA 0%, #E9E9E9 5%, #EDEDED 95%, #CACACA 100%) !important;/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera 11.10+ */
	/* IE10+ */
	/* W3C */
}
.sj-book .back-side .depth {
	right: 0px;
	background-position: right 0;
}
.sj-book h1 {
	font-family: "Stempel-Garamond-W01-Roman";
	font-size: 3.8em;
	font-weight: lighter;
	margin: 20px 0;
	color: #333;
	-webkit-text-fill-color: #333;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.005em;
}
.sj-book h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	font-size: 1.6em;
	letter-spacing: 2px;
	font-weight: 400;
}
.sj-book .book-content {
	font-family: "Stempel-Garamond-W01-Roman";
	font-size: 1.6em;
	margin: 70px 40px;
}
.sj-book blockquote {
	color: #586078;
	margin: 10px 0;
	font-style: italic;
}
.sj-book blockquote:before {
	content: "\201C";
	color: #333D53;
	font-size: 2em;
}
.sj-book blockquote:after {
	content: "\201D";
	color: #333D53;
	font-size: 2em;
}
.sj-book cite {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: 200;
	font-style: normal;
	color: #666;
}
.sj-book .book-content .center-pic {
	margin: 0;
	text-indent: 0;
	text-align: center;
}
.sj-book .zoom-this:hover {
	opacity: 0.9;
	cursor: pointer;
}
.sj-book .book-content p {
	text-indent: 18px;
	margin: 20px 0;
	line-height: 22px;
}
.sj-book .left-pic {
	float: left;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.animated {
	-webkit-transition: margin-left 0.2s ease-in-out;
	-moz-transition: margin-left 0.2s ease-in-out;
	-o-transition: margin-left 0.2s ease-in-out;
	-ms-transition: margin-left 0.2s ease-in-out;
	transition: margin-left 0.2s ease-in-out;
}
.sj-book .shadow {
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	-ms-box-shadow: 0 0 10px #999;
	-o-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 0px;
	border-top-left-radius: 15px;
	border-color: #FCDB6A;
	background-color: #FC6;
	border-width: 0px;
	border-style: solid;
	background-image: url(../pics/spine.png);
	background-repeat: repeat-y;
	background-position: center;
	z-index: -99999999 !important; /*make the shadow border invisible when corners*/
    
}
.sj-book .page {
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.zoom-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	z-index: 999;
}
.zoom-pic img {
	-webkit-box-shadow: 0 0 20px #999;
	-moz-box-shadow: 0 0 20px #999;
	-o-box-shadow: 0 0 20px #999;
	-ms-box-shadow: 0 0 20px #999;
	box-shadow: 0 0 20px #999;
}
.sj-book .p1 {
	background-position: 0 0;
	background-color: white;
	overflow: visible !important;
}
/*.sj-book .p2*/
.sj-book .front-side {
	background-color: #E6E6E6 !important;
	overflow: visible !important;
    position: absolute;
    background-image: -moz-linear-gradient(left center, #CACACA 0%, #E9E9E9 5%, #EDEDED 95%, #CACACA 100%) !important;/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera 11.10+ */
	/* IE10+ */
	/* W3C */
 	/* IE6-9 */
	}
.sj-book .p1 div {
	overflow: visible !important;
}
.sj-book .p2 div {
	overflow: visible !important;
}
.sj-book .copyright {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	font-size: 1.8em;
	overflow: hidden;
	position: relative !important;
	text-align: center;
	top: 40% !important;
	vertical-align: middle;
}
.sj-book .page-wrapper {
	-webkit-perspective: 2000;
	-moz-perspective: 2000;
	-ms-perspective: 2000;
	perspective: 2000;
}
.sj-book .even {
	background-image: linear-gradient(left, #fff 95%, #dadada 100%);
	}
.sj-book .odd {
	background-image: linear-gradient(right, #fff 95%, #cacaca 100%);
	}
.sj-book .loader {
	background-image: url(../pics/loader.gif);
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.sj-book .loading {
	background-image: url(../pics/loader.gif);
	width: 22px;
	height: 22px;
	margin:0;
}

.sj-book .page-number {
	color: #999;
	width: 100%;
	bottom: 25px;
	position: absolute;
	display: block;
	text-align: center;
	line-height: 30px;
	font-size: 1.1em;
}
.sj-book .table-contents {
	margin: 80px auto;
	color: #ccc;
}
.sj-book .table-contents li {
	list-style: none;
	line-height: 25px;
}
.sj-book .table-contents span {
	float: right;
}
.sj-book .table-contents a {
	float: left;
	width: 100%;
	clear: both;
	text-decoration: none;
	color: #333;
	margin: 2px 0;
	padding: 0 10px;
}
.sj-book .table-contents a:hover {
	background: #CAD1EE;
	float: left;
	width: 100%;
	clear: both;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}
.sj-book .book-content .capital, .sj-book .book-content .no-indent {
	text-indent: 0;
}
.sj-book .capital:first-letter {
	display: block;
	float: left;
	font-size: 3em;
	line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left: 18px;
}
#book-wrapper .bar {
	height: 40px;
	width: 720px;
	overflow: hidden;
	top: 5px;
	left: 50%;
	margin-left: -360px;
	opacity: 1;
	-webkit-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	transition: opacity 0.1s;
	display: none;
	position: fixed;
}
#book-wrapper .bar .share {
	margin-top: 5px;
	text-align: center;
}
#book-wrapper .bar .share .icon {
	margin: 0 20px;
	cursor: pointer;
}
#book-wrapper .tool {
	height: 40px;
	width: 720px;
	overflow: hidden;
	bottom: 5px;
	left: 50%;
	margin-left: -360px;
	opacity: 1;
	-webkit-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	transition: opacity 0.1s;
	position: fixed;
    display: none;
}
#book-wrapper .tool .share {
	margin-top: 10px;
	text-align: left;
}
#book-wrapper .tool .share .icon {
	margin: 0 20px;
	cursor: pointer;
}
.icon {
	background-image: url("../pics/sprites.png");
	display: inline-block;
	height: 22px;
	width: 22px;
}
.tool .quit {
	background-position: -24px 0;
	position: absolute;
	right: 0;
	top: 10px;
}
.tool .quit:hover {
	background-position: 0 0;
}
#book-zoom .back {
	background-position: -44px 0;
	cursor: default;
	position: absolute;
	right: 0;
	top: 10px;
}
#book-zoom .back:hover {
	background-position: -66px 0;
}
.navigator {
	border: none;
	width: 100%;
	height: 25px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.arrow-up {
	background: url(../pics/br_up.png) no-repeat transparent;
	width: 16px;
	height: 10px;
	position: absolute !important;
	margin-left: -8px !important;
	left: 50% !important;
}
.arrow-down {
	background: url(../pics/br_down.png) no-repeat transparent;
	width: 16px;
	height: 10px;
	position: absolute !important;
	margin-left: -8px !important;
	left: 50% !important;
	bottom: 20px;
}
.table-contents {
	background-position: -48px 0;
}

.quick-note {
	background-position: -432px 0;
}

.quick-note:hover {
	background-position: -456px 0;
}


.search-qotes {
	background-position: -88px 0;
}

.page-note {
	background-position: -480px 0;
	cursor: pointer;
}

.page-note:hover {
	background-position: -504px 0;
	cursor: pointer;
}

.zoom-in {
	background-position: -672px 0;
	cursor: pointer;
}

.zoom-in:hover {
	background-position: -696px 0;
	cursor: pointer;
}

.zoom-out {
	background-position: -720px 0;
	cursor: pointer;
}

.zoom-out:hover {
	background-position: -744px 0;
	cursor: pointer;
}

.prevs-page{
    background-position: -240px 0;
}

.prevs-page:hover{
    background-position: -264px 0;
}

.next-page{
    background-position: -192px 0;
}

.next-page:hover{
    background-position: -216px 0;
}

.search-book
{
    background-position: -576px 0;
}

.search-book:hover{
    background-position: -600px 0;
}

.back{
    background-position: -624px 0;
}

.back:hover{
    background-position: -648px 0;
}

.print-page{
    background-position: -384px 0;
}

.print-page:hover{
    background-position: -408px 0;
}

.download-file{
    background-position: -528px 0;
}

.download-file:hover{
    background-position: -552px 0;
}

.share-facebook {
	background-position: -110px 0;
}

.share-book {
	background-position: -288px 0;
}

.share-book:hover {
	background-position: -312px 0;
}

.share-pinterest {
	background-position: -154px 0;
}

.share-email {
	background-position: -336px 0;
}

.share-email:hover {
	background-position: -360px 0;
}

.table-contents:hover {
    background-position: -72px 0;
}

.zoom-in-hover {
	background-position: -176px -22px;
}
.zoom-out-hover {
	background-position: -176px -22px;
}
.share-facebook-hover {
	background-position: -110px -22px;
}
.share-twitter-hover {
	background-position: -132px -22px;
}
.share-pinterest-hover {
	background-position: -154px -22px;
}
.share-email-hover {
	background-position: -176px -22px;
}
.sj-book .table-content {
	margin: 20px auto;
	height: 90%;
}
.sj-book .toc-wrapper {
	font-size: 1.6em;
	margin: 1.5em auto;
	padding: 10px;
	/*width: 100%;*/
	overflow: hidden;
	border: none;
	background: transparent;
}

#toc-19June2015 {
	list-style: decimal outside;
	height: 25em;
	/*margin: 0 16px;*/
	font-size: 1em;
	background: transparent;
	overflow: hidden;
}

#toc {
	/*list-style: decimal outside;*/
	height: 8em;
	/*margin: 0 16px;*/
	font-size: 1em;
	background: transparent;
	overflow: hidden;
}
#toc .toc-li {
	font-size: 1em;
	margin: 2px 2px 2px 1.8em;
	text-decoration: none;
	overflow: visible;
    padding: 3px;
    border-radius: 5px;
}

#toc .toc-li:hover{
    background-color: #cad1ee;
}

#toc .li-span {
	display: inline-block;
	position: relative;
	float: left;
	color: #000;
}
#toc .li-span:hover {
	color: #09F !important;
}
#toc .li-a {
	float: right;
	text-decoration: none;
	clear: none;
	font-size: 1em;
	display: inline-block;
	position: relative;
	color: #990000;
}
#toc .li-a:hover {
	color: #09F !important;
}
.sj-book .table-content-title {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 1.1em;
	margin-top: 1.2em;
}
.sj-book .table-content-title span {
	font-size: 1em;
}
.sj-book .table-content-filter {
	text-align: center;
	font-size: 1.6em;
	margin: 16px auto;
	background: transparent;
}


#item-filter-input-15June2015 {
	border-radius: 5px;
	font-size: 1em;
	width: 12em;
}

#item-filter-input {
	border-radius: 5px;
	font-size: 0.8em;
	width: 10em;
}

.sj-book .text-insert-effect {
	color: #CCCCCC;
	background: none repeat scroll 0 0 transparent;
	text-shadow: -1px -1px #666, 1px 1px #FFF;
}
.sj-book .text-bold-effect {
	font-weight: bold;
}
.sj-book .text-filter-box {
	border: none;
}
.sj-book .ipnut-filter-text {
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 1px #666 inset;
	-moz-box-shadow: 0 0 1px #666 inset;
	box-shadow: 0 0 1px #666 inset;
	height: 1.6em;
	line-height: 2em;
	width: 20em;
	margin: 3px;
	background-color: #FFF;
}
.sj-book .toc-logo {
	position: absolute;
	display: inline-block;
	text-align: center;
	bottom: 1em;
	margin: 0 auto;
	border: none;
	width: 85%;
	font-size: 1.8em;
	background: transparent;
}
#shelf {
	height: 580px;
	left: -360px;
	overflow: visible;
	position: relative;
	top: -240px;
	width: 720px;
	/*-moz-transform: scale(1.1);*/
}

#shelf-new {
	height: 580px;
	left: 0;
	overflow: visible;
	position: relative;
	top: 0;
	width: 720px;
	/*-moz-transform: scale(1.1);*/
}

#book-wrapper-bkup .container {
	height: 1024px;
	left: 50%;
	margin: 0px auto;
	position: absolute;
	top: 50%;
	width: 1360px;
	overflow: visible;
}

#book-wrapper .container {
	height: 340px;
	left: 0;
	margin: 0px auto;
	position: absolute;
	top: 0;
	width: 440px;
	overflow: visible;
}

#book-wrapper .container .flash-20June2015 {
	float: left;
	height: 128px;
	left: -64px;
	overflow: visible;
	position: absolute;
	top: -64px;
	width: 128px;
    z-index:9999999;
    display:none;
}


#book-wrapper .container .flash {
	float: left;
	height: 128px;
	left: 156px;
	overflow: visible;
	position: absolute;
	top: 75px;
	width: 128px;
    z-index:9999999;
    display:none;
}

#shelf .flipbook .loaded {
	background: no-repeat transparent !important;
}
#shelf .flipbook .loading {
	background: url('../pics/loader.gif') no-repeat transparent !important;
}
#shelf .flipbook {
	width: 720px;
	height: 450px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.5) 3px 5px 0 2px; /* spread */
	margin-top: -15px;
	background-repeat: no-repeat;
	border-color: #FCDB6A;
	border-top-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-style: solid;
	position: absolute;
	z-index: auto;
	background-image: linear-gradient(left bottom, rgb(239,158,72) 45%, rgb(255,193,92) 73%);
	background-image: -o-linear-gradient(left bottom, rgb(239,158,72) 45%, rgb(255,193,92) 73%);
	background-image: -moz-linear-gradient(left bottom, rgb(239,158,72) 45%, rgb(255,193,92) 73%);
	background-image: -webkit-linear-gradient(left bottom, rgb(239,158,72) 45%, rgb(255,193,92) 73%);
	background-image: -ms-linear-gradient(left bottom, rgb(239,158,72) 45%, rgb(255,193,92) 73%);
	-pie-background: no-repeat, linear-gradient(#EF9E48, #FFC15C); /*PIE*/
	background-color: #FFC15C;
	behavior: url('/lib/pie.htc');
}

#shelf .flipbook-back-17June2015 {
	height: 45px;
	width: 320px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 15px;
	/*border-collapse: collapse;*/
	box-shadow: rgba(0,0,0,0.4) 0px 2px 0 0px; /* spread */
	behavior: url('../lib/pie.htc');
	margin-left: 2px;
	top: 0;
	background-color: #FFB957;
	background-repeat: no-repeat;
	border-bottom: 0px;
	border-left: 2px #FCDB6A;
	border-right: 0px #FCDB6A;
	border-top: 2px #FCDB6A;
	border-style: solid;
	/*position:absolute;*/
	z-index: auto;
}

#shelf .flipbook-back {
	height: 35px;
	width: 220px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 15px;
	/*border-collapse: collapse;*/
	box-shadow: rgba(0,0,0,0.4) 0px 2px 0 0px; /* spread */
	behavior: url('../lib/pie.htc');
	margin-left: 2px;
	top: 0;
	background-color: #FFB957;
	background-repeat: no-repeat;
	border-bottom: 0px;
	border-left: 2px #FCDB6A;
	border-right: 0px #FCDB6A;
	border-top: 2px #FCDB6A;
	border-style: solid;
	/*position:absolute;*/
	z-index: auto;
}

#shelf .triangle-right-17June2015 {
	position: relative;
	width: 0px;
	height: 0px;
	right: 0;
	top: 0;
	margin-top: -2px;
	border-top: 50px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 50px solid #FFB957;
	margin-left: 319px;
}

#shelf .triangle-right {
	position: relative;
	width: 0px;
	height: 0px;
	right: 0;
	top: 0;
	margin-top: -2px;
	border-top: 50px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 50px solid #FFB957;
	margin-left: 218px;
}

.sj-book .book_header-17June2015 {
	height: 260px;
	width: 60px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 0px;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	-ms-box-shadow: 0 0 10px #999;
	-o-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 0px #999;
	background-color: #FC6;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 0px #FCDB6A;
	border-right: 2px #FCDB6A;
	border-top: 2px #FCDB6A;
	border-style: solid;
	float: right !important;
	position: absolute !important;
	top: 0px !important;
	right: 0px !important;
	margin-right: -25px !important;
	left: auto !important;
	z-index: auto;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
}

.sj-book .book_header {
	height: 120px;
	width: 60px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 0px;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	-ms-box-shadow: 0 0 10px #999;
	-o-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 0px #999;
	background-color: #FC6;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 0px #FCDB6A;
	border-right: 2px #FCDB6A;
	border-top: 2px #FCDB6A;
	border-style: solid;
	float: right !important;
	position: absolute !important;
	top: 0px !important;
	right: 0px !important;
	margin-right: -15px !important;
	left: auto !important;
	z-index: auto;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
}

.sj-book .book_header_shadow-17June2015 {
	height: 260px;
	width: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 0px;
	/*border-collapse:inherit;	*/
	
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	-ms-box-shadow: 0 0 10px #999;
	-o-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
	background-color: #FC6;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 0px #FCDB6A;
	border-right: 2px #FCDB6A;
	border-top: 2px #FCDB6A;
	border-style: solid;
	float: right !important;
	position: absolute !important;
	top: 0px !important;
	right: 0px !important;
	margin-right: -25px !important;
	/*	margin-top:-2px !important;*/
	left: auto !important;
	z-index: auto;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
}

.sj-book .book_header_shadow {
	height: 120px;
	width: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 0px;
	/*border-collapse:inherit;	*/
	
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	-ms-box-shadow: 0 0 10px #999;
	-o-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
	background-color: #FC6;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 0px #FCDB6A;
	border-right: 2px #FCDB6A;
	border-top: 2px #FCDB6A;
	border-style: solid;
	float: right !important;
	position: absolute !important;
	top: 0px !important;
	right: 0px !important;
	margin-right: -13px !important;
	/*	margin-top:-2px !important;*/
	left: auto !important;
	z-index: auto;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
}

.sj-book .triangle-bottom-17June2015 {
	position: relative;
	width: 35px;
	height: 35px;
	border-top: 0px solid transparent;
	border-bottom: 2px solid #FCDB6A;
	border-left: 0px solid transparent;
	background-color: #FC6 !important;
	float: right !important;
	clear: both !important;
	position: absolute !important;
	top: 224px;
	right: 0px !important;
	margin-right: -2px !important;
	left: auto !important;
	-webkit-box-shadow: 0 0 0px #999;
	-moz-box-shadow: 0 0 0px #999;
	-ms-box-shadow: 0 0 0px #999;
	-o-box-shadow: 0 0 0px #999;
	box-shadow: 0 0 0px #999;
	transform-origin: bottom right;
	-ms-transform-origin: bottom right; /* IE 9 */
	-webkit-transform-origin: bottom right; /* Safari and Chrome */
	-moz-transform-origin: bottom right; /* Firefox */
	-o-transform-origin: bottom right; /* Opera */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.sj-book .triangle-bottom {
	position: relative;
	width: 35px;
	height: 35px;
	border-top: 0px solid transparent;
	border-bottom: 2px solid #FCDB6A;
	border-left: 0px solid transparent;
	background-color: #FC6 !important;
	float: right !important;
	clear: both !important;
	position: absolute !important;
	top: 85px;
	right: 0px !important;
	margin-right: -2px !important;
	left: auto !important;
	-webkit-box-shadow: 0 0 0px #999;
	-moz-box-shadow: 0 0 0px #999;
	-ms-box-shadow: 0 0 0px #999;
	-o-box-shadow: 0 0 0px #999;
	box-shadow: 0 0 0px #999;
	transform-origin: bottom right;
	-ms-transform-origin: bottom right; /* IE 9 */
	-webkit-transform-origin: bottom right; /* Safari and Chrome */
	-moz-transform-origin: bottom right; /* Firefox */
	-o-transform-origin: bottom right; /* Opera */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.sj-book .triangle-bottom-shadow-17June2015 {
	position: relative;
	width: 35px;
	height: 0px;
	border-top: 0px solid transparent;
	border-bottom: 2px solid #FCDB6A;
	border-left: 0px solid transparent;
	background-color: #FC6 !important;
	float: right !important;
	clear: both !important;
	position: absolute !important;
	top: 260px;
	right: 0px !important;
	margin-right: -2px !important;
	left: auto !important;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	-ms-box-shadow: 0 0 10px #999;
	-o-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
	transform-origin: bottom right;
	-ms-transform-origin: bottom right; /* IE 9 */
	-webkit-transform-origin: bottom right; /* Safari and Chrome */
	-moz-transform-origin: bottom right; /* Firefox */
	-o-transform-origin: bottom right; /* Opera */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.sj-book .triangle-bottom-shadow {
	position: relative;
	width: 35px;
	height: 0px;
	border-top: 0px solid transparent;
	border-bottom: 2px solid #FCDB6A;
	border-left: 0px solid transparent;
	background-color: #FC6 !important;
	float: right !important;
	clear: both !important;
	position: absolute !important;
	top: 120px;
	right: 0px !important;
	margin-right: -2px !important;
	left: auto !important;
	-webkit-box-shadow: 0 0 10px #999;
	-moz-box-shadow: 0 0 10px #999;
	-ms-box-shadow: 0 0 10px #999;
	-o-box-shadow: 0 0 10px #999;
	box-shadow: 0 0 10px #999;
	transform-origin: bottom right;
	-ms-transform-origin: bottom right; /* IE 9 */
	-webkit-transform-origin: bottom right; /* Safari and Chrome */
	-moz-transform-origin: bottom right; /* Firefox */
	-o-transform-origin: bottom right; /* Opera */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

#shelf .logo {
	color: #060;
	font-size: 1.8em;
    bottom:25px;
    right:25px;
	letter-spacing: 2px;
	text-shadow: 1px 3px 3px #000;
    position:absolute;    
}
#logo {
	width: 103px;
	height: 100px;
    bottom:50px;
    right:80px;
    position:absolute;   
	background: url('../pics/crossfront1.png');
	background-repeat: no-repeat;
}
#shelf .logo a:link {
	text-decoration: none;
	color: #060;
}
#shelf .logo a:visited {
	text-decoration: none;
	color: #060;
}
#shelf .page {
	width: 600px;
	height: 461px;
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.flipbook .page {
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
#shelf .page img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
}
#shelf .shadow {
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	-o-box-shadow: 0 0 20px #ccc;
	-ms-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}
.arrow-right {
	width: 100px;
	height: 100px;
	border-top: 0px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid green;
	box-shadow: 0 0 10px #999;
	background-color: transparent;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid blue;
}

#shelf #dividers-17June2015 {
	position: relative;
	float: left;
	margin-top: -55px;
	margin-left: 5px;
	padding-left: 15px;
	font-size: 1.6em;
	text-align: center;
	border: none;
	vertical-align: middle;
}

#shelf #dividers {
	position: relative;
	float: left;
	margin-top: -45px;
	margin-left: 5px;
	padding-left: 15px;
	font-size: 1.6em;
	text-align: center;
	border: none;
	vertical-align: middle;
}

#shelf .divider-17June2015 {
	float: left;
	height: 40px;
	width: 100px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-collapse: separate;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	background-color: #0F0;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 1px #FCDB6A;
	border-right: 1px #FCDB6A;
	border-top: 1px #FCDB6A;
	border-style: solid;
	list-style: none;
	list-style-type: none;
	text-align: center;
	text-overflow: ellipsis;
	text-justify: inter-word;
	text-shadow: 0px 2px 2px #000;
	color: white;
	overflow: hidden;
	margin-right: 2px;
	z-index: 99;
	cursor: pointer;	
}

#shelf .divider {
	float: left;
	height: 30px;
	width: 100px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-collapse: separate;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	background-color: #0F0;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 1px #FCDB6A;
	border-right: 1px #FCDB6A;
	border-top: 1px #FCDB6A;
	border-style: solid;
	list-style: none;
	list-style-type: none;
	text-align: center;
	text-overflow: ellipsis;
	text-justify: inter-word;
	text-shadow: 0px 2px 2px #000;
	color: white;
	overflow: hidden;
	margin-right: 2px;
	z-index: 99;
	cursor: pointer;	
}

#shelf .divider:hover-17June2015 {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	text-shadow: 0px 2px 2px #000;
	padding-bottom: 15px;
	margin-top: -15px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	
	box-sizing: none !important; /*by shoaib */
}

#shelf .divider:hover {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	box-shadow: 0 0 10px rgba(0,0,0,0.7);
	text-shadow: 0px 2px 2px #000;
	padding-bottom: 10px;
	margin-top: -10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	
	box-sizing: none !important; /*by shoaib */
}
#shelf .divider .mousedown {
	text-shadow: 0px -2px 2px #000;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
}
#shelf #red {
	background: #F00;
}
#shelf #green {
	background: #0F0;
}
#shelf #blue {
	background: #00F;
}
#book-zoom #dividers-front {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 95%;
	height: 100%;
	text-align: center;
	font-size: 1.6em;
	border: none;
	vertical-align: middle;
	overflow: visible;
	z-index: auto; /*89*/
}

#book-zoom .divider-front-17June2015 {
	height: 41px;
	width: 100px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	/*overflow: hidden !important;*/
	transform-origin: bottom left;
	-ms-transform-origin: bottom left; /* IE 9 */
	-webkit-transform-origin: bottom left; /* Safari and Chrome */
	-moz-transform-origin: bottom left; /* Firefox */
	-o-transform-origin: bottom left; /* Opera */
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	background-color: #0F0;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 1px #FCDB6A;
	border-right: 1px #FCDB6A;
	border-top: 1px #FCDB6A;
	border-style: solid;
	list-style: none;
	list-style-type: none;
	text-align: center;
	text-overflow: ellipsis;
	text-justify: inter-word;
	text-shadow: 0px 2px 2px #000;
	color: white;
	z-index: auto;
	cursor: pointer;
	float: left;
	clear: both;
}

#book-zoom .divider-front {	
    height: 30px;
	width: 90px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	/*overflow: hidden !important;*/
	transform-origin: bottom left;
	-ms-transform-origin: bottom left; /* IE 9 */
	-webkit-transform-origin: bottom left; /* Safari and Chrome */
	-moz-transform-origin: bottom left; /* Firefox */
	-o-transform-origin: bottom left; /* Opera */
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	background-color: #0F0;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 1px #FCDB6A;
	border-right: 1px #FCDB6A;
	border-top: 1px #FCDB6A;
	border-style: solid;
	list-style: none;
	list-style-type: none;
	text-align: center;
	text-overflow: ellipsis;
	text-justify: inter-word;
	text-shadow: 0px 2px 2px #000;
	color: white;
	z-index: auto;
	cursor: pointer;
	float: left;
	clear: both;
}

#book-zoom #dividers-back {
	position: absolute;
	top: 0px;
	right: -1px;
	width: 5%;
	text-align: center;
	font-size: 1.6em;
	vertical-align: middle;
	padding-top: 0px;
	border: none;
	overflow: visible;
}
#book-zoom .divider-back {
	height: 41px;
	width: 100px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
	box-shadow: 0 0 5px rgba(0,0,0,0.7);
	transform-origin: bottom right;
	-ms-transform-origin: bottom right; /* IE 9 */
	-webkit-transform-origin: bottom right; /* Safari and Chrome */
	-moz-transform-origin: bottom right; /* Firefox */
	-o-transform-origin: bottom right; /* Opera */
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	background-color: #0F0;
	background-repeat: no-repeat;
	border-bottom: 0px #FCDB6A;
	border-left: 1px #FCDB6A;
	border-right: 1px #FCDB6A;
	border-top: 1px #FCDB6A;
	border-style: solid;
	list-style: none;
	list-style-type: none;
	text-align: center;
	text-overflow: ellipsis;
	text-justify: inter-word;
	text-shadow: 0px 2px 2px #000;
	color: white;
	z-index: auto;
	cursor: pointer;
	float: right;
	clear: both;
	/*overflow: hidden !important;*/
}

#book-zoom .flipbook {
	border-left: 2px solid #FCDB6A;
    border-right: 2px solid #FCDB6A;
    border-top: 1px solid #FCDB6A;
    border-bottom: 2px solid #FCDB6A;
    width: 720px;
	height: 450px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	box-shadow: rgba(0,0,0,0.5) 3px 5px 0 2px; /* spread */
	margin-top: -15px;
	box-shadow: 0 0 10px #999;
	background-repeat: no-repeat;
    z-index: 100;
    background-image: -ms-linear-gradient(left bottom, rgb(239,158,72) 45%, rgb(255,193,92) 73%);
}
.esc {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 10000;
}
.esc > div {
	width: 140px;
	height: 30px;
	margin: auto;
	background: rgba(0,0,0,0.5);
	text-align: center;
	font: 12px arial;
	line-height: 30px;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.drop-note {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -20px;
	width: 100%;
	height: 40px;
	z-index: 10000;
}
.drop-note > div {
	width: 140px;
	height: 30px;
	margin: auto;
	background: rgba(0,0,0,0.5);
	text-align: center;
	font: 12px arial;
	line-height: 30px;
	color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.front-side-content {
	position: absolute;
	width: 10%;
	height: 100%;
	overflow: visible;
	float: left;
	left: -2px;
}
.front-side-container {
	width: 80%;
	height: 85%;
	margin: 2.5em auto;
}
.front-divider-contents {
	overflow: hidden;
}
.placeholder {
	color: #aaa;
}
#dialog-enter-pin {
	text-align: center;
	vertical-align: middle;
    height:auto !important;
    overflow-y:hidden;
}
#shelf-pin {
	width: 80%;
    border-color:#ccc;
    border-width:1px;
}
input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}
textarea.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}
fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}
.flipbook .flipbook-tips {
	font-size: 1.6em;
	position: absolute;
	top: 15px;
	width: 100%;
	overflow: visible;
}
.flipbook-tips .flipbook-tip-title {
	float: right;
	height: 30px;
	margin-right: 20px;
}
.flipbook-tips .flipbook-alert-container {
	float: left;
	clear: both;
	margin-left: 20px;
	margin-top: -20px;
}

.flipbook-alert-container .flipbook-alerts-17June2015 {
	list-style: inside none;
	width: 25em;
}

.flipbook-alert-container .flipbook-alerts {
	list-style: inside none;
	width: 5em;
}
.flipbook-alert-container .flipbook-alerts li {
	margin: 5px 0 15px 0;
}
.flipbook-alerts li span {
	line-height: 1.2em;
}
.droppable-page-highlight {
	border-color: #F00 !important;
}
#dialog-print-page .print-page-region {
	margin: 5px 10px 5px 10px;
}
#dialog-print-page .print-left {
	background-image: url(../pics/print-left.png);
	width: 64px;
	height: 35px;
	float: left;
	clear: left;
	position: relative;
	margin-bottom: 12px;
}
#dialog-print-page .print-left-button {
	float: right;
	clear: right;
	position: relative;
	vertical-align: middle;
	font-size: 1.2em;
	width: 150px;
}
#dialog-print-page .print-right {
	background-image: url(../pics/print-right.png);
	width: 64px;
	height: 35px;
	float: left;
	clear: left;
	position: relative;
	margin-bottom: 12px;
}
#dialog-print-page .print-right-button {
	float: right;
	clear: right;
	position: relative;
	vertical-align: middle;
	font-size: 1.2em;
	width: 150px;
}
.slider-tool {
	background-image: none !important;
	display: inline-block;
	width: 200px !important;
    vertical-align:middle;
    margin-left:0px !important;
    margin-right:30px !important;
}
.slider-zoom-tool {
	background-image: none !important;
	display: inline-block;
	width: 150px !important;
    vertical-align:middle !important;
}

#current_page_value {
	background-color: #FFF2D5;
	margin-top: 5px;
	padding: 4px;
	top: 0;
	font-size: 1.2em;
	position: fixed;
}
#current_zoom_value {
	background-color: #FFF2D5;
	margin-bottom: 40px;
	bottom: 0;
	font-size: 1.2em;
	padding: 4px;
	position: fixed;
}
#current_page_num {
	background-color: #999;
	color: #FFF;
	width: 5px;
}
.arrow_previous_page {
	background-image: url(../pics/arrows.png);
	background-position: 0;
	display: inline-block;
	height: 75px;
	margin-top: -37px;
	width: 60px;
	left: 0;
	top: 50%;
	position: absolute;
}
.arrow_next_page {
	background-image: url(../pics/arrows.png);
	background-position: -60px 0;
	display: inline-block;
	height: 75px;
	width: 60px;
	right: 0;
	top: 50%;
	margin-top: -37px;
	position: absolute;
}
#book-search, #book-qotes {
	width: 300px;
}
#book-search-title,#qote-title {
	background-color: #CCC;
	border-color: #FCDB6A;
	border-bottom-color: #F6F6F6;
	border-radius: 5px 5px 0 0;
	border-style: solid;
	height: 35px;
	width: 100%;
	border-width: 1px;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	-webkit-box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 3px #999;
	-ms-box-shadow: 0 0 3px #999;
	-o-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
	/* Firefox */
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: left;
	-moz-box-align: center;
	/* Safari and Chrome */
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: left;
	-webkit-box-align: center;
	/* W3C */
	/*display: box;
	box-orient: horizontal; */
}

#book-search-box,#qotes-search-box {
	background-color: #EEE;
	border-color: #F6F6F6;
	border-left-color: #FCDB6A;
	border-right-color: #FCDB6A;
	border-radius: 0 0 0px 0px;
	border-style: solid;
	border-width: 1px;
	height: 35px;
	width: 100%;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	-webkit-box-shadow: 0 0 3px #999;
	-moz-box-shadow: 0 0 3px #999;
	-ms-box-shadow: 0 0 3px #999;
	-o-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
	/* Firefox */
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: left;
	-moz-box-align: center;
	/* Safari and Chrome */
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: left;
	-webkit-box-align: center;
	/* W3C */
	/*display: box;*/
	/*box-orient: horizontal;*/
}
#book-search-result, #qote-search-result {
	background-color: #EEE;
	border-color: #FCDB6A;
	border-radius: 0 0 5px 5px;
	border-style: solid;
	border-width: 1px;
	border-top-color: #F6F6F6;
	height: 350px;
	width: 100%;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	-webkit-box-shadow: 0 0 3px #999;
	-moz-box-shadow: 0 0 3px #999;
	-ms-box-shadow: 0 0 3px #999;
	-o-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
}
#search-item-text {
	margin-left: 15px;
	border-radius: 5px;
	width: 180px;
}

#qote-item-text {
	margin-left: 15px;
	border-radius: 5px;
	width: 180px;
}

#book-search-title .search-title-text {
	height: 100%;
	font-size: 1.5em;
	margin-left: 5px;
	vertical-align: middle;
}

#qote-title .qote-title-text{
	height: 100%;
	font-size: 1.5em;
	margin-left: 5px;
	vertical-align: middle;
}

#book-search-title .search-title-text span {
	color: #FFF;
	font-weight: bold;
}

#qote-title .qote-title-text span{
	color: #FFF;
	font-weight: bold;
}

#book-search-title .book-search-exit {
	width: 100px;
}

#qote-title .book-search-exit {
	width: 100px;
}

#book-search-title .book-search-exit a {
	background-image: url("../pics/sprites.png");
	background-position: -24px 0;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin-left: 180px;
}

#book-search-title .book-search-exit a:hover {
	background-image: url("../pics/sprites.png");
	background-position: 0 0;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin-left: 180px;
}


#qote-title .book-search-exit a {
	background-image: url("../pics/sprites.png");
	background-position: -44px 0;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin-left: 180px;
}

#book-search-button {
	margin-left: 30px;
	width: 50px;
	height: 25px;
}

#book-qote-button {
	margin-left: 30px;
	width: 50px;
	height: 25px;
}

#result-search-title {
	background-color: #EEE;
	border-color: #F6F6F6;
	border-left-color: #FCDB6A;
	border-right-color: #FCDB6A;
	border-radius: 0 0 0px 0px;
	border-style: solid;
	border-width: 1px;
	height: 30px;
	width: 100%;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	-webkit-box-shadow: 0 0 3px #999;
	-moz-box-shadow: 0 0 3px #999;
	-ms-box-shadow: 0 0 3px #999;
	-o-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
	/* Firefox */
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: left;
	-moz-box-align: center;
	/* Safari and Chrome */
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: left;
	-webkit-box-align: center;
	/* W3C */
	/*display: box;
	box-orient: horizontal;*/
}
#result-search-title span {
	margin-left: 15px;
	color: #555;
	font-size: 1.4em;
	vertical-align:middle;
}
#floatingCirclesG {
	position: relative;
	width: 128px;
	height: 128px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
}
.f_circleG {
	position: absolute;
	background-color: #f6f4f4;
	height: 23px;
	width: 23px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-webkit-animation-name: f_fadeG;
	-webkit-animation-duration: 1.04s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-moz-animation-name: f_fadeG;
	-moz-animation-duration: 1.04s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	-o-animation-name: f_fadeG;
	-o-animation-duration: 1.04s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	-ms-animation-name: f_fadeG;
	-ms-animation-duration: 1.04s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
}
#frotateG_01 {
	left: 0;
	top: 52px;
	-webkit-animation-delay: 0.39s;
	-moz-animation-delay: 0.39s;
	-o-animation-delay: 0.39s;
	-ms-animation-delay: 0.39s
}
#frotateG_02 {
	left: 15px;
	top: 15px;
	-webkit-animation-delay: 0.52s;
	-moz-animation-delay: 0.52s;
	-o-animation-delay: 0.52s;
	-ms-animation-delay: 0.52s
}
#frotateG_03 {
	left: 52px;
	top: 0;
	-webkit-animation-delay: 0.65s;
	-moz-animation-delay: 0.65s;
	-o-animation-delay: 0.65s;
	-ms-animation-delay: 0.65s;
}
#frotateG_04 {
	right: 15px;
	top: 15px;
	-webkit-animation-delay: 0.78s;
	-moz-animation-delay: 0.78s;
	-o-animation-delay: 0.78s;
	-ms-animation-delay: 0.78s;
}
#frotateG_05 {
	right: 0;
	top: 52px;
	-webkit-animation-delay: 0.91s;
	-moz-animation-delay: 0.91s;
	-o-animation-delay: 0.91s;
	-ms-animation-delay: 0.91s;
}
#frotateG_06 {
	right: 15px;
	bottom: 15px;
	-webkit-animation-delay: 1.04s;
	-moz-animation-delay: 1.04s;
	-o-animation-delay: 1.04s;
	-ms-animation-delay: 1.04s;
}
#frotateG_07 {
	left: 52px;
	bottom: 0;
	-webkit-animation-delay: 1.17s;
	-moz-animation-delay: 1.17s
}
#frotateG_08 {
	left: 15px;
	bottom: 15px;
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	-o-animation-delay: 1.17s;
	-ms-animation-delay: 1.17s;
}
#frotateG_08 {
	left: 15px;
	bottom: 15px;
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	-o-animation-delay: 1.3s;
	-ms-animation-delay: 1.3s;
}
 @-webkit-keyframes f_fadeG {
0% {
background-color:#5a5353
}
 100% {
background-color:#f6f4f4
}
}
 @-moz-keyframes f_fadeG {
0% {
background-color:#5a5353
}
 100% {
background-color:#f6f4f4
}
}
 @-o-keyframes f_fadeG {
0% {
background-color:#5a5353
}
 100% {
background-color:#f6f4f4
}
}
 @-ms-keyframes f_fadeG {
0% {
background-color:#5a5353
}
 100% {
background-color:#f6f4f4
}
}

.note-side-container {
	width: 80%;
	height: 85%;
	margin: 2.5em auto;
}
.sj-book .note-content {
	margin: 20px auto;
	height: 90%;
}
.sj-book .note-content-title {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 1.1em;
	margin-top: 1.2em;
}

.sj-book .note-content-title span {
	font-size: 1em;
}

.sj-book .note-content-author {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 1.1em;
}

.sj-book .note-content-author span {
	font-size: 1em;
}


.sj-book .note-wrapper {
	font-size: 1.6em;
	margin: 1em 1.5em 1.5em 1.5em;
	overflow: hidden;
	border: none;
	background: transparent;
}
#slider-bar-number {
	height: 19px !important;
	position: relative;
	right: -50px;
	top: -7px;
	width: 40px;
    float:right;
    text-align:center;
    border-color:#999;
    border-width: 1px;
}

.textLayer {
    bottom: 0;
    color: #000000;
    font-family: sans-serif;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.textLayer > div {
  color: transparent;
  position: absolute;
  line-height: 1;
  white-space: pre;
  cursor: text;
}

.textLayer .highlight {
  margin: -1px;
  padding: 1px;

  background-color: rgba(180, 0, 170, 0.2);
  border-radius: 4px;
}

.textLayer .highlight.begin {
  border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
  border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
  border-radius: 0px;
}

.textLayer .highlight.selected {
  background-color: rgba(0, 100, 0, 0.2);
}

#book-search-result{
    overflow-y:scroll;
}

#book-search-result ul {
   
     list-style:decimal inside none;
}

#book-search-items li{
    color: #555555;
    font-size: 1.5em;
    margin-left: 15px;
    vertical-align: middle;
}

#book-search-items li .highlight{
    color: #FF6600;
    font-weight:bold;
}

#book-search-items li a{
    cursor:pointer;
    color: #FF6600;
    font-weight:bold;
}

#book-search-items li a:hover{
    color: #00CCFF;
    text-decoration: none;
    font-weight:bold;
}

#results-count{
    color: #FF6600 !important; 
    text-decoration: none;
    font-weight:bold;
}

.draggable-qote {
	width: 152px;
	height: 65px;
	padding: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    
}

.page .ui-icon {
    float: left;
    padding:0;
    
}

 .page .textarea-qote{
    resize: none;
    max-height:60px;
    max-width:145px;
    min-height:45px;
    min-width:100px;

    overflow: hidden;
    border-width: 1px;
    border-color:#cad1ee;
    border-style: solid;

    -moz-border-radius: 5px 5px 0 5px;
    -webkit-border-radius: 5px 5px 0 5px;
    border-radius: 5px 5px 0 5px;

     opacity: 0.9;
}

 .page .textarea-qote:hover{
   opacity: 0.9  !important;
}

  .page .textarea-qote-hover{
   opacity: 0.9  !important;
}

.ui-icon-pinthick {
    background-image: url("images/pin.png") !important; 
    height: 32px;
    width: 32px;
    margin-top: -22px;
    margin-left: -22px;
    opacity: 0.9;
}

.ui-icon-pinthick:hover {
    opacity: 0.9 !important;
}

.note-container .edit-note-button {
    height: 24px;
    width: 24px;
    opacity: 0.9;
}

.note-container .edit-note-button:hover {
    opacity: 0.9  !important;
}

.page-element {
    background-color: #ffffff !important;
}

.empty {
    background-color: transparent !important;
}

.icon-qote-save {
    background-image: url("images/qote-save.png"); 
    height: 16px;
    width: 16px;
    margin-right: 6px;
}

.icon-qote-save-hover {
    opacity: 0.9  !important;
}

.icon-qote-delete {
    background-image: url("images/qote-delete.png"); 
    height: 16px;
    width: 16px;
}

.icon-qote-delete-hover {
    opacity: 0.9  !important;
}

.qote-container {
    width: 150px;
}

.qote-button-container {
    border-width: 0px;
    width: 36px;
    height: 16px;
    list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */

}

.qote-button-container li {
    float:right; /* 向左漂移，将竖排变为横排 */
    list-style:none; /* 去掉ul前面的符号 */
    opacity: 0.9;
}

.qote-button-container li:hover {
    opacity: 0.9 !important;
}

#dialog-edit-note textarea,
#dialog-add-note textarea,
#dialog-share-book textarea {
    resize: none;
}

#slider-book
{
    width:200px;
    vertical-align:middle;
}


/*pratik*/
/*@media only screen and (max-width:460px) {
    .sj-book .shadow {
        width:270px !important;
        left:-45px !important;
    }

    .sj-book .page-wrapper {    
        width:140px !important;
    }

    .sj-book .back-side {
        width:46% !important;
    }

    .sj-book .front-side {
         width:46% !important;
    }

    #book-wrapper .container {
	    width: 298px !important;
    }

    #book-wrapper {
	    width: 310px !important; 
    }

    #shelf .flipbook {
	    width: 290px !important; 
    }
}*/
/*pratik*/

