﻿@charset "utf-8";

/*
------------------------------------------------------------
Project Name : EdFiles;
------------------------------------------------------------
*/
@font-face{
	font-family:'ProximaNova';
	src:url('../../../New/fonts/edFiles/ProximaNova-Light.eot');
	src:url('../../../New/fonts/edFiles/ProximaNova-Light.eot') format("embedded-opentype"),
	url('../../../New/fonts/edFiles/ProximaNova-Light.woff') format("woff"),
	url('../../../New/fonts/edFiles/ProximaNova-Light.ttf') format("truetype"),
	url('../../../New/fonts/edFiles/ProximaNova-Light.svg') format("svg");
	font-style:normal;
	font-weight:200;  
}

@font-face{
	font-family:'ProximaNovaRegular';
	src:url('../../../New/fonts/edFiles/ProximaNova-Regular.eot');
	src:url('../../../New/fonts/edFiles/ProximaNova-Regular.eot') format("embedded-opentype"),
	url('../../../New/fonts/edFiles/ProximaNova-Regular.woff2') format("woff2"),
	url('../../../New/fonts/edFiles/ProximaNova-Regular.woff') format("woff"),
	url('../../../New/fonts/edFiles/ProximaNova-Regular.ttf') format("truetype"),
	url('../../../New/fonts/edFiles/ProximaNova-Regular.svg') format("svg");
	font-style:normal;
	font-weight:400;
}

@font-face{
	font-family:'ProximaNovaBold';
	src:url('../../../New/fonts/edFiles/ProximaNova-Bold.eot');
	src:url('../../../New/fonts/edFiles/ProximaNova-Bold.eot') format("embedded-opentype"),
	url('../../../New/fonts/edFiles/ProximaNova-Bold.woff2') format("woff2"),
	url('../../../New/fonts/edFiles/ProximaNova-Bold.woff') format("woff"),
	url('../../../New/fonts/edFiles/ProximaNova-Bold.ttf') format("truetype"),
	url('../../../New/fonts/edFiles/ProximaNova-Bold.svg') format("svg"); /* Legacy iOS */
	font-style:normal;font-weight:700;
}

/* General 
--------------------------------------------------------------------------------------------------------*/
*,*:focus{outline:none!important;box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
a,.container,.logo img, .nav-outer, .btn, .btn:before, #header, .thumbnail .thumbnail-icon{transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;}
html,body{height:100%;}
body{font-size:14px; line-height:18px; color: #636f7a; font-family:'ProximaNovaRegular';}
.wrapper{min-height:100%; padding: 103px 0 0;}
.content-wrapper{max-width:980px;margin:0 auto;}
a, a:focus{color:#656b6f;text-decoration:none!important;}
a:hover{text-decoration:none;color:#5ba1d4;}
.hr-line{border:0;border-top:solid 1px #63686e;}
h1,h2,h3,h4,h5,h6{line-height:1.2em;padding:0 0 20px; margin:0;}
h1 span,h2 span,h3 span,h4 span,h5 span,h6 span{display:block;font-size:0.5em;line-height:1.2em;}
h1{font-size:2.8em;}
h2{font-size:2.5em;}
h3{font-size:2.1em;}
h4{font-size:1.7em;}
h5{font-size:1.28em;}
h6{font-size:1.07em;}
p{padding:0 0 20px; margin:0;}
p a{color:#ccc;}
p a:hover{color:#efefef;}
p b{font-weight:bold;}
p i{font-style:italic;}
p u{text-decoration:underline;}
p span{display:block;}
input[type=text],input[type=email],input[type=password],textarea{-webkit-appearance:none;appearance:none;}

.btn{font-size:14px; line-height:18px; font-family:'ProximaNovaBold'; text-transform: uppercase; box-shadow:none!important; padding: 10px 15px 8px; position: relative; overflow: hidden;}
.btn span{position: relative; z-index: 1;}
.btn:before{position: absolute; content:""; width: 0; height: 0; left: 50%; top: 50%; z-index: 0;}
.btn:hover:before{top: 0; left: 0; width: 100%; height: 100%;}


.btn-success, .btn-success:focus{background: #59be45!important; border:0;}
.btn-success:before{background: #4ba03a;}

.btn-default, .btn-default:focus{color:#484d52; background: none!important; border:solid 1px #9fa4a9;}
.btn-default:before{background: #9fa4a9;}
.btn-default:hover{color: #fff;}

/* Header
--------------------------------------------------------------------------------------------------------*/
#header{background:#ffffff;position:fixed;width:100%;left:0;top:0;z-index:2; padding: 15px 0;}
.logo{float:left;width:208px;}
.logo img{width:100%;}
.small-header #header{box-shadow:0 0 10px 0 #999; padding: 5px 0;}
.small-header .logo{width:150px;}
#header .btn-outer{float: right;}
#header .btn{height: 38px; float: left; margin-left: 8px;}
#header .btn img{position: relative; top: -2px; left: -5px;}
.small-header .nav-outer{padding: 10px 0;}

fieldset a {
    color: #333; 
    display: block;
    font-size: 14px;
}
    fieldset a:hover {     
    color: #83af33;
    text-decoration: none;
    }


/* MainNavigation
--------------------------------------------------------------------------------------------------------*/
.nav-block{position: static;}
.nav-outer{padding: 18px 0 17px;}
.nav-icon{float: right; display: block; width: 42px; height: 38px; background: #2682c5; border-radius: 4px; padding: 8px; display: none; position: relative; top: 1px;}
.nav-icon span{display: block; height: 3px; background: #fff; margin:4px 0;}
.nav-icon:hover{background: #555a60;}

#mainNavigation{font-family:'ProximaNovaBold'; text-transform: uppercase; float: right;}
#mainNavigation ul{margin:0;}
#mainNavigation li{float: left; padding-left: 8px;}
#mainNavigation li:first-child{padding-left: 0;}
#mainNavigation li a{display: block; padding: 10px 15px 8px; border:solid 1px transparent; border-radius: 4px;}
#mainNavigation li.active a{border-color: #5ba1d4; color:#5ba1d4; cursor: default;}


.banner {color:#fff; padding: 40px 15px;
	background: rgb(29,78,137);
	background: -moz-linear-gradient(top,  rgba(29,78,137,1) 0%, rgba(38,130,197,1) 64%, rgba(41,139,210,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(29,78,137,1) 0%,rgba(38,130,197,1) 64%,rgba(41,139,210,1) 100%);
	background: linear-gradient(to bottom,  rgba(29,78,137,1) 0%,rgba(38,130,197,1) 64%,rgba(41,139,210,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4e89', endColorstr='#298bd2',GradientType=0 );
}
.banner h3{font-family:'ProximaNovaBold'; padding-bottom: 40px;} 
.banner h3 span{font-size: 0.8em; font-family:"ProximaNovaRegular"}
.banner .banner-img-New{max-width:100%; display: inline-block;}

/* Main Content
--------------------------------------------------------------------------------------------------------*/
.pb50{padding-bottom: 50px;}

.content-block{padding: 60px 0 120px;}
.content-block p.large-text{font-size: 1.71em; line-height: 1.2em; font-family:"ProximaNovaRegular";}
.content-block p b{font-family:"ProximaNovaBold"; font-weight:normal;}

.thumbnail-outer{padding-bottom: 20px;}
.thumbnail{padding: 25px; background: #f3f5f6; box-shadow:0 0 5px 1px #d8d8d8; border:0;}
.thumbnail .thumbnail-icon{background-color: #2682c5; background-repeat: no-repeat; background-size: 100% auto; background-position: left top;  display: inline-block; width: 130px; height: 130px; border-radius: 130px; padding: 31px 18px;}
.thumbnail:hover .thumbnail-icon{background-position: left bottom;}
.thumbnail .thumbnail-icon.icon-01{background-image: url(../../../New/images/edFiles/thumbnail-icon-01.png);}
.thumbnail .thumbnail-icon.icon-02{background-image: url(../../../New/images/edFiles/thumbnail-icon-02.png);}
.thumbnail .thumbnail-icon.icon-03{background-image: url(../../../New/images/edFiles/thumbnail-icon-03.png);}
.thumbnail .thumbnail-icon.icon-04{background-image: url(../../../New/images/edFiles/thumbnail-icon-04.png);}

.thumbnail .caption{padding: 20px 0 0; color:#484d52;}
.thumbnail .caption h3{text-transform: uppercase; font-family: "ProximaNovaBold"; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;}
.thumbnail .caption p{color:#636f7a; font-size:1.28em; line-height: 1.2em; min-height:83px;}
.thumbnail .caption .btn{font-family:"ProximaNovaRegular"; text-transform: capitalize;}

.company-logos{display: inline-block; max-width:100%;}


/* Footer
--------------------------------------------------------------------------------------------------------*/
#footer{background:#555a60;padding:50px 0 20px; position:relative}
#footer:before{position: absolute; content:""; width: 100%; height: 90px; bottom:100%; background: url(../../../New/images/edFiles/footer-bg.png) center bottom repeat-x;}
#footer .footer-left h5{color:#70ba47; font-family:"ProximaNovaBold"; text-transform: uppercase; padding: 0 0 10px; font-weight:normal;}
#footer ul li{padding-bottom: 3px;}
#footer a{color:#9ba0a6; font-size:14px; line-height: 18px;}
#footer a:hover{color:#fff;}
.footer-right h5{color:#abaeb2; padding: 0 0 5px;}
.footer-right h5.light-text{color:#fff;}
#footer .tel-no{color:#ffffff; font-size: 1.71em; font-family:"ProximaNovaBold";}
#footer .tel-no:hover{color:#9ba0a6;}
#footer .social-icons{text-align:left;}
#footer .social-icons li{display:inline-block; padding:0 10px 0 0;}
#footer .social-icons li:last-child{padding-right: 0;}
#footer .social-icons li a{display:block;text-align:center;width:43px;height:43px;line-height:43px;font-size:26px;color:#555a60; background:#abaeb2; border-radius: 43px;}
#footer .social-icons li a:hover{background:#fff;}

.copyright{padding:0;color:#9ba0a6; text-align: center;}

/* 14-nov-2016 */
/* About us page
--------------------------------------------------------------------------------------------------------*/
.inner-banner {color:#fff; padding: 40px 15px; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.about-banner{background-image: url(../../../New/images/edFiles/about-banner.jpg);}
.inner-banner h2{font-family:"ProximaNovaBold"; font-weight:normal;}
.inner-banner h4{font-family:"ProximaNovaBold"; font-weight:normal; font-size: 2em; padding:0;}
.inner-banner h4 span{font-size:0.9em; font-family: "ProximaNovaRegular";}

.cms-content h4{font-family:"ProximaNovaBold"; font-weight:normal; color:#484d52; border-bottom: solid 1px #d6d6d6; padding:0 0 10px; margin:0 0 25px;}
.cms-content h5{font-family:"ProximaNovaBold"; font-weight:normal; color:#484d52; padding:0 0 10px; margin:0; font-size:1.42em; line-height: 1.2em;}
.default-listing{padding-bottom: 25px;}
.default-listing li{font-size:1.28em; line-height: 1.2em; color:#636f7a; padding:0 0 15px 35px; background: url(../../../New/images/edFiles/list-icon.png) 7px 2px no-repeat;}
.cms-content p{font-size:1.28em; line-height: 1.2em; color:#636f7a; padding:0 0 30px;}

.inline-listing li{float: left; margin-right: 30px; padding-left: 15px; position: relative;}
.inline-listing li:last-child{margin-right: 0;}
.inline-listing li:before{position: absolute; content:""; width:8px; height: 8px; background: #8094a3; left: 0; top: 4px; border-radius: 8px;}

.bottom-banner{border:solid 1px #c6e0ef; background: url(../../../New/images/edFiles/bottom-banner-bg.jpg) center center no-repeat; background-size: cover; display: table; width:100%; padding: 10px 30px; box-shadow:0 0 5px #fafafa;}
.bottom-banner > *{display: table-cell; vertical-align: middle;}
.bottom-banner span{font-size:2.28em; line-height: 1.2em; color:#124970; font-family:'ProximaNovaBold';}
.bottom-banner .contact-info li{padding:5px 0;}
.bottom-banner .contact-info li a{color:#231f20;}
.bottom-banner .contact-info li a:hover{color:#27a7f1;}
.bottom-banner .contact-info li a img{position: relative; top: -1px;margin-right: 2px;}

.call-link{position: fixed; left: 100%; top: 325px; z-index: 9; background: #59be45; color:#fff!important; border-radius: 0 0 0 5px; padding:15px 0; font-size:1.28em; white-space:nowrap; width:240px; text-align: center;}
.call-link:hover{margin-left: -240px; box-shadow:0 4px 9px #e9e9e9;}
.call-link .icon{padding:10px; position: absolute; right: 100%; top: 0; background: #59be45; border-radius: 5px 0 0 5px;}
.call-link .phone-no{display: block; font-size:1.33em; font-family:'ProximaNovaBold'; text-align: center; padding:20px 0 0;}

.security-icon-box{position: relative; padding-right: 200px;}
.security-icon-box .security-icon{position: absolute; right: 0; top: 50%; margin-top: -78px;}

.cms-content .call-detail{color:#636f7a; font-family:'ProximaNovaBold'; padding:0 0 50px;}
.cms-content .call-detail a{color:#59be45; font-size:1.33em; line-height: 1.2em; white-space:nowrap;}
.touch .cms-content .call-detail a:hover{color:#5ba1d4;}

.cms-content address span{display: block; line-height: 1.2em; font-size:1.28em; padding:0 0 10px;}
.cms-content address a{color:#4383b9;}
.cms-content address a:hover{color:#59be45;}