﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ExportEdFormsUserShareLogs.aspx.cs" Inherits="Office_ExportEdFormsUserShareLogs" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" />
<asp:UpdatePanel ID="UpdatePanel1" runat="server">
  <ContentTemplate>
 
  </ContentTemplate>
</asp:UpdatePanel>
</form>
</body>
</html>
