﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pdfTempViewer.aspx.cs" Inherits="Office_pdfTempViewer" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="../lib/TreeView/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(parent.document).find('iframe') && $('body').height($(parent.document).find('iframe').height() - 25);
        });
        </script>
</head>
<body style="width:99%;height:100%;">
    <%--<form id="form1" runat="server">--%>
    <%--<div>--%>
    <%--<asp:LinkButton ID="lnkView" runat="server" Text="View PDF" OnClick="lnkView_Click"></asp:LinkButton>
<hr />--%>
    <div style="height:100%">
<asp:Literal ID="ltEmbed" runat="server"  />
        </div>
    <%--</div>--%>
    <%--</form>--%>
    
</body>
</html>

