﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Test_RackSpace.aspx.cs" Inherits="Office_Test_RackSpace" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button Text="Check Files" id="btnCheckFiles"  runat="server" />
    </div>
        <br />

        <asp:Literal ID="litFiles" Text="text" runat="server" />
    </form>
</body>
</html>
