<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WebFlashViewer.aspx.cs" Inherits="WebFlashViewer" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <TITLE>Facilitating the Permanent Retention & Exchange of Organized & Secure Education Records</TITLE>
        <META NAME="Description" CONTENT=" Virtual, On Screen Digital File Folders.">
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
