@media (max-width: 1199px){
	body{font-size: 13px; line-height: 17px;}
	.thumbnail .caption h3{font-size: 1.9em;}

	.default-listing li{background-position: 0 0; padding-left: 25px;}
	.call-link{width:225px;}
	.call-link:hover{margin-left: -225px;}

	.banner{padding: 30px 15px;}
	.banner-content-block{padding: 20px 30px; border-radius: 20px;}
	.banner-content-block .banner-logo{margin-bottom: 20px;}
	.banner-content-block h4{padding-bottom: 20px;}
	.banner-content-block + .banner-content-block{margin-top: 20px;}

}

@media (max-width: 991px){
	.nav-outer{padding: 0!important;}
	.btn-outer{padding: 0 0 5px;}
	#header .btn{height: 32px; padding: 7px 15px 5px;}
	#mainNavigation li a{padding: 7px 10px 5px;}
	.small-header .logo{width: 190px;}
	.footer-left{border-bottom:solid 1px #63686e; padding: 0 0 10px; margin-bottom: 20px;}
	.footer-right{text-align: center;}
	#footer .social-icons{text-align: center;}
	#footer .social-icons li{padding: 0 5px;}

	.bottom-banner{padding:20px;}
	.bottom-banner > *{display: block; text-align: center;}
	.bottom-banner span{padding: 0 0 15px;} 
	.bottom-banner .icon{max-width:100%; margin:0 auto;}
	.bottom-banner .contact-info{padding:20px 0 0; margin: 0;}
	.bottom-banner .contact-info li{display: inline-block; padding:0 20px;}

}

@media (min-width: 768px){
	#mainNavigation{display: block!important;}
}

@media (max-width: 767px){
	body{font-size: 12px; line-height: 16px;}	
	.wrapper{padding:63px 0 0;}
	.logo{width: 107px!important;}
	.nav-outer{padding-top: 0!important;}
	#header{padding: 10px 0;}
	#header .btn-outer{float: right; text-align: center;}
	#header .btn{margin:0 10px 0 0; padding:10px 15px 8px; height: 38px;}
	.nav-icon{display: block;}
	#mainNavigation{position: absolute; top: 100%; left: 0; width: 100%; background: #fff; border-top: solid 1px #cdcdcd;border-bottom: solid 3px #cdcdcd; display:none;}
	#mainNavigation li{float: none; padding:0; border-radius: 0;}
	#mainNavigation li a{border: 0; padding: 8px 15px 7px;}
	#mainNavigation li a:hover{background: #fcfcfc;}
	#mainNavigation li.active a{background: #e5e5e5; border-radius: 0;}
	.thumbnail{padding:15px;}
	.thumbnail .thumbnail-icon{width: 110px; height: 110px;}
	.thumbnail .caption h3{padding-bottom: 15px;}
	.thumbnail .caption p{min-height: inherit; padding-bottom: 15px;}
	.content-block{padding-top: 40px;}
	.footer-left{text-align: center;}
	#footer{padding-top: 10px;}
	.footer-left ul{margin-bottom: 20px;}


	.inner-banner{padding:15px;}
	.inner-banner h2{padding:0 0 10px;}
	.cms-content h4{margin-bottom: 15px;}
	.default-listing{padding:0;}
	.default-listing li{padding-bottom:10px; background-position: 0 1px;}
	.call-link{top: 200px; width:210px;}
	.call-link:hover{margin-left: -210px;}
	.cms-content .call-detail{padding:0 0 20px;}
	.cms-content address span{padding:0 0 5px;}

	.banner{padding: 15px 0;}
	.banner .banner-img{right: -15px;}
	.banner h2{font-size: 20px; line-height: 24px; padding-bottom: 30px;}
	.banner-content-block h4{font-size: 16px; line-height: 20px;}

}

@media (max-width: 560px){
	#header .btn span{display: none;}
	#header .btn img{left: 0;}
	#header .btn img.register-icon{left:auto; right: -1px;}

	.bottom-banner span{font-size:1.75em;}
	.bottom-banner .contact-info li{display: block; padding:0 0 10px;}
	.bottom-banner .contact-info li:last-child{padding-bottom: 0;}

	.security-icon-box{padding-right: 0;}
	.security-icon-box .security-icon{position: static; margin:0 auto 20px; display: block;}

}


