﻿@charset "utf-8";

/*
------------------------------------------------------------
Project Name : EdFiles;
------------------------------------------------------------
*/

/* General 
--------------------------------------------------------------------------------------------------------*/
*,*:focus{outline:none!important;box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
a,.container,.logo img, .nav-outer, .btn, .btn:before, #header, .thumbnail .thumbnail-icon{transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;}
html,body{height:100%;}
body{font-size:14px; line-height:18px; color: #636f7a; font-family: 'Titillium Web', sans-serif;}
.wrapper{min-height:100%; padding: 103px 0 0;}
.content-wrapper{max-width:980px;margin:0 auto;}
a, a:focus{color:#656b6f;text-decoration:none!important;}
a:hover{text-decoration:none;color:#396FCB;}
.hr-line{border:0;border-top:solid 1px #63686e;}
h1,h2,h3,h4,h5,h6{line-height:1.2em;padding:0 0 20px; margin:0;}
h1 span,h2 span,h3 span,h4 span,h5 span,h6 span{display:block;font-size:0.5em;line-height:1.2em;}
h1{font-size:2.8em;}
h2{font-size:2.5em;}
h3{font-size:2.1em;}
h4{font-size:1.7em;}
h5{font-size:1.28em;}
h6{font-size:1.07em;}
p{padding:0 0 20px; margin:0;}
p a{color:#ccc;}
p a:hover{color:#efefef;}
p b{font-weight:normal; font-weight: 700;}
p i{font-style:italic;}
p u{text-decoration:underline;}
p span{display:block;}
input[type=text],input[type=email],input[type=password],textarea{-webkit-appearance:none;appearance:none;}
.bold-text{font-weight: 700;}

.btn{font-size:14px; line-height:18px; font-weight: 700; text-transform: uppercase; box-shadow:none!important; padding: 9px 15px; position: relative; overflow: hidden;}
.btn span{position: relative; z-index: 1;}
.btn:before{position: absolute; content:""; width: 0; height: 0; left: 50%; top: 50%; z-index: 0;}
.btn:hover:before{top: 0; left: 0; width: 100%; height: 100%;}

.btn-lg{font-size:18px; line-height: 22px;}

.btn-success, .btn-success:focus{background: #3B69C9!important; border:0;}
.btn-success:before{background: #2d54a7!important;}

.btn-default, .btn-default:focus{color:#484d52; background: none!important; border:solid 1px #9fa4a9;}
.btn-default:before{background: #9fa4a9;}
.btn-default:hover{color: #fff;}



/* Header
--------------------------------------------------------------------------------------------------------*/
#header{background:#ffffff;position:fixed;width:100%;left:0;top:0;z-index:2; padding: 15px 0;}
.logo{float:left;width:208px;}
.logo img{width:100%;}
.small-header #header{box-shadow:0 0 10px 0 #999; padding: 5px 0;}
.small-header .logo{width:150px;}
#header .btn-outer{float: right;}
#header .btn{height: 38px; float: left; margin-left: 8px; border-radius: 38px;}
#header .btn:before{border-radius: 38px;}
#header .btn img{position: relative; top: -2px; left: -4px;}
.small-header .nav-outer{padding: 10px 0;}


/* MainNavigation
--------------------------------------------------------------------------------------------------------*/
.nav-block{position: static;}
.nav-outer{padding: 18px 0 17px;}
.nav-icon{float: right; display: block; width: 42px; height: 38px; background: #396FCB; border-radius: 4px; padding: 7px 8px; display: none; position: relative; top: 1px;}
.nav-icon span{display: block; height: 3px; background: #fff; margin:4px 0;}
.nav-icon:hover{background: #555a60;}

#mainNavigation{font-weight: 700; text-transform: uppercase; float: right;}
#mainNavigation ul{margin:0;}
#mainNavigation li{float: left; padding-left: 8px;}
#mainNavigation li:first-child{padding-left: 0;}
#mainNavigation li a{display: block; padding: 10px 20px 8px; border:solid 1px transparent; border-radius: 38px;}
#mainNavigation li.active a{border-color: #396FCB; color:#396FCB; cursor: default;}


.banner {color:#fff; padding: 50px 15px; background: url(../../images/UpdatedHome/banner-bg.jpg) center center no-repeat; -webkit-background-size: cover; background-size: cover;}
.banner h2{font-weight: 700; padding-bottom: 50px; text-shadow: 5px 5px 5px rgba(0,0,0,0.17);} 
.banner h2 span{font-size: 1em;}
.banner .banner-img{max-width:100%; display: block; margin: 0 auto; position: relative; right: -20px;}

.banner-content-block{padding: 30px 60px; background: rgba(0,0,0,0.15); border-radius: 40px;}
.banner-content-block + .banner-content-block{margin-top: 40px;}
.banner-content-block.has-shadow{box-shadow: 0 0 0 1px rgba(255,255,255,0.15);}
.banner-content-block .banner-logo{display: block; margin: 0 auto 30px; max-width: 100%;}
.banner-content-block h4{font-size: 20px; line-height: 24px; padding-bottom: 30px; font-weight: 300;}
.banner-content-block .btn{font-weight: 400; color: #fff; border-color: rgba(255,255,255,0.4); text-transform: none; padding: 9px 20px;}
.banner-content-block .btn:before{background:#fff;}
.banner-content-block .btn:hover{border-color: #fff; color: #3B69C9;}

/* Main Content
--------------------------------------------------------------------------------------------------------*/
.pb50{padding-bottom: 50px;}

.content-block{padding: 60px 0 120px;}
.content-block p.large-text{font-size: 1.71em; line-height: 1.2em; }
.content-block p b{font-weight: 700;}

.thumbnail-outer{padding-bottom: 20px;}
.thumbnail{padding: 25px; background: #f3f5f6; box-shadow:0 0 5px 1px #d8d8d8; border:0;}
.thumbnail .thumbnail-icon{background-color: #396FCB; background-repeat: no-repeat; background-size: 100% auto; background-position: left top;  display: inline-block; width: 130px; height: 130px; border-radius: 130px; padding: 31px 18px;}
.thumbnail:hover .thumbnail-icon{background-position: left bottom;}
.thumbnail .thumbnail-icon.icon-01{background-image: url(../../images/UpdatedHome/thumbnail-icon-01.png);}
.thumbnail .thumbnail-icon.icon-02{background-image: url(../../images/UpdatedHome/thumbnail-icon-02.png);}
.thumbnail .thumbnail-icon.icon-03{background-image: url(../../images/UpdatedHome/thumbnail-icon-03.png);}
.thumbnail .thumbnail-icon.icon-04{background-image: url(../../images/UpdatedHome/thumbnail-icon-04.png);}

.thumbnail .caption{padding: 20px 0 0; color:#484d52;}
.thumbnail .caption h3{text-transform: uppercase; font-weight: 700; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;}
.thumbnail .caption p{color:#636f7a; font-size:1.28em; line-height: 1.2em; min-height:83px;}
.thumbnail .caption .btn{ text-transform: capitalize;}

.company-logos{display: inline-block; max-width:100%;}


/* Footer
--------------------------------------------------------------------------------------------------------*/
#footer{background:#555a60;padding:50px 0 20px; position:relative;}
#footer:before{position: absolute; content:""; width: 100%; height: 90px; bottom:100%; background: url(../../images/UpdatedHome/footer-bg.png) center bottom repeat-x;}
#footer .footer-left h5{color:#70ba47; font-weight: 700; text-transform: uppercase; padding: 0 0 10px;}
#footer ul li{padding-bottom: 3px;}
#footer a{color:#9ba0a6; font-size:14px; line-height: 18px;}
#footer a:hover{color:#fff;}
.footer-right h5{color:#abaeb2; padding: 0 0 5px;}
.footer-right h5.light-text{color:#fff;}
#footer .tel-no{color:#ffffff; font-size: 1.71em; font-weight: 700;}
#footer .tel-no:hover{color:#9ba0a6;}
#footer .social-icons{text-align:left;}
#footer .social-icons li{display:inline-block; padding:0 10px 0 0;}
#footer .social-icons li:last-child{padding-right: 0;}
#footer .social-icons li a{display:block;text-align:center;width:43px;height:43px;line-height:43px;font-size:26px;color:#555a60; background:#abaeb2; border-radius: 43px;}
#footer .social-icons li a:hover{background:#fff;}

.copyright{padding:0;color:#9ba0a6; text-align: center;}




/* 14-nov-2016 */
/* About us page
--------------------------------------------------------------------------------------------------------*/
.inner-banner {color:#fff; padding: 40px 15px; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.about-banner{background-image: url(../../images/UpdatedHome/about-banner.jpg);}
.inner-banner h2{font-weight: 700;}
.inner-banner h4{font-weight: 700; font-size: 2em; padding:0;}
.inner-banner h4 span{font-size:0.9em;}

.cms-content h4{font-weight: 700; color:#484d52; border-bottom: solid 1px #d6d6d6; padding:0 0 10px; margin:0 0 25px;}
.cms-content h5{font-weight: 700; color:#484d52; padding:0 0 10px; margin:0; font-size:1.42em; line-height: 1.2em;}
.default-listing{padding-bottom: 25px;}
.default-listing li{font-size:1.28em; line-height: 1.2em; color:#636f7a; padding:0 0 15px 35px; background: url(../../images/UpdatedHome/list-icon.png) 7px 2px no-repeat;}
.cms-content p{font-size:1.28em; line-height: 1.2em; color:#636f7a; padding:0 0 30px;}

.inline-listing li{float: left; margin-right: 30px; padding-left: 15px; position: relative;}
.inline-listing li:last-child{margin-right: 0;}
.inline-listing li:before{position: absolute; content:""; width:8px; height: 8px; background: #8094a3; left: 0; top: 4px; border-radius: 8px;}

.bottom-banner{border:solid 1px #c6e0ef; background: url(../../images/UpdatedHome/bottom-banner-bg.jpg) center center no-repeat; background-size: cover; display: table; width:100%; padding: 10px 30px; box-shadow:0 0 5px #fafafa;}
.bottom-banner > *{display: table-cell; vertical-align: middle;}
.bottom-banner span{font-size:2.28em; line-height: 1.2em; color:#124970; font-weight: 700;}
.bottom-banner .contact-info li{padding:5px 0;}
.bottom-banner .contact-info li a{color:#231f20;}
.bottom-banner .contact-info li a:hover{color:#27a7f1;}
.bottom-banner .contact-info li a img{position: relative; top: -1px;margin-right: 2px;}

.call-link{position: fixed; left: 100%; top: 325px; z-index: 9; background: #3B69C9; color:#fff!important; border-radius: 0 0 0 5px; padding:15px 0; font-size:1.28em; white-space:nowrap; width:240px; text-align: center;}
.call-link:hover{margin-left: -240px; box-shadow:0 4px 9px #e9e9e9;}
.call-link .icon{padding:10px; position: absolute; right: 100%; top: 0; background: #3B69C9; border-radius: 5px 0 0 5px;}
.call-link .phone-no{display: block; font-size:1.33em; font-weight: 700; text-align: center; padding:20px 0 0;}

.security-icon-box{position: relative; padding-right: 200px;}
.security-icon-box .security-icon{position: absolute; right: 0; top: 50%; margin-top: -78px;}

.cms-content .call-detail{color:#636f7a; font-weight: 700; padding:0 0 50px;}
.cms-content .call-detail a{color:#3B69C9; font-size:1.33em; line-height: 1.2em; white-space:nowrap;}
.touch .cms-content .call-detail a:hover{color:#396FCB;}

.cms-content address span{display: block; line-height: 1.2em; font-size:1.28em; padding:0 0 10px;}
.cms-content address a{color:#4383b9;}
.cms-content address a:hover{color:#3B69C9;}








/****************************************** NEW CSS CASBO LIBRARY 25-10-17 *****************************************************/
.casbo-library{min-height:100%; background:#FFF;}
.casbo-wrapper{position:relative; min-height:100%; height:auto !important;}
.casbo-header{ background:#f1f1f1; border-bottom:1px solid #e1e1e1;}
.casbo-logo{ padding:10px 0 10px 0;}
.casbo-logo img{ max-width:100%; height:auto;}
.casbo-content{ padding:20px 0 100px 0;}
.casbo-footer{ height:80px; border-top:1px solid #ddd; background:#FFF; position:absolute; bottom:0; left:0; width:100%;}
.casbo-footer p{ padding:30px 0 0 0; color:#9e9e9e; font-size:14px;}
.foot-logo{ text-align:right; padding:15px 0 0 0;}
.foot-logo img{ height:50px;}
.casbo-library .bigtext{ font-size:20px; color:#656b6f; line-height:1.4; margin:0; padding:0 0 20px 0;}
.casbo-library .titlebar{ min-height:54px; background:#f4f4f4; border:1px solid #ddd; position:relative; margin-bottom:15px;}
.casbo-library .searchbar{ position:absolute; top:0; right:0;}
.casbo-library .titlebar h2{ padding:13px 0 0 13px; margin:0 260px 0 0; font-size:22px; color:#656b6f; font-weight: 700;}
.casbo-library .searchbar .form-control{ height:52px; border:1px solid transparent; padding-right:50px; border-radius:0px; box-shadow:none; width:250px; font-size:16px;}
.casbo-library .searchbar .form-control::-ms-clear { display: none;}
.casbo-library .searchbar .form-control:focus{border:1px solid #66afe9;}
.casbo-library .searchbar .searchlink{ background:url(../../images/UpdatedHome/ic-search.png) center no-repeat; width:50px; height:52px; display:block; position:absolute; top:0; right:0;}

.casbo-carousel .item{padding:0; margin:0;}
.casbo-carousel .item > div{margin:10px 15px; background: #fff; color:#455465; box-shadow: 0 2px 6px rgba(0,0,0,.15);}
.casbo-carousel .item h5{background:#396FCB; min-height:70px; font-size:18px; overflow:hidden; color:#FFF; padding:12px 15px;}
.casbo-carousel .item-body{ text-align:center; width:100%; height:280px; display:table;}
.casbo-carousel .item-body > div{ padding:15px; display:table-cell; height:280px; vertical-align:middle; text-align:center;}
.casbo-carousel .item-body img{ max-width:160px; height:auto; display:inline-block;}
.casbo-carousel .owl-nav{position: static; height:0; height:42px; padding-right:15px; text-align:right;}
.casbo-carousel .owl-nav div{ float:none; text-indent:-99999px; position:relative; overflow: hidden; width:42px; height:42px; border-radius: 0px;transition: all ease 0.3s; -webkit-transition: all ease 0.3s;}
.casbo-carousel .owl-nav .owl-prev{display:inline-block; margin-right:7px; background:#396FCB url(../../images/UpdatedHome/prev-arrow.png) center center no-repeat;}
.casbo-carousel .owl-nav .owl-next{display:inline-block; background:#396FCB url(../../images/UpdatedHome/next-arrow.png) center center no-repeat;}
.casbo-carousel .owl-nav div:hover{ background-color:#106cae !important}


@media (max-width: 767px){
	.casbo-logo img{ height:40px;}
	.casbo-footer p{ text-align:center; padding:12px 0 10px 0; font-size:13px;}
	.foot-logo{ text-align:center; padding:0;}
	.foot-logo img{ height:30px;}
	.casbo-content{ padding:15px 0 100px 0;}
	.casbo-library .bigtext{ font-size:16px; line-height:1.2;}
	.casbo-library .searchbar{ position:relative;}
	.casbo-library .titlebar h2{ padding:10px; margin:0; font-size:20px; }
	.casbo-library .searchbar .form-control{ height:40px; padding-right:40px; width:100%;}
	.casbo-library .searchbar .searchlink{width:40px; height:40px;}

}





/* Modal
--------------------------------------------------------------------------------------------------------*/
.modal .modal-content{border-radius: 20px; border:0;}
.modal .modal-body{padding: 30px;}
.modal button.close{opacity: 1; padding: 15px; border-radius: 50px; margin: -15px -15px -15px 0;}
.modal button.close img{display: block;}
.modal button.close:hover{background: #f7f7f7; }
.modal h3{color: #454545;}
.modal h4{color: #5A5A5A; font-size:24px; line-height: 34px;}
.modal h4 span{font-size: 30px; line-height: 34px; padding-bottom: 10px;}
.modal .green-text{color: #6EBF3D;}
.modal h5{color: #373737; font-size: 18px; line-height: 22px;}
.modal hr{border-top-color: #D2D2D2;}
.modal .notes{color: #4E4E4E; font-size: 14px; line-height: 18px; padding:0 10px;}
.modal .modal-body .btn{border-radius: 38px; min-width: 100px;}
.modal .modal-body .btn.btn-success{padding: 10px 15px;}
.modal .modal-body .btn:before{border-radius: 30px;}

.radio-list{margin: -10px -10px 0; padding-bottom: 20px;}
.radio-list li{display: inline-block; padding: 10px;}
.radio-list li label{display: block; position: relative; padding-left: 40px; margin: 0; cursor: pointer;}
.radio-list li label input{position: absolute; opacity: 0;}
.radio-list li label span{font-weight: 400; color: #4E4E4E; font-size: 18px; line-height: 30px;}
.radio-list li label span:before{position: absolute; content: ""; left: 0; top: 0; width: 30px; height: 30px; border-radius: 30px; border:solid 2px #B3B3B3;}
.radio-list li label input:checked + span:before{border-color: #3B69C9;}
.radio-list li label span:after{position: absolute; content: ""; background: #3B69C9; left: 0; top: 0; border-radius: 30px; width: 0; height: 0; margin:15px 0 0 15px; transition: all 0.2s;}
.radio-list li label input:checked + span:after{width: 14px; height: 14px; margin:8px 0 0 8px;}

@media (min-width: 768px){
	.modal-dialog{width: 700px;}
}
@media (max-width: 767px){
	.modal .modal-body{padding: 15px;}
	.modal button.close{margin:-10px -10px 0; padding: 10px;}
	.radio-list{margin: -5px -5px 0;}
	.radio-list li{padding: 5px;}
	.modal h3{font-size: 22px; line-height: 26px;}
	.modal h4{font-size: 20px; line-height: 26px;}
	.modal h4 span{font-size: 24px; line-height: 28px; padding-bottom: 5px;}
	.modal h5{font-size: 16px; line-height: 20px;}

}


table td {
    padding:15px;
    text-align:left;
}

.redText {
    font-size:15px;
    color:red;
}

.errorText {
    border: solid 1px #e80707;
}

.lblSpan {
    color: #373737;
    font-size: 18px;
    line-height: 22px;
}

.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    -webkit-transition: all 2s linear;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    -webkit-transition: all 2s linear;
}

.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
}