.animated{-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(-45deg)}40%{-webkit-transform:perspective(400px) rotateX(5deg)}70%{-webkit-transform:perspective(400px) rotateX(-5deg)}100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(-45deg)}40%{-moz-transform:perspective(400px) rotateX(5deg)}70%{-moz-transform:perspective(400px) rotateX(-5deg)}100%{-moz-transform:perspective(400px) rotateX(0deg)}}@-o-keyframes flipInX{0%{-o-transform:perspective(400px) rotateX(-45deg)}40%{-o-transform:perspective(400px) rotateX(5deg)}70%{-o-transform:perspective(400px) rotateX(-5deg)}100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}@-ms-keyframes flipInX{0%{-ms-transform:perspective(400px) rotateX(-45deg)}40%{-ms-transform:perspective(400px) rotateX(5deg)}70%{-ms-transform:perspective(400px) rotateX(-5deg)}100%{-ms-transform:perspective(400px) rotateX(0deg);opacity:1}}@keyframes flipInX{0%{transform:perspective(400px) rotateX(-45deg)}40%{transform:perspective(400px) rotateX(5deg)}70%{transform:perspective(400px) rotateX(-5deg)}100%{transform:perspective(400px) rotateX(0deg);opacity:1}}.flipInX{-webkit-backface-visibility:visible!important;-webkit-animation-name:flipInX;-webkit-transform-origin:0 0 0;-webkit-transform-style:preserve-3d;-o-backface-visibility:visible!important;-o-animation-name:flipInX;-o-transform-origin:0 0 0;-moz-backface-visibility:visible!important;-moz-animation-name:flipInX;-moz-transform-origin:0 0 0;transform-origin:0 0 0;backface-visibility:visible!important;animation-name:flipInX}
.main {
	width:100%;
	margin:50px 0;
	text-align:center;
	background:#333;
}
.content {
	text-align:left;
	margin:25px 0;
}
.content-text {
	margin:0 0 15px;
}

/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/

.nav {
	position:relative;
	display:inline-block;
	font-size:14px;
	font-weight:900;
}
.nav-list {
	text-align:left;
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;
}
.nav-item a {
	display:block;
	color:#FFF;
	padding:15px 20px;
	background:#7A1E61;
	border-bottom:1px solid #8B2870;
}
.nav-item > a:hover {
	background:#822368;
}
.nav-item:hover .nav-submenu {
	display:block;
}
/* Navigation submenu */
.nav-submenu {
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.nav-submenu-item a {
	background:#8B2770;
	border-bottom:1px solid #9A337E;
	display:block;
	padding:15px;
}
.nav-submenu-item a:hover {
	background:#932C77;
}
/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:#3D3D3B url(../img/nav.svg) no-repeat center center;
	background-size:18px;
	height:50px;
	width:50px;
}
/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left:1px solid #8B2870;
	height:49px;
	width:50px;
	cursor:pointer;
}
.nav-click i {
	display:block;
	height:48px;
	width:48px;
	background:url(../img/drop.svg) no-repeat center center;
	background-size:20px;
}
.nav-click:hover {
	background-color:#6E1656;
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width:980px) {
	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;

		padding:50px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item > a {
		padding:15px;
	}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	.nav-submenu {
		position:static;
		width:100%;
	}
}
nav {
    width: 100%;
    position: relative;
    z-index: 999;
    margin: 0;
    float: right;
    display: block
}
.menu3dmega ul {
    margin: 0;
    padding: 0;
	float:right;
	
}
.menu3dmega li .dropdown-menu {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}
.menu3dmega ul li {
    list-style: none
}
.menu3dmega a,
.menu3dmega a:visited {
    outline: 0 none
}
.menu3dmega {
	background:#333;
    position: relative;
    z-index: 99999;
}
.menu3dmega:after {
    clear: both;
    content: "";
    display: block
}
.menu3dmega>ul>li {
    display: inline-block
}
.menu3dmega>ul>li.last {
    border-right: none!important
}
.menu3dmega>ul>li.first {
    border-left: none!important
}
.menu3dmega>ul>li.full-width {
    position: static
}
.menu3dmega .full-width .dropdown-menu {
    left: 0;
    width: 100%
}
.menu3dmega .full-width .dropdown-menu_1 {
    right: 0;
    width: 100%
}
.menu3dmega>ul>li>a {
    display: block;
    position: relative;
    line-height: 104px;
    padding: 0 17.5px!important;
    background: url(../images/nav_li.jpg) 0 -123px repeat-x;
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #149993;
    text-decoration: none;
    font-weight: 400;
    height: 100px;
    margin: 0
}
.menu3dmega>ul>li.current>a {
    background: url(../../images/nav_li_current.jpg) 0 -123px repeat-x
}
.menu3dmega>ul>li.current>a>p {
    color: #FFF!important;
    text-decoration: none
}
.menu3dmega>ul>li.current>a,
.menu3dmega>ul>li.menu3dmega>a,
.menu3dmega>ul>li>a:hover {
    color: #fff;
    background-position: 0 0
}
.button,
.menu3dmega a,
.menu3dmega li,
.menu3dmega span,
.pag_box span,
.read {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    transition: all .9s ease
}
.menu3dmega>ul>li>a>p {
    font-family: Lato, sans-serif;
    font-size: 13px;
    color: #828484;
    text-decoration: none;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 0;
    margin-top: -85px
}
.menu3dmega>ul>li>a>p:hover {
    color: #149993;
    text-decoration: none
}
.menu3dmega>ul>li>.dropdown-menu {
    left: auto
}
.menu3dmega>ul>li>.dropdown-menu_1 {
    right: 0
}
.menu3dmega li .dropdown-menu_1 {
    position: absolute;
    text-align: left;
    border-bottom: 5px solid #149993;
    white-space: nowrap;
    display: none;
    background: #1a2f40;
    background: -moz-linear-gradient(top, #1a2f40 0, #294358 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a2f40), color-stop(100%, #294358));
    background: -webkit-linear-gradient(top, #1a2f40 0, #294358 100%);
    background: -o-linear-gradient(top, #1a2f40 0, #294358 100%);
    background: -ms-linear-gradient(top, #1a2f40 0, #294358 100%);
    background: linear-gradient(to bottom, #1a2f40 0, #294358 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1a2f40', endColorstr='#294358', GradientType=0)
}
.menu3dmega li .dropdown-menu {
    position: absolute;
    right: 0px;
    top: 55px;
    text-align: left;
    white-space: nowrap;
    display: none;
    width: 885px;
}
.testmenu {
    background: #004183 none repeat scroll 0 0 !important;
    color: #fe9601;
    cursor: pointer;
    display: inline-block !important;
    float: right;
    font-weight: bold;
    height: 55px!important;
    line-height: normal;
    text-align: center;
    width: 30%!important;
}
.menu3dmega li:hover .dropdown-menu {
    display: block;
}
.errormsg {
    float: right;
    line-height: 16px;
    padding-top: 11px;
}
.menu3dmega li .sub {
    border-top: 1px solid #ccc;
    display: none;
    position: absolute;
    top: 0;
    z-index: 999
}
.menu3dmega .menuToggle {
    cursor: pointer;
    display: none;
    font-size: 10px;
    padding: 12px 15px;
    text-align: left;
    text-transform: uppercase;
    color: #EEE
}
.menu3dmega .menuToggle .megaMenuToggle-icon {
    background: none repeat scroll 0 0 rgba(230, 230, 230, .7);
    display: inline-block;
    float: right;
    height: 2px;
    margin-top: 12px;
    position: relative;
    text-align: left;
    width: 16px
}
.menu3dmega .menuToggle .megaMenuToggle-icon:before {
    background: none repeat scroll 0 0 rgba(230, 230, 230, .8);
    content: "";
    height: 2px;
    position: absolute;
    top: -4px;
    width: 16px
}
.menu3dmega .menuToggle .megaMenuToggle-icon:after {
    background: none repeat scroll 0 0 rgba(230, 230, 230, .9);
    content: "";
    height: 2px;
    position: absolute;
    top: -8px;
    width: 16px
}
.menu3dmega li .blackbox {
    background-color: #333;
    color: #eee;
    text-shadow: 1px 1px 1px #000;
    padding: 4px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -moz-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000
}
.menu3dmega li .blue {
    background-color: #444;
    box-shadow: 0 4px 12px #000 inset;
    -webkit-box-shadow: 0 4px 12px #000 inset;
    -moz-box-shadow: 0 4px 12px #000 inset;
    padding: 7px 10px;
    text-shadow: 1px 1px 1px #000
}
.menu3dmega .blue li a {
    color: #fff!important;
    text-shadow: 0 1px 0 #000!important
}
.menu3dmega li ul {
    list-style: none;
    margin: 0;
    float: left
}
.menu3dmega li ul li {
    padding: 5px 0 0;
    position: relative;
    margin: 0;
    float: none
}
.menu3dmega li .grisbox li {
    background: #f4f4f4;
    border: 1px solid #bbb;
    margin: 0 0 4px;
    padding: 4px 6px;
    width: 116px;
    -moz-border-radius: 5px 5px 2px 2px;
    -webkit-border-radius: 5px 5px 2px 2px;
    -khtml-border-radius: 5px 5px 2px 2px;
    border-radius: 5px 5px 2px 2px;
    -webkit-box-shadow: inset 0 0 3px #ccc;
    -moz-box-shadow: inset 0 0 3px #ccc;
    box-shadow: inset 0 0 3px #ccc
}
.menu3dmega .wp-non-dropdown {
    padding: 5px 15px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}
.menu3dmega .wp-non-dropdown:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}
.menu3dmega .search-form .input-group-btn {
    width: auto
}
@-moz-document url-prefix() {
    .wp-non-dropdown .btn {
        padding-top: 6px;
        padding-bottom: 6px
    }
}
.menu3dmega .contact-form span {
    display: block;
    color: #888
}
.menu3dmega .contact-form li {
    margin-bottom: 2px!important
}
.menu3dmega .imgclass {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    background: #fff;
    padding: 4px;
    border: 1px solid #777;
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666
}
.menu3dmega .text {
    width: 230px;
    display: block
}
.menu3dmega .menu-title {
    font-family: Lato, sans-serif;
    color: #149993;
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    padding-bottom: 6px
}
.menu3dmega .menu-title-cs {
    font-family: Lato, sans-serif;
    color: #149993;
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-indent: 6px
}
.menu3dmega .menu-title-cs:hover {
    color: #FFF;
    background-color: #1898f9;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.menu3dmega .menu-title-ws {
    font-family: Lato, sans-serif;
    color: #149993;
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-indent: 6px
}
.menu3dmega .menu-title-ws:hover {
    color: #FFF;
    background-color: #ef9906;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.menu3dmega .menu-title-ms {
    font-family: Lato, sans-serif;
    color: #149993;
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-indent: 6px
}
.menu3dmega .menu-title-ms:hover {
    color: #FFF;
    background-color: #ff376e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.menu3dmega .menu-title-hs {
    font-family: Lato, sans-serif;
    color: #149993;
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-indent: 6px
}
.menu3dmega .menu-title-hs:hover {
    color: #FFF;
    background-color: #369724;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.menu3dmega .menu-title-dm {
    font-family: Lato, sans-serif;
    color: #149993;
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-indent: 6px
}
.menu3dmega .menu-title-dm:hover {
    color: #FFF;
    background-color: #bd4715;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.menu3dmega .menu-title_1 {
    font-family: Lato, sans-serif;
    color: #149993;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    border-bottom: 1px solid #34495b;
    text-decoration: none;
    padding-bottom: 8px;
    padding-top: 15px
}
.menu3dmega .desc {
    font-style: italic;
    color: #999;
    font-size: 10px;
    display: block;
    font-weight: 400
}
.menu3dmega .separator {
    clear: both;
    margin: 0 0 10px;
    height: 1px;
    display: block;
    border-bottom: 1px solid #eee
}
.menu3dmega .separator:before,
.separator:after {
    content: "";
    display: table;
    line-height: 0
}
.menu3dmega .content {
    padding: 0 0 5px;
    display: block;
    margin-left: -8px
}
.menu3dmega .col-lg-2 {
    margin: 5px 0 0;
    display: block;
    float: left
}
.menu3dmega .col-lg-6,
.menu3dmega .col-lg-6a {
    margin: 5px 0 0;
    display: block
}
.menu3dmega .content:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0
}
.menu3dmega .separate {
    border-bottom: 1px solid #ccc
}
.menu3dmega .clearfix>.menu-title {
    margin: 10px 20px
}
.menu3dmega .left {
    float: left
}
.menu3dmega .right {
    float: right!important
}
.menu3dmega div[class*=animate-] {
    display: none;
    position: absolute
}
.menu3dmega>ul>li.right {
    border-left: none!important;
    border-right: none!important
}
.col-lg-2 ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 18px!important
}
.col-lg-2 ul li {
    list-style-image: url(../../images/arrow_12.png);
    list-style-position: outside;
    margin: 0;
    padding: 0
}
.col-lg-2 ul li a {
    font-family: Lato, sans-serif;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    padding: 5px 10px 5px 2px;
    line-height: 24px;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important
}
.col-lg-2 ul li a:hover {
    text-decoration: none;
    color: #149993
}
.col-lg-2 img {
    float: right;
    border: 0 none;
    margin: 0!important
}
.menu3dmega .menu-title p,
.menu3dmega .menu-title_1 p {
    font-family: Lato, sans-serif;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}
.col-lg-6 iframe {
    float: left;
    margin: 0;
    border: 0 none;
    overflow: hidden
}
.col-lg-6a {
    float: left;
    width: 250px;
    margin-left: 20px;
    border: none
}
@media(min-width:480px) and (max-width:1200px) {
    .menu3dmega li .dropdown-menu {
        width: 100%;
        padding: 0px 20px;
    }
}
@media(min-width:320px) and (max-width:768px) {
    .menu3dmega li:hover .dropdown-menu {
        display: none;
    }
}
.menu3dmega.responsive li.menu-non-dropdown,
.menu3dmega.responsive>ul>li {
    width: 50%
}
.menu3dmega.responsive .wp-non-dropdown {
    width: auto
}
.menu3dmega.responsive>ul>li>div {
    width: 100%;
    left: 0
}
}
@media(max-width:480px) {
    .menu3dmega.responsive li.menu-non-dropdown, .menu3dmega.responsive>ul>li {
        width: 100%
    }
    .menu3dmega.responsive>ul>li>.arrow-icon-bottom:after {
        right: 5%
    }
}
@media(min-width:768px) {
    .menu3dmega.responsive .menuToggle {
        display: none
    }
    .menu3dmega.responsive {
        display: block
    }
    .menu3dmega.responsive>ul {
        display: block!important
    }
}
@media(max-width:767px) {
    .menu3dmega.responsive {
        border: none!important
    }
    .menu3dmega.responsive .menuToggle {
        display: block
    }
    .menu3dmega.responsive>ul {
        display: none
    }
    .menu3dmega.responsive .contact-form input[type=text],
    .menu3dmega.responsive .contact-form textarea {
        width: 98%
    }
    .menu3dmega.responsive>ul>li>.arrow-icon,
    .menu3dmega.responsive>ul>li>.arrow-icon-bottom,
    .menu3dmega.responsive>ul>li>a {
        position: relative
    }
    .menu3dmega.responsive li>.arrow-icon:after {
        background: none repeat scroll 0 0 transparent;
        border-color: #bbb transparent transparent;
        border-style: solid dashed dashed;
        border-width: 4px 4px 0;
        content: "";
        display: inline-block;
        font-size: 0;
        margin-top: -1px;
        padding-top: 1px;
        position: absolute;
        right: 5%;
        top: 50%
    }
    .menu3dmega.responsive>ul>li {
        border-left: none!important;
        border-right: none!important
    }
    .menu3dmega.responsive li .dropdown-menu {
        width: 100%;
        left: 0;
        top: auto;
        border-left: none!important;
        border-right: none!important
    }
    .menu3dmega.responsive li .dropdown-menu_1 {
        width: 100%;
        right: 0;
        top: auto;
        border-left: none!important;
        border-right: none!important
    }
}
@media(min-width:768px) {
    .menu3dmega.vertical {
        width: auto;
        float: left
    }
    .menu3dmega.vertical .dropdown-menu.flyout-menu,
    .menu3dmega.vertical .dropdown-menu_1.flyout-menu {
        width: auto
    }
    .menu3dmega.vertical .dropdown-menu {
        width: 800px;
        max-width: 800px;
        top: 0;
        left: 100%!important;
        border-top: 1px solid #ccc
    }
    .menu3dmega.vertical .dropdown-menu_1 {
        width: 800px;
        max-width: 800px;
        top: 0;
        right: 100%!important;
        border-top: 1px solid #ccc
    }
    .menu3dmega.vertical>ul>li {
        position: relative
    }
    .menu3dmega.vertical span.arrow-icon-bottom:after {
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent #eee
    }
    .menu3dmega.vertical li:hover span.arrow-icon-bottom:after {
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent #fff
    }
    .menu3dmega.vertical>ul>li {
        border-left: none!important;
        border-right: none!important
    }
}