﻿.hideGridColumn {
        display: none;
    }
.inner-wrapper > ul {
  font-size: 15px;
  line-height: 30px;
  list-style: outside none disc;
  margin-left: 47px;
  padding: 0;
}

.inner-wrapper > h2 {
  color: #83af33;
  line-height: 36px;
  font-weight: normal;
}

.inner-wrapper sub {
  color: #436f2a;
  font-weight: bold;
  margin-left: 13%;
}

#access > ul {
  text-transform: uppercase;
}

marquee {
  text-align: justify;
  color: #5b5b5b;
  font-family: 'Signika', sans-serif;
  font-size: 14px;
  line-height: normal;
}

.border-none {
  border-style:hidden;
}

.multiple-fieldset fieldset label {
 margin-top: 2px !important;
    min-width: 103px !important;
}

.multiple-fieldset fieldset input[type="text"]  {
  margin: 5px 0 !important;
    width: 180px !important;
}