﻿body {
}
#footer{background:#555a60;padding:50px 0 20px; position:relative}
#footer:before{position: absolute; content:""; width: 100%; height: 90px; bottom:100%; background: url(../../New/images/edFiles/footer-bg.png) center bottom repeat-x #fff;}
#footer .footer-left h5{color:#70ba47; font-family:"ProximaNovaBold"; text-transform: uppercase; padding: 0 0 10px; font-weight:normal;}
#footer ul li{padding-bottom: 3px;}
#footer a{color:#9ba0a6; font-size:14px; line-height: 18px;}
#footer a:hover{color:#fff;}
.footer-right h5{color:#abaeb2; padding: 0 0 5px;}
.footer-right h5.light-text{color:#fff;}
#footer .tel-no{color:#ffffff; font-size: 1.71em; font-family:"ProximaNovaBold";}
#footer .tel-no:hover{color:#9ba0a6;}
#footer .social-icons{text-align:left;}
#footer .social-icons li{display:inline-block; padding:0 10px 0 0;}
#footer .social-icons li:last-child{padding-right: 0;}
#footer .social-icons li a{display:block;text-align:center;width:43px;height:43px;line-height:43px;font-size:26px;color:#555a60; background:#abaeb2; border-radius: 43px;}
#footer .social-icons li a:hover{background:#fff;}

.copyright{padding:0;color:#9ba0a6; text-align: center;}