@media (max-width: 1200px){
	body{font-size: 13px; line-height: 17px;}
	.thumbnail .caption h3{font-size: 1.9em;}
}

@media (max-width: 991px){
	.nav-outer{padding: 0!important;}
	.btn-outer{padding: 0 0 5px;}
	#header .btn{height: 32px; padding: 7px 10px 5px;}
	#mainNavigation li a{padding: 7px 10px 5px;}
	.small-header .logo{width: 190px;}
	.footer-left{border-bottom:solid 1px #63686e; padding: 0 0 10px; margin-bottom: 20px;}
	.footer-right{text-align: center;}
	#footer .social-icons{text-align: center;}
	#footer .social-icons li{padding: 0 5px;}
}

@media (min-width: 768px){
	#mainNavigation{display: block!important;}
}

@media (max-width: 767px){
	body{font-size: 12px; line-height: 16px;}	
	.wrapper{padding:63px 0 0;}
	.logo{width: 107px!important;}
	.nav-outer{padding-top: 0!important;}
	#header{padding: 10px 0;}
	#header .btn-outer{float: right; text-align: center;}
	#header .btn{margin:0 10px 0 0; padding:10px 10px 8px; height: 38px;}
	.nav-icon{display: block;}
	#mainNavigation{position: absolute; top: 100%; left: 0; width: 100%; background: #fff; border-top: solid 1px #cdcdcd;border-bottom: solid 3px #cdcdcd; display:none;}
	#mainNavigation li{float: none; padding:0; border-radius: 0;}
	#mainNavigation li a{border: 0; padding: 8px 15px 7px;}
	#mainNavigation li a:hover{background: #fcfcfc;}
	#mainNavigation li.active a{background: #e5e5e5;}
	.thumbnail{padding:15px;}
	.thumbnail .thumbnail-icon{width: 110px; height: 110px;}
	.thumbnail .caption h3{padding-bottom: 15px;}
	.thumbnail .caption p{min-height: inherit; padding-bottom: 15px;}
	.content-block{padding-top: 40px;}
	.footer-left{text-align: center;}
	#footer{padding-top: 10px;}
	.footer-left ul{margin-bottom: 20px;}
}

@media (max-width: 560px){
	#header .btn span{display: none;}
	#header .btn img{left: 0;}
}


