@font-face {
	font-family: 'HelveticaNeue LT 55 Roman';
	src: url('../fonts/HelveticaNeueLT-Roman.eot');
	src: url('../fonts/HelveticaNeueLT-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-Roman.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue LT 45';
	src: url('../fonts/HelveticaNeueLT-Light.eot');
	src: url('../fonts/HelveticaNeueLT-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-Light.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
/*@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
		url('../fonts/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
		url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Italic.woff2') format('woff2'),
		url('../fonts/SegoeUI-Italic.woff') format('woff'),
		url('../fonts/SegoeUI-Italic.ttf') format('truetype'),
		url('../fonts/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
*/
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiBold.eot');
	src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
		url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/SegoeUI-SemiBold.ttf') format('truetype'),
		url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
/*
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Light.woff2') format('woff2'),
		url('../fonts/SegoeUI-Light.woff') format('woff'),
		url('../fonts/SegoeUI-Light.ttf') format('truetype'),
		url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff2') format('woff2'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype'),
		url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-BoldItalic.eot');
	src: url('../fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
		url('../fonts/SegoeUI-BoldItalic.woff') format('woff'),
		url('../fonts/SegoeUI-BoldItalic.ttf') format('truetype'),
		url('../fonts/SegoeUI-BoldItalic.svg#SegoeUI-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
*/
@font-face {
  font-family: 'Signika', sans-serif;
  src: url('../fonts/HelveticaNeueLT-Roman.eot');
  src: url('../fonts/HelveticaNeueLT-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLT-Roman.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLT-Roman.woff') format('woff'),
       url('../fonts/HelveticaNeueLT-Roman.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLT-Roman.svg#HelveticaNeueLT-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}

/*by shoaib (folder flip)*/
#shelf .divider, .divider:hover {
    box-sizing:content-box !important;
}

#book-zoom .divider-front {
    box-sizing:content-box !important;
}
/*by shoaib (folder flip)*/

html{-webkit-text-size-adjust:none;margin:0;padding:0;}
body{background:#dbd8d8;color:#000;margin:0;padding:0;font-family: 'Signika', sans-serif;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
a{color:#444;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;text-decoration:none}
a:hover{color:#83af33;text-decoration:none;}
:focus{outline:none}
ul{list-style:none;margin:0;padding:0;}
p{margin:0;padding:0;}
input,select,textarea {border: 1px solid #c4c4c4;box-shadow: 0 0 0;}
th,td,caption {font-weight: normal;text-align: left;vertical-align: top;}
.radius-none{-moz-border-radius:0 !important;-ms-border-radius:0 !important;-o-border-radius:0 !important;-webkit-border-radius:0 !important;border-radius:0 !important;}
.datatable{border:1px solid #cccaca;width:100%;border-spacing:0;empty-cells:show;border-bottom:0 none;}
.datatable th{background:#ecebeb;color:#030303;font-weight:bold;font-size:14px;padding:6px;vertical-align:middle;text-align:center;text-decoration:none;border:0 none;border-bottom:1px solid #cccaca;}
.datatable th a{background:#ecebeb;color:#030303;font-weight:bold;font-size:14px;padding:6px;vertical-align:middle;text-align:center;text-decoration:none;border:0 none;}
.datatable td{border-bottom:1px solid #e9e9e9;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;color:#595959;font-size:12px;padding:6px;font-family: 'Signika', sans-serif;vertical-align:middle;text-align:center;}
.datatable tbody td,.datatable thead th {border-bottom:1px solid #cccaca;border-left:0 none;border-right:1px solid #cccaca;}
.datatable tbody td.last,.datatable thead th.last{border-right:0 none !important;}
.datatable tbody tr.even{background:#fff;}
.datatable tbody tr.odd{background:#f5f5f5;}
.datatable-small th{background:#ecebeb;color:#030303;font-weight:bold;padding:6px;border:0 none;border-bottom:1px solid #cccaca;font-size: 12px;text-align: center;text-decoration: none;vertical-align: middle;}
.datatable-small th a {background:#ecebeb;color:#030303;font-weight:bold;padding:6px;border:0 none;font-size: 12px;text-align: center;text-decoration: none;vertical-align: middle;}
.f-l,fl,f-left{float:left !important;}
.f-r,fr,f-right{float:right !important;}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}
.text-green {color:#83af33;}
.overflow-auto {overflow:auto;}
.color-label {float: left;height: 30px;padding: 4px;vertical-align: middle;width: auto !important;}
.clearfix{clear:both;margin:0;padding:0;line-height:0;height:0;font-size:0;}
.wrapper{margin:0 auto;width:100%;}
.inner-wrapper{margin:0 auto;width:1100px;}
.btn{font-weight:700;font-size:18px;color:#fff;width:123px;height:42px;line-height:40px;text-align:center;vertical-align:middle;display:inline-block;vertical-align:top;border:0 none;cursor:pointer;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;-webkit-appearance:none;appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;-webkit-appearance:none;appearance:none;}
/*.btn{font-weight:bold;font-size:18px;color:#fff;width:123px;height:42px;line-height:40px;text-align:center;vertical-align:middle;display:inline-block;vertical-align:top;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:0 none;cursor:pointer;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;}*/
.btn-small{border: 0 none;color: #fff;cursor: pointer;display: inline-block;font-family: "HelveticaNeueLT-Bold";font-size: 15px;line-height: 28px;text-align: center;transition: all 0.3s ease 0s;vertical-align: top;width: auto;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;-webkit-appearance:none;appearance:none;}
.btn.green,.btn-small.green{background:#83af33;font-family: 'Signika', sans-serif;}
.btn:hover.green,.btn-small:hover.green{background:#01487f;color:#fff;}
.btn.blue,.btn-small.blue{background:#01487f;}
.btn:hover.blue,.btn-small:hover.blue{background:#83af33;color:#fff;}
.no-margin{margin:0 !important;}
.header-container{float:left;width:100%;clear:both;background:#fff;}
.header-container .logo{float:left;margin:15px 0;}
.header-container .logo a img{max-width:317px;height:auto;width:100%;border:0 none;}
.header-container .headers-btn{float:right;margin:0;}
.menu {background:none;float: right; margin: 30px 0 0;}
.menu ul {list-style: outside none none;margin: 0 auto;padding: 0;position: relative;}
.menu ul li {float:none;display:inline-block;vertical-align:top;line-height:normal;margin:0 5px;}
.menu ul li:last-child{ margin-right: 0;}
.menu ul li a {font-weight:600;font-size:15px;color:#c3c3c3;padding:10px;display:block; text-transform: capitalize; color: #343434; font-family: 'Segoe UI'; line-height: 19px;}
.menu ul li a:hover{color:#fff; background: #7caa33; }
#access {float: none;margin: 0 auto;width:auto;}
#access a, #access #menu a, #menu li a {display: block;transition: transform 500ms linear 0s, box-shadow 500ms ease-in 0s, background-color 250ms ease-in 0s;}
#access a.skip-link, #access #menu a.skip-link {background:rgba(0, 0, 0, 0) url("../Images/menu-icon.png") no-repeat scroll left center;color: #fff;font-size: 18px;font-weight:bold;padding:13px 15px 13px 35px;position: relative;z-index: 2;}
#access a.skip-link span, #access #menu a.skip-link span {display: none;padding: 0 0.3em;position: absolute;right: 0.5em;top: 0.5em;}
#access #menu li.active a {color: #000;cursor: default;}
#menu li {list-style-image: none;list-style-type: none;position: relative;transition: max-height 500ms linear 0s;}

.form-label {font-weight:bold;font-size: 15px;color: #030303;min-width: 160px;display: inline-block;line-height: 30px;vertical-align: top;text-transform:capitalize;}
.form-textbox {border: solid 1px #c4c4c4;height: 30px;line-height: 30px;padding: 0 5px;max-width: 230px;width: 100%;margin: 2px 0 0 3px;}
.align-middle {vertical-align:middle;padding:5px;}

/* --- INDEXPAGE --- */
.banner-container{text-align:center;float:left;width:100%;background:url("../Images/banner-bg.jpg") no-repeat scroll; background-size: 100% auto; min-height: 445px;}
.middle-container{background:#fff;float:left;width:100%;clear:both;margin:0;padding:0;}
.middle-container .benifit-containt {
    float: left;
    margin: 48px 10px 0 0;
    min-height: 368px;
    padding: 40px 20px 0;
    position: relative;
    transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;
    width: 267px;
}
.benifit-containt .benifit-icon{ width: 100%; text-align: center;}
.benifit-containt .benifit-points{position:relative;width:100%;padding:0 0 0 0; text-align: center; margin: 15px 0 0 0;}
.benifit-containt .benifit-points h2{margin:0;padding:0; display: table; width: 100%; height: 62px; text-align: center;}
.middle-container .benifit-containt{ background: #f1f1f1;}
.middle-container .benifit-containt:hover{ background: #e5e5e5;}
.middle-container .benifit-containt.last{ margin-right: 0;}

/*.benifit-containt .benifit-points h2 a{padding:0;line-height:normal;margin:7px 0 10px;font-size:23px;font-weight:bold;color:#030303;}*/
/*changed by shoaib*/
.benifit-containt .benifit-points h2 a{padding:0;line-height:normal;margin:0;font-size:23px;font-weight:600;color:#414a54;display:table-cell; font-family: 'Segoe UI'; text-transform: uppercase; vertical-align: middle;}
.benifit-containt .benifit-points h2 a:hover{color:#83af33;}
.benifit-containt .benifit-points p{font-size:16px;color:#47525d; width: 100%; font-family: 'Open Sans', sans-serif; line-height: 21px; margin: 15px 0 0 0; font-weight: 400;}
.benifit-containt .benifit-points .benifit-link {
    border: 2px solid #84ab26;
    border-radius: 8px;
    color: #84ab26;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 20px;
		margin: 27px 0 0 0;
}
.benifit-containt .benifit-points .benifit-link:hover{ background: #84ab26; color: #fff;}
.trial-contant{margin:90px 0;float:left;width:100%;clear:both;}
.trial-contant .trial-btn {
    display: block;
    float: left;
    padding: 80px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}
.trial-btn > h2 {
    color: #414a54;
    font-family: open sans;
    font-size: 43px;
    font-weight: 300;
    text-align: center;
		margin-top: 60px;
}
.trial-contant .trial-btn a {
    border: 2px solid #84ab26;
    border-radius: 12px;
    color: #84ab26;
    font-family: "Open Sans",sans-serif;
    font-size: 28px;
    font-weight: 400;
    height: auto;
    line-height: normal;
    margin: 15px 0 0;
    padding: 14px 40px;
    width: auto;
}
.trial-contant .trial-btn a:hover{ background: #84ab26; color: #fff;}
.virtual-containt #book-wrapper{ width: 404px!important; height: 278px!important; }
.virtual-containt{text-align:center;float:right; width: 50%;}
.footer-container{float:left;width:100%;background:#242424;display:table;padding:33px 0 0;}
.footer-container .footer-contact{float:right; width: 405px; padding: 35px 30px; background: #303030;}
.footer-container .footer-links{float:left;}
.footer-links .links-content{float:left;margin:0 0 0 34px;min-width:126px;}
.footer-links .links-content:nth-child(1){margin-left:0;}
.footer-links .links-content h2{font-weight:600;font-size:19px;color:#84ac26;line-height:normal;border-bottom:solid 1px #ffffff;margin:0 0 15px;padding:0 0 14px; font-family: open sans; text-transform: uppercase;}
.footer-links .links-content ul li{line-height:25px;}
.footer-links .links-content ul li a{font-size:14px;color:#d8d8d8; font-family: open sans;}
.footer-links .links-content ul li a:hover{color:#83af33;}
/*.banner-desc{position: absolute;left:9%;top:15%;z-index: 9;text-align:left;}
.banner-desc h2{font-weight:bold;font-size:26px;color:#1f1f1f;}
.banner-desc p{font-weight:bold;font-size:16px;color:#1f1f1f;line-height:normal;width:100%;max-width:420px;margin:13px 0;}
.banner-desc ul li{font-weight:bold;font-size:16px;color:#1f1f1f;line-height:normal;width:100%;max-width:420px;margin:13px 0;}*/
.bx-viewport{}
.bx-wrapper {position: relative; float:left; max-width:100% !important; width:100%;padding: 0;*zoom: 1;}
.bx-wrapper > img {max-width: 100%; display: block; width: 100%;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {display:none;}
.bx-wrapper .bx-loading {min-height: 50px;background: url(../../New/images/bx_loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:42%;outline: 0;width:28px;height:45px;text-indent:-9999px;z-index:9999;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}
.bx-wrapper .bx-prev {left:20px;background: url(../../New/images/control1.png) no-repeat 0 0;}
.bx-wrapper .bx-next {right:20px;background: url(../../New/images/control1.png) no-repeat -82px 0;}
.bx-wrapper .bx-controls-auto {text-align: center;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active {background-position: -86px -33px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left;	width:auto;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0;width: 35px;}
.bx-wrapper .bx-caption {position: absolute;bottom: 0;left: 0;background: #666\9;background: rgba(80, 80, 80, 0.75);width: 100%;}
.bx-wrapper .bx-caption span {color: #fff;font-family: Arial;display: block;font-size: .85em;padding: 10px;}

/* --- ABOUT US PAGE --- */
.title-container{background:rgba(0, 0, 0, 0) url("../Images/title-bg.jpg") no-repeat; float:left;width:100%;clear:both;margin:0;padding:80px 0;}
.title-container h1{font-size:40px;color:#fff; font-family: 'HelveticaNeue LT 55 Roman'; text-align: center;}
.aboutus-title h1{line-height:normal;padding:0px;}
.title-container p{font-family: 'HelveticaNeue LT 45';font-size:23px;color:#fff;padding-top:5px;text-align:center;}
.page-container{background:#fff;float:left;width:100%;clear:both;margin:0;padding:30px 0;}
.page-container p{font-family: 'Signika', sans-serif;font-size:17px;color:#5b5b5b;margin:0 0 35px;}
.page-container p.last{margin:0;}
.aboutus-contant .calling-contant p .green{font-weight:bold;font-size:17px;color:#83af33;}
.aboutus-contant .calling-contant p .blue{font-weight:bold;font-size:20px;color:#57aacd;}
.aboutus-contant .calling-contant p{float:left;max-width:69%;text-align:justify;word-break:normal;}
.calling-block{background:#57aacd;color:#fff;float:right;padding:20px 47px;text-align:center;}
.calling-block span{font-weight:bold;font-size:14px;color:#fff;display:block;}
.calling-block span.call-number{font-weight:bold;font-size:24px;color:#fff;line-height:normal;margin:10px 0;}
.trial-block{background:#bdcd57;color:#fff;float:right;padding:20px 47px;text-align:center;}
.trial-block .title{font-weight:bold;font-size:22px;color:#fff;line-height:normal;margin:0 0 10px;}
.trial-block p{margin:0;padding:0;font-family: 'Signika', sans-serif;font-size:10px;color:#fff;text-align:center;}
.aboutus-contant .securityheading {float:left;width:100%;margin:10px 0;color: #030303;font-family: 'Signika', sans-serif;font-size: 23px;}
/*.aboutus-contant ul{float:left;width:100%;list-style:inside none disc;}*/
/*.aboutus-contant ul li{color:#5b5b5b;font-size: 14px;}*/
/*pratik*/
.aboutus-contant ul{width:100%;list-style:inside none disc;margin: 0 0 25px;}
.aboutus-contant ul li{color: #5b5b5b;font-family: 'Signika', sans-serif;font-size:17px}
/*pratik*/

/* --- REGISTER PAGE --- */
.register-title h1{line-height:normal;padding:0px;color:#030303;}
.register-title p{font-family: 'Signika', sans-serif;font-size:14px;color:#5b5b5b;padding-top:20px;width:99%;}
.register-ads{float:right;width:41%;margin-top: 30px;}
.register-ads .calling-block,.register-ads .trial-block{width:100%;padding:20px 25px;}
.register-container .form-containt{margin:25px 0 0;padding:0;width:100%;text-align:right;}
.register-container .listing-contant .quick-find{display: inline-block;float: none;vertical-align: top;}
.register-container .form-half-containt{width:57%;float:left;}
.register-container .form-containt .content-title{font-weight:bold;font-size:23px;color:#030303;margin:0 0 15px;text-align:left;}
.register-container .form-containt .content-box{border:solid 1px #b8b8b8;padding:40px 30px;width:100%;text-align:left;}
.form-containt .content-box fieldset{position:relative;margin:22px 0 0;padding:0;border:0;}
.form-containt .content-box fieldset:first-child{margin:0 !important;}
.form-containt .content-box fieldset label{font-weight:bold;font-size:15px;color:#030303;min-width:160px;display:inline-block;line-height:30px;vertical-align:top;}
.form-containt .content-box fieldset input[type="text"], .form-containt .content-box fieldset input[type="password"]{border:solid 1px #c4c4c4;height:30px;line-height:30px;padding:0 5px;max-width:230px;width:100%;}
.form-containt .content-box fieldset input[type="checkbox"]{margin: 10px 10px 10px 0;}
.form-containt .content-box fieldset select{border:solid 1px #c4c4c4;height:30px;line-height:30px;padding:5px;max-width:230px;width:100%;}
.form-containt .content-box fieldset textarea{border:solid 1px #c4c4c4;padding:0;margin:0;width:100%;max-width:655px;min-height:122px;}
.form-containt .content-box.half-fieldset fieldset{width:45%;margin:22px 0 0;display:inline-block;vertical-align:top;}
.form-containt .content-box.half-fieldset fieldset:first-child{margin:22px 0 0 !important;}
.form-containt .content-box.half-fieldset fieldset.full-fieldset{width:100%;margin:22px 0 0;display:block;}
.register-container .form-submit-btn{float:left;width:100%;text-align:center;margin:30px 0;}
.register-container .form-submit-btn .create-btn{color: #fff;cursor: pointer;font-size: 20px;min-width: 100px;text-align: center;width: auto;}




/* --- LISTING PAGE --- */
.listing-contant{margin:0;padding:0;}
.listing-contant .listing-view{float:left;max-width:69%;text-align:left;}
.listing-contant .listing-view h2{font-weight:bold;font-size:23px;color:#030303;margin:30px 0 15px;line-height:normal;}
.listing-contant .listing-view p{font-family: 'Signika', sans-serif;font-size:14px;line-height:normal;color:#5b5b5b;margin:0;}
.listing-contant .quick-find{float: right;background:#efefef;border:solid 4px #e8e8e8;padding:25px 15px;width:29%;word-wrap:break-word;text-align:left;}
.quick-find h3{font-weight:bold;font-size:19px;color:#030303;}
.quick-find p{font-family: 'Signika', sans-serif;font-size:14px;line-height:normal;color:#5b5b5b;margin:25px 0 10px;}
.quick-find .find-inputbox{position:relative;}
.quick-find .find-inputbox .find-input{height:39px;padding:5px;width:80%;float:left}
.quick-find .find-inputbox .quick-find-btn{width:42px;height:39px;font-size:0;background-image:url(../../images/quickfind-bg.png);background-repeat:no-repeat;background-position: center center;border-radius:0;-webkit-border-radius:0;position:absolute;right:0;top:0;}

/*Pratik*/
.quick-find{float: right;background:#efefef;border:solid 4px #e8e8e8;padding:25px 15px;width:29%;word-wrap:break-word;}
.quickfind-full{width:100%;margin:0 0 15px;}
/*pratik*/

.listing-contant .listing-table{float:left;width:100%;clear:both;margin:20px 0 0;}
.table-scroll{float:left;width:100%;clear:both;overflow:auto;}
.table-scroll table.datatable{min-width:1000px;}
.table-toolbar{float:left;width:100%;margin:30px 0;}
.table-toolbar .sorter{float:left;width:80%}
.table-toolbar .sorter ul li{float:left;height:30px;width:29px;line-height:29px;text-align:center;background:url(../../images/sorter-bg.png) no-repeat center center;padding:0;margin:0 1px 1px 0;}
.table-toolbar .sorter ul li a{font-size:15px;color:#3e3e3e;display:block;}
.table-toolbar .sorter ul li a.active,.table-toolbar .sorter ul li a:hover{background:url(../../images/sorter-bg-active.png) no-repeat center center;}
.table-toolbar .pager{float:none;text-align:center;}
.table-toolbar .pager ul li{float:none;display:inline-block;vertical-align:top; height:30px;width:30px;line-height:29px;text-align:center;padding:0;margin:0;}
.table-toolbar .pager ul li a{font-weight:bold;font-size:17px;color:#484848;display:block;}
.table-toolbar .pager ul li.active,.table-toolbar .pager ul li:hover{background:url(../../images/pager-bg.png) no-repeat center center;}
.table-toolbar .opt-select{float:right;border:solid 1px #999999;font-size:14px;color:#5b5b5b;height:26px;line-height:26px;width:100%;max-width:156px;}
.ic-icon{display:inline-block;vertical-align:top;font-size:0;width:26px;height:23px;margin:0 4px;}
.ic-download{background:url(../../images/icon-download.png) no-repeat center center;}
.ic-edit{background:url(../../images/icon-edit.png) no-repeat center center;}
.ic-view{background:url(../../images/icon-view.png) no-repeat center center;}
.ic-delete{background:url(../../images/icon-delete.png) no-repeat center center;}
.ic-users{background:url(../../images/icon-users.png) no-repeat center center;}
.ic-document{background:url(../../images/icon-document.png) no-repeat center center;}

.ic-save{background:url(../../images/icon-save.png) no-repeat center center;}
.ic-cancel{background:url(../../images/icon-cancel.png) no-repeat center center;}
.ic-checkin{background:url(../../images/icon-checkin.png) no-repeat center center;}
.ic-add{background:url(../../images/icon-add.png) no-repeat center center;}
.ic-request{background:url(../../images/icon-request.png) no-repeat center center;}

.listing-datatable .folder-name{min-width:190px;}
.listing-datatable .first-name{width:140px;}
.listing-datatable .last-name{width:140px;}
.listing-datatable .file-number{width:105px;}
.listing-datatable .tabs{width:50px;}
.listing-datatable .size{width:52px;}
.listing-datatable .date{width:120px;}
.listing-datatable .eff{width:50px;}
.listing-datatable .action{min-width:210px;}
.listing-datatable a{color:#1f43a7;text-decoration:underline;}
.work-area {margin:22px 0 0;float:left;width:100%;position:relative;}



/*Pratik*/

/* --- DASHBOARD PAGE --- */
.dashboard-table tr td{text-align:center;vertical-align:middle;height:215px;}
.dashboard-table tr td.dashboard-1{background:#fe5c5c;}
.dashboard-table tr td.dashboard-2{background-color:#36dfd1;}
.dashboard-table tr td.dashboard-3{background-color:#56d08a;}
.dashboard-table tr td.dashboard-4{background-color:#f3ba6f;}
.dashboard-table tr td.dashboard-5{background-color:#8fc36a;}
.dashboard-table tr td.dashboard-6{background-color:#3a6ac2;}
.dashboard-table tr td.dashboard-7{background-color:#67b79e;}
.dashboard-table tr td.dashboard-8{background-color:#bdc270;}
.dashboard-table tr td.dashboard-9{background-color:#2cabc2;}
.dashboard-table tr td.dashboard-10{background-color:#ff6333;}
.dashboard-table tr td.dashboard-11{background-color:#bc992d;}
.dashboard-table tr td.dashboard-12{background-color:#9f8888;}
.dashboard-table tr td.dashboard-13{background-color:#c95f5f;}
.dashboard-table tr td.dashboard-14{background-color:#54c08c;}
.dashboard-table tr td.dashboard-15{background-color:#be93ca;}
.dashboard-table tr td.dashboard-16{background-color:#1d98b7;}
.dashboard-table tr td.dashboard-17{background-color:#a7a687;}
.dashboard-table tr td.dashboard-18{background-color:#098872;}
.dashboard-table tr td .dashboard-title{font-weight:bold;font-size:14px;color:#fff;padding:20px 0 0;}
.dashboard-table tr td a:hover .dashboard-title{text-decoration:underline;color:#fff;}

/*Pratik*/

/* --- MODIFY BOX --- */
.modify-contant .barcode{margin-left:10px;}
.modify-contant .barcode img{height: 31px; max-width:33%;}
.modify-contant span.print-btn{margin-left:10px;}
.register-container .modify-contant .upload-area{margin-top:15px;background:#fff;padding:20px;}
.register-container .modify-contant .upload-area p{font-family: 'Signika', sans-serif;float:left;max-width:345px;padding-right: 10px;}
.input-file{border:0 none;position:relative;overflow: hidden;float:left;min-height:32px;line-height:28px;}
.input-file:before{position:absolute;content:"Browse";border:solid 2px #013660;background:#014880;font-weight:bold;font-size:14px;color:#fff;display:block;width:95px;height:32px;text-align:center;}
.input-file input[type=file]{border:0 none;height:32px;line-height:28px;text-align:center;background:#f0f0f0;margin-right:10px;}
.ajax__tab_xp .ajax__tab_body{border-color:#ebebeb !important;padding:0 !important;}
.ajax__tab_container .ajax__tab_header{height:auto !important;}
.ajax__tab_header span{background:#707070;color:#fff;height:auto;vertical-align:top;font-weight:bold;font-size:10px;padding:5px 5.5px;margin:1px 0 0px 1px;float:none;display:inline-block;}
.ajax__tab_header span:first-child{margin-left:0;}
.ajax__tab_header .ajax__tab_outer,.ajax__tab_header .ajax__tab_inner,.ajax__tab_header .ajax__tab_tab,.ajax__tab_header .ajax__tab_tab a span,.ajax__tab_header span.ajax__tab_active a span{background:transparent !important;height:auto !important;padding:0 !important;}
.ajax__tab_header span.ajax__tab_active{background:#83af33;padding:10px;}
.fieldset-datatable{margin:0;padding:0;}
.fieldset-datatable tr.even{background:#f4f4f4;}
.fieldset-datatable tr.odd{background:#fff;}
.fieldset-datatable tr td.number{background:#ececec;color:#030303;font-size:32px;text-align:center;vertical-align:middle;}
.fieldset-datatable tr td{text-align:center;padding:7px;}
.modify-contant .fieldset-datatable fieldset label{text-align:left;min-width:90px !important;}


/* --- POPUP BOX --- */
.popup-mainbox{width:90%;max-width:500px; }
.popup-scroller{max-height:385px;overflow:auto;background-color:#fff;}
.popup-scroller p{margin:20px;color: #5b5b5b;font-family: 'Signika', sans-serif;font-size: 17px;}
.popup-scroller input{border:solid 1px #c4c4c4;min-height:20px;padding:3px 5px;line-height:24px;width:93%;}
.popup-head{background:#eaeaea;font-weight:bold;font-size:30px;color:#83af33;padding:20px 0;text-align:center;}
table.details-datatable tbody tr td{border:0 none;font-weight:bold;font-size:15px;color:#030303;line-height:28px;padding:20px 0 0 20px;width:35%;}
table.details-datatable tbody tr td + td{padding:20px 0 0 0px;width:60%;}
table.details-datatable tbody tr td input{border:solid 1px #c4c4c4;min-height:20px;padding:3px 5px;line-height:24px;width:93%;}
table.details-datatable tbody tr td select{border:solid 1px #c4c4c4;min-height:20px;padding:8px 5px;line-height:24px;width:93%;}
.tabs-popup-scroller{padding:20px 20px 0;}
.popup-btn {width: 100%; background-color: white; padding: 20px 0;text-align:center;}
.popup-group {text-align:center;
}
.popup-group input[type="checkbox"] {width:10%;}
.popup-group input[type="text"] {width:50%;}
/* Styles by Harsh */
.header-container .inner-wrapper {
    width: 1100px;
		clear: both;}

.link-head {
    background: #94ba33 none repeat scroll 0 0;
    float: left;
    padding: 5px;
    width: 100%;
}
.header-link {
    color: #fff;
    font-size: 15px;
		font-family: 'Segoe UI';
		font-weight: 600;
}
.header-link:hover{ color: #232323;}
.headers-btn > span {
    color: #fff;
    font-size: 15px;
    margin: 0 10px;
}
.banner-content {
    margin: 50px auto 0;
    position: relative;
    width: 1100px;
}
.banner-text {
    float: left;
    margin-top: 40px;
    padding: 0;
    width: 55%;
}
.banner-img {
    float: right;
    text-align: right;
    width: 40%;
}
.banner-img > img {
    margin: 0 auto;
}
.banner-text > h2 {
    font-size: 33px;
		font-family: 'HelveticaNeue LT 55 Roman';
		color: #fff;
		text-align: left;
		margin: 0 0 35px;
}
.banner-text > p {
    color: #fff;
    font-size: 18px;
    line-height: normal;
    margin: 20px 0 0;
    text-align: left;
		font-family: 'HelveticaNeue LT 45';
}
.footer-contact > p {
    color: #fff;
    font-family: open sans;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.footer-contact > h2 {
    color: #85ac26;
    font-family: open sans;
    font-size: 39px;
    font-weight: 600;
    text-align: center;
		margin: 15px 0 5px;
}
.footer-copy {
    background: #1c1c1c none repeat scroll 0 0;
    clear: both;
    float: left;
    margin: 33px 0 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.footer-copy > p {
    color: #5b5b5b;
    font-family: open sans;
    font-size: 13px;
    font-weight: 400;
}
/* --- RESPONSIVE LAYOUT --- */
@media screen and (max-width:1280px){
.banner-img > img { width: 65%;}
.banner-content{ width: 85%; margin: 0 auto;}
.banner-text{ margin: 0;}
.banner-container{ min-height: auto; padding: 15px 0;}
}

@media screen and (max-width:1200px){
.wrapper{width:100%;}
.inner-wrapper{width:100%; padding:0 10px;}
.header-container .inner-wrapper{width:95%;}
#access {width: 96%;}
.menu ul {width: 100%;}
#menu li {position: static;}
.middle-container .benifit-containt{ float: none; display: inline-block;}
.middle-container .benifit-containt.last{ margin-right: 10px;}
.inner-wrapper.benifit-container{ text-align: center;}
}
@media screen and (max-width:1136px){
.footer-links .links-content{min-width:160px;}
.form-containt .content-box.half-fieldset fieldset{width:49%;}
.form-containt .content-box fieldset label{min-width:140px;}
.modify-contant .content-box fieldset input[type="text"],.modify-contant .content-box fieldset input[type="password"]{max-width:200px;}
.banner-img > img{ width: 75%;}
.footer-container .footer-links{ width: 100%;}
.footer-container .footer-contact{ float: none; margin: 15px auto 0; clear: both;}
.footer-container .footer-links{ text-align: center;}
.footer-links .links-content{ float: none; display: inline-block; text-align: left; vertical-align: top; margin-bottom: 15px;}
}
@media only screen and (min-width:1026px) {
[class^="icon-"]::before, [class*=" icon-"]::before {display: block;margin-right: 0;text-align: center;}
#access a.skip-link {display: none;}
#menu {text-align: center;float:left;width:100%;}
#menu li a::before {transition: transform 500ms ease-in 0s;}
#menu li a:hover::before {transform: translateY(1em) scale(3) rotate(15deg);}
}
@media screen and (max-width:1025px){
.menu{ background: #94ba33; width: 100%; margin: 0 0 10px 0;}
#menu {overflow: hidden;transform-style: preserve-3d;transition: margin 500ms linear 0s; }
#menu li {float: left;max-height: 0;perspective: 1000px;position: relative;transform-style: preserve-3d;width: 100%;}
#menu li a {line-height:40px;overflow: hidden;position: relative;transform: rotateX(-90deg) scale(0.97);margin:0 0 10px 18px;top:-16px;}
#menu li:nth-child(2n+1) a {transform: rotateX(90deg) scale(0.97);}
#menu li.active a::before, #menu li a:hover::before {opacity: 1;}
#menu li a:hover::before {color: #689384;}
#menu li.active a::before, #menu li.active a:hover::before {color: #fff;}
#menu:target li, #menu.target li {height: auto;min-height: 40px;padding:0 35px;margin:0 0 0; background: #fff;}
#menu.target{ margin-bottom: 15px;}
#menu:target li a, #menu.target li a {transform: rotateX(0deg) scale(1);padding:0;top:0;margin:0}
a.skip-link {float: left;width: 100%;}
.banner-container{ background-size: 100% 100%;}
.banner-text{ width: 60%;}
}
@media screen and (max-width:1024px){
.aboutus-contant .calling-contant p{max-width:64%;}
/*pratik*/
.dashboard-table tr td{padding:12px;height:auto;}
/*pratik*/
.register-container .modify-contant .upload-area p{max-width:100%;margin:0 0 15px;width:100%;}
}
@media screen and (max-width:980px){
.banner-desc{top:10%;}
.banner-desc h2{font-size:20px;}
.banner-desc ul li,.banner-desc p{margin:10px 0;font-size:14px;font-family: 'Signika', sans-serif;}
.benifit-containt .benifit-icon{position:relative;left:0;right:0;}
.benifit-containt .benifit-points{text-align:center;padding:0;}
.benifit-containt .benifit-points h2{margin:10px 0;}
.benifit-containt .benifit-points p{max-width:inherit;word-break:normal;}
.trial-contant{margin:50px 0 30px;}
.trial-contant .trial-btn{display:block;margin:0 auto 30px;width:100%;padding:0;text-align:center;}
.trial-btn > h2{ margin-top: 0;}
.trial-contant .trial-btn a{float:none;display:inline-block;vertical-align:top;}
.virtual-containt{clear:both;width:100%;}
.virtual-containt img{width:100%;max-width:522px;}
.footer-container .footer-logo{margin:0 auto 30px;text-align:center;float:none;}
.footer-container .footer-logo img{width:100%;max-width:317px;}
.footer-container .footer-links{width:100%;text-align:center;}
.form-containt .content-box fieldset textarea{max-width:635px;}
}
@media screen and (max-width:979px){
.aboutus-contant .calling-contant p{max-width:58%;}
/*.listing-contant .listing-view{max-width:53%;}*/
/*pratik*/
.listing-contant .listing-view{max-width:69%;}
/*pratik*/
.modify-contant .listing-view{max-width:69%;}
.register-ads{float:none;margin: 0 auto;text-align: center;width:100%;}
.register-ads .trial-block,.register-ads .calling-block{float:none;display:inline-block;width:49%;vertical-align:top;min-height:140px;}
.register-container .form-half-containt{width:100%;}
.form-containt .content-box.half-fieldset fieldset{width:100%;}
.form-containt .content-box fieldset textarea{max-width:230px;}
.form-containt .content-box.half-fieldset fieldset:first-child{margin:0 !important;}
.form-containt .content-box fieldset label{min-width:auto;position:absolute;left:0;}
/*.form-containt .content-box fieldset input,.form-containt .content-box fieldset textarea,.form-containt .content-box fieldset select{float: left;margin-left: 140px;max-width: 80%;}*/
/*pratik*/
.form-containt .content-box fieldset input,.form-containt .content-box fieldset textarea,.form-containt .content-box fieldset select{float: left;margin-left: 155px;}
/*pratik*/
.table-toolbar .sorter{width:75%}

    /*Pratik 17Jun*/
.dashboard-container tbody tr td.block{display:block;width:100%;}
.quick-find .find-inputbox .find-input{width:100%;}
/*pratik*/
.modify-contant .content-box fieldset input[type="text"],
.modify-contant .content-box fieldset input[type="password"]{max-width:280px;}
.modify-contant .barcode{display: inline-block;float: none;margin: 10px 0 0 140px;vertical-align: top;width:280px;}
.modify-contant .barcode img{max-width:100%;}
.modify-contant span.print-btn{float:left;width:100%;margin:10px 0 0;}
.modify-contant .content-box .fieldset-datatable fieldset label{position:inherit;text-align:center;}
.modify-contant .content-box .fieldset-datatable fieldset input{float:none;}
.form-containt .content-box fieldset input.create-btn{margin:0 5px 0 0;}
}
@media screen and (max-width:800px){

}
@media screen and (max-width:768px){
	.footer-links .links-content{ width: 47%; margin-left: 2%}
	.footer-links .links-content:nth-child(3){ margin-left: 0;}
	.footer-links .links-content:nth-child(1){ margin-left: 0;}
}
@media screen and (max-width:767px){
.aboutus-contant .calling-contant p{max-width:inherit;}
.listing-contant .listing-view{max-width:inherit;}
/*.listing-contant{text-align:center;}*/
.listing-contant .quick-find{float:none;display:inline-block;vertical-align:top;margin:20px auto 0;width:100%;}
.quick-find p{font-size:13px;text-align:left;}
.calling-contant p{max-width:inherit;}
.calling-contant{text-align:center;}
.calling-block{float:none;display:inline-block;margin:0 auto 20px;}
.register-container .form-containt .content-box{padding:20px;}
.form-containt .content-box fieldset label{position:relative;display:block;width:100%;}
.form-containt .content-box fieldset input,
.form-containt .content-box fieldset textarea,
/*.form-containt .content-box fieldset select{margin:0;max-width:inherit;}*/
/*pratik*/
.form-containt .content-box fieldset select{margin:0;}
/*pratik*/
.register-container .form-submit-btn{margin:30px 0 0;}
.register-ads .trial-block,.register-ads .calling-block{min-height:150px;}
.listing-contant .listing-table{margin:0;}
.table-toolbar .opt-select{float:none;margin:20px 0 0;}
.table-toolbar .sorter{width:100%}

.modify-contant .content-box fieldset label{display:inline-block;position:absolute;width:auto;}
.modify-contant .content-box fieldset input[type="text"],.modify-contant .content-box fieldset input[type="password"]{margin-left:140px;}
.modify-contant span.print-btn{float:left;width:auto;margin:10px 0 0 140px;clear:both;}

}
@media screen and (max-width:640px){
.bx-wrapper .bx-controls-direction a{width:13px;height:20px; background-size: auto 20px;}
.bx-wrapper .bx-next{background-position:-36px 0;}
.bx-wrapper .bx-prev{background-position:0 0;}
.banner-desc h2{font-size:16px;}
.banner-desc ul li{font-size:12px;margin:5px 0;}
.header-container .logo{width:100%;clear:both;text-align:center;padding:0 10%;}
.header-container .headers-btn{float:none;display:inline-block;vertical-align:top;width:100%;text-align:center;}
.footer-links .links-content{width:100%;margin:30px 0 0;}
.footer-links .links-content h2{margin:0 0 5px;padding:0 0 5px;}
.footer-links .links-content ul li{float:left;width:50%;}
.popup-scroller{height:150px;overflow:auto;}
.tabs-popup-scroller{height:150px;overflow:auto;}
.popup-head{font-size:24px;padding: 10px 0;}
.banner-text > h2{ font-size: 22px; margin: 0 0 15px;}
.banner-text > p{ font-size: 14px; margin: 10px 0 0;}
.banner-img{ display: none;}
.banner-text{ width: 100%;}
.middle-container .benifit-containt{ margin-top: 10px;}
.footer-container .footer-contact{ width: 100%; float: left;}
.trial-btn > h2{ font-size: 28px;}
.trial-contant .trial-btn a{ font-size: 20px; padding: 10px 20px;}
#menu:target li, #menu.target li{ min-height: 30px;}
#menu.target{ margin-bottom: 7px;}
}
@media screen and (max-width:639px){
a.btn{font-size:16px;height:36px;line-height:34px;width:100px;}
.menu{min-height:inherit;}
#access a.skip-link, #access #menu a.skip-link{font-family: 'Signika', sans-serif;font-size:16px;padding:8px 15px 8px 25px;background-size:17px 14px;}
#menu li a{font-family: 'Signika', sans-serif;line-height:32px;font-size:12px;margin:0 0 10px 18px;top:-16px;}
#menu:target li, #menu.target li{ padding: 0 25px;}
.middle-container .benifit-containt{ min-height: auto; padding-bottom: 30px;}
.benifit-containt .benifit-points{min-height:inherit;}
.benifit-containt .benifit-icon img{width:80px;height:auto;}
.benifit-containt .benifit-points h2 a{font-size:18px;}
.virtual-containt h2{font-size:18px;}
.footer-links .links-content h2{font-size:18px;}
.footer-links .links-content ul li{line-height:24px;}
.footer-links .links-content ul li a{font-size:14px;}
.register-container .form-submit-btn .create-btn{font-size:16px;height:36px;line-height:normal;width:100px;}
.register-ads .trial-block, .register-ads .calling-block{width:100%;min-height:inherit;}
.form-containt .content-box fieldset{margin:10px 0 0;}

/*pratik*/
.dashboard-table tr td{padding:0;}
.dashboard-table tr td .dashboard-title{font-family: "HelveticaNeueLT-Bold";font-size: 12px;padding: 0 0 5px;}
.dashboard-table tr td a img{width:80px;height:80px;}
/*Pratik*/
.fieldset-datatable tr td.number{width:100%;display:block;}
.fieldset-datatable tr td{display: inline-block;width: 49%;}
.modify-contant .content-box fieldset input[type="text"],.modify-contant .content-box fieldset input[type="password"]{max-width:260px;}
.modify-contant .barcode{width:260px;}
}

/*pratik*/
@media screen and (max-width:479px){
.middle-container .benifit-containt{width:100%;margin:20px 0 0; min-height: auto;}
.dashboard-table tr td .dashboard-title{font-size:10px;}
.dashboard-table tr td a img{width:48px;height:48px;}
.fieldset-datatable tr td.number{font-size:24px;}
.fieldset-datatable tr td{display: inline-block;width:100%;padding:3px 7px;}
.modify-contant .content-box fieldset label{display: inline-block;float: left;font-size: 11px;width:80px;text-align:left;min-width:inherit;}
.modify-contant .content-box fieldset input[type="text"],.modify-contant .content-box fieldset input[type="password"]{width: 64% !important;max-width:160px;margin-left:90px;}
.modify-contant .content-box .fieldset-datatable fieldset label{position:inherit;}
.modify-contant .barcode{margin:10px 0 0 90px;width:160px;}
.modify-contant .barcode img{max-width:100%;}
.modify-contant .content-box .fieldset-datatable fieldset input[type="text"],
.modify-contant .content-box .fieldset-datatable fieldset input[type="password"]{max-width:inherit;}
.modify-contant span.print-btn{margin:10px 0 0 90px;}
.input-file{width:100%;margin:0 0 10px;}

.virtual-containt #book-wrapper {
    height: auto !important;
    min-height: 200px;
    width: auto !important;
}
}
/*pratik*/

@media screen and (max-width:360px){  
.bx-wrapper .bx-controls-direction a.bx-next{ right: 10px;}
.bx-wrapper .bx-controls-direction a.bx-prev{ left: 10px;}
.footer-links .links-content ul li{ width: 100%;}
.footer-container .footer-contact{ padding: 10px;}
.footer-contact > p{ font-size: 18px;}
.footer-contact > h2{ font-size: 28px;}
}

/*IFRAME POPUP*/
.iframe-checklist input[type="text"].itrame-text{border:solid 1px #c4c4c4;height:30px;line-height:30px;padding:0 5px;width:100%;}
.iframe-checklist h2 {margin:10px;}
.iframe-checklist table th {font-weight:bold;}
.iframe-checklist .btn{font-weight:bold;font-size:18px;color:#fff;width:123px;height:42px;line-height:40px;text-align:center;vertical-align:middle;display:inline-block;vertical-align:top;border:0 none;cursor:pointer;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;}
.iframe-checklist .btn.green{background:#83af33;}
.iframe-checklist .btn:hover.green{background:#01487f;color:#fff;}
.iframe-checklist .btn.blue{background:#01487f;}
.iframe-checklist .btn:hover.blue{background:#83af33;color:#fff;}
iframe body {background:none !important;}


/*IFRAME POPUP*/
