
@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Bold.eot');
	src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
		url('../fonts/SegoeUI-Bold.woff') format('woff'),
		url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
		url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Italic.eot');
	src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Italic.woff2') format('woff2'),
		url('../fonts/SegoeUI-Italic.woff') format('woff'),
		url('../fonts/SegoeUI-Italic.ttf') format('truetype'),
		url('../fonts/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-SemiBold.eot');
	src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
		url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
		url('../fonts/SegoeUI-SemiBold.ttf') format('truetype'),
		url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-Light.eot');
	src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-Light.woff2') format('woff2'),
		url('../fonts/SegoeUI-Light.woff') format('woff'),
		url('../fonts/SegoeUI-Light.ttf') format('truetype'),
		url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff2') format('woff2'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype'),
		url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI-BoldItalic.eot');
	src: url('../fonts/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
		url('../fonts/SegoeUI-BoldItalic.woff') format('woff'),
		url('../fonts/SegoeUI-BoldItalic.ttf') format('truetype'),
		url('../fonts/SegoeUI-BoldItalic.svg#SegoeUI-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}


@font-face {
  font-family: 'HelveticaNeueLT-Bold';
  src: url('../fonts/HelveticaNeueLT-Bold.eot');
  src: url('../fonts/HelveticaNeueLT-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLT-Bold.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLT-Bold.woff') format('woff'),
       url('../fonts/HelveticaNeueLT-Bold.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLT-Bold.svg#HelveticaNeueLT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLT-Roman';
  src: url('../fonts/HelveticaNeueLT-Roman.eot');
  src: url('../fonts/HelveticaNeueLT-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLT-Roman.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLT-Roman.woff') format('woff'),
       url('../fonts/HelveticaNeueLT-Roman.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLT-Roman.svg#HelveticaNeueLT-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
html{-webkit-text-size-adjust:none;margin:0;padding:0;}
body{background:#dbd8d8;color:#000;margin:0;padding:0;font-family: 'HelveticaNeueLT-Roman';}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
a{color:#444;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;text-decoration:none}
a:hover{color:#83af33;text-decoration:none;}
:focus{outline:none}
ul{list-style:none;margin:0;padding:0;}
p{margin:0;padding:0;}
input,select,textarea {border: 1px solid #c4c4c4;box-shadow: 0 0 0;}
th,td,caption {font-weight: normal;text-align: left;vertical-align: top;}
.datatable{border:1px solid #cccaca;width:100%;border-spacing:0;empty-cells:show;border-bottom:0 none;}
.datatable th, .datatable th a{background:#ecebeb;color:#030303;font-family: 'HelveticaNeueLT-Bold';font-size:14px;padding:6px;vertical-align:middle;text-align:center;text-decoration:none;border:0 none;border-bottom:1px solid #cccaca;}
.datatable td{border-bottom:1px solid #e9e9e9;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;color:#595959;font-size:12px;padding:6px;font-family: 'HelveticaNeueLT-Roman';vertical-align:middle;text-align:center;}
.datatable tbody td,.datatable thead th {border-bottom:1px solid #cccaca;border-left:0 none;border-right:1px solid #cccaca;}
.datatable tbody td.last,.datatable thead th.last{border-right:0 none !important;}
.datatable tbody tr.even{background:#fff;}
.datatable tbody tr.odd{background:#f5f5f5;}
.f-l,fl,f-left{float:left !important;}
.f-r,fr,f-right{float:right !important;}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}
.text-green {
  color:#83af33;
}
.color-label {float: left;height: 30px;padding: 4px;vertical-align: middle;width: auto !important;}
.clearfix{clear:both;margin:0;padding:0;line-height:0;height:0;font-size:0;}
.wrapper{margin:0 auto;width:1200px;}
.inner-wrapper{margin:0 auto;width:1000px;}
.btn{font-family: 'HelveticaNeueLT-Bold';font-size:18px;color:#fff;width:123px;height:42px;line-height:40px;text-align:center;vertical-align:middle;display:inline-block;vertical-align:top;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:0 none;cursor:pointer;transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-ms-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;}
.btn-small  {border: 0 none;border-radius: 10px;color: #fff;cursor: pointer;display: inline-block;font-family: "HelveticaNeueLT-Bold";font-size: 15px;line-height: 28px;text-align: center;transition: all 0.3s ease 0s;vertical-align: top;width: auto;}
.btn.green,.btn-small.green{background:#83af33;}
.btn:hover.green,.btn-small:hover.green{background:#01487f;color:#fff;}
.btn.blue,.btn-small.blue{background:#01487f;}
.btn:hover.blue,.btn-small:hover.blue{background:#83af33;color:#fff;}
.no-margin{margin:0 !important;}
.header-container{float:left;width:100%;clear:both;background:#fff;}
.header-container .logo{float:left;margin:20px 0;}
.header-container .logo a img{max-width:317px;height:auto;width:100%;border:0 none;}
.header-container .headers-btn{float:right;margin:32px 0 0;}
.menu {background:none;float: right;width:auto;}
.menu ul {list-style: outside none none;margin: 0 auto;padding: 0;position: relative;}
.menu ul li {float:none;display:inline-block;vertical-align:top;line-height:normal;margin:0 15px;}
.menu ul li:last-child{ margin-right: 0;}
.menu ul li a {font-family: 'HelveticaNeueLT-Bold';font-size:14px;color:#c3c3c3;padding:16px 0;display:block;}
.menu ul li a:hover{color:#83af33;}
#access {float: none;margin: 0 auto;width:auto;}
#access a, #access #menu a, #menu li a {display: block;transition: transform 500ms linear 0s, box-shadow 500ms ease-in 0s, background-color 250ms ease-in 0s;}
#access a.skip-link, #access #menu a.skip-link {background:rgba(0, 0, 0, 0) url("../Images/menu-icon.png") no-repeat scroll left center;color: #fff;font-size: 18px;font-family: 'HelveticaNeueLT-Bold';padding:13px 15px 13px 35px;position: relative;z-index: 2;}
#access a.skip-link span, #access #menu a.skip-link span {display: none;padding: 0 0.3em;position: absolute;right: 0.5em;top: 0.5em;}
#access #menu li.active a {color: #000;cursor: default;}
#menu li {list-style-image: none;list-style-type: none;position: relative;transition: max-height 500ms linear 0s;}

/* --- INDEXPAGE --- */
.banner-container{text-align:center;float:left;width:100%;background:#fff;}
.middle-container{background:#fff;float:left;width:100%;clear:both;margin:0;padding:0;}
.middle-container .benifit-containt{position:relative;float:left;width:50%;margin:30px 0 0;}
.benifit-containt .benifit-icon{position:absolute;left:0;top:0;}
.benifit-containt .benifit-points{position:relative;width:100%;padding:0 0 0 118px;float:left;min-height:105px;}
.benifit-containt .benifit-points h2{margin:0;padding:0;}
.benifit-containt .benifit-points h2 a{padding:0;line-height:normal;margin:7px 0 10px;font-size:23px;font-family: 'HelveticaNeueLT-Bold';color:#030303;}
.benifit-containt .benifit-points h2 a:hover{color:#83af33;}
.benifit-containt .benifit-points p{font-size:14px;color:#5b5b5b;max-width:285px;}
.trial-contant{margin:65px 0 75px;float:left;width:100%;clear:both;display:table;}
.trial-contant .trial-btn{display:table-cell;vertical-align:middle;padding:80px 0 0;}
.trial-contant .trial-btn a{display:block;height:70px;line-height:70px;font-family: 'HelveticaNeueLT-Bold';font-size:29px;color:#fff;text-align:center;float:right;width:323px;}
.virtual-containt{text-align:center;float:right;}
.virtual-containt h2{font-family: 'HelveticaNeueLT-Roman';font-size:25px;color:#5b5b5b;font-weight:normal;}
.footer-container{float:left;width:100%;background:#333;display:table;padding:30px 0;}
.footer-container .footer-logo{float:left;margin:52px 0 0;}
.footer-container .footer-links{float:right;}
.footer-links .links-content{float:left;margin:0 0 0 34px;min-width:177px;}
.footer-links .links-content:nth-child(1){margin:0;}
.footer-links .links-content h2{font-family: 'HelveticaNeueLT-Bold';font-size:21px;color:#bcbcbc;line-height:normal;border-bottom:solid 1px #757475;margin:0 0 15px;padding:0 0 23px;}
.footer-links .links-content ul li{line-height:29px;}
.footer-links .links-content ul li a{font-size:15px;color:#bdbdbd;}
.footer-links .links-content ul li a:hover{color:#83af33;}
.bxslider li{width:100% !important;}
/*.banner-desc{position: absolute;left:9%;top:15%;z-index: 9;text-align:left;}
.banner-desc h2{font-family: 'HelveticaNeueLT-Bold';font-size:26px;color:#1f1f1f;}
.banner-desc p{font-family: 'HelveticaNeueLT-Bold';font-size:16px;color:#1f1f1f;line-height:normal;width:100%;max-width:420px;margin:13px 0;}
.banner-desc ul li{font-family: 'HelveticaNeueLT-Bold';font-size:16px;color:#1f1f1f;line-height:normal;width:100%;max-width:420px;margin:13px 0;}*/
.bx-viewport{-moz-box-shadow:0 3px 5px #cacaca;-ms-box-shadow:0 7px 5px #cacaca;-o-box-shadow:0 7px 5px #cacaca;-webkit-box-shadow:0 7px 5px #cacaca;box-shadow:0 7px 5px #cacaca;height:auto !important;padding-bottom:30.7%;}
.bx-wrapper {position: relative; float:left; max-width:100% !important; width:100%;padding: 0;*zoom: 1;}
.bx-wrapper img {max-width: 100%;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {display:none;}
.bx-wrapper .bx-loading {min-height: 50px;background: url(../images/bx_loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
.bx-wrapper .bx-controls-direction a{position:absolute;top:42%;outline: 0;width:51px;height:51px;text-indent:-9999px;z-index:9999;background-color:#000;}
.bx-wrapper .bx-controls-direction a:hover{background-color:#83af33;}
.bx-wrapper .bx-controls-direction a.disabled {display: none;}
.bx-wrapper .bx-prev {left:0px;background: url(../images/controls.png) no-repeat 16px -65px;}
.bx-wrapper .bx-next {right:0px;background: url(../images/controls.png) no-repeat -51px 14px;}
.bx-wrapper .bx-prev:hover {background-position: -54px -65px;}
.bx-wrapper .bx-next:hover {background-position: 20px 14px;}
.bx-wrapper .bx-controls-auto {text-align: center;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active {background-position: -86px -33px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left;	width:auto;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0;width: 35px;}
.bx-wrapper .bx-caption {position: absolute;bottom: 0;left: 0;background: #666\9;background: rgba(80, 80, 80, 0.75);width: 100%;}
.bx-wrapper .bx-caption span {color: #fff;font-family: Arial;display: block;font-size: .85em;padding: 10px;}

/* --- ABOUT US PAGE --- */
.title-container{background:#efefef;float:left;width:100%;clear:both;margin:0;padding:30px 0;}
.title-container h1{font-family: 'HelveticaNeueLT-Bold';font-size:23px;color:#83af33;}
.aboutus-title h1{line-height:normal;padding:0px;}
.title-container p{font-family: 'HelveticaNeueLT-Roman';font-size:17px;color:#5b5b5b;padding-top:20px;text-align:justify;}
.page-container{background:#fff;float:left;width:100%;clear:both;margin:0;padding:30px 0;}
.page-container p{font-family: 'HelveticaNeueLT-Roman';font-size:17px;color:#5b5b5b;margin:0 0 35px;}
.page-container p.last{margin:0;}
.aboutus-contant .calling-contant p .green{font-family:'HelveticaNeueLT-Bold';font-size:17px;color:#83af33;}
.aboutus-contant .calling-contant p .blue{font-family:'HelveticaNeueLT-Bold';font-size:20px;color:#57aacd;}
.aboutus-contant .calling-contant p{float:left;max-width:69%;text-align:justify;word-break:normal;}
.calling-block{background:#57aacd;color:#fff;float:right;padding:20px 47px;text-align:center;}
.calling-block span{font-family:'HelveticaNeueLT-Bold';font-size:14px;color:#fff;display:block;}
.calling-block span.call-number{font-family:'HelveticaNeueLT-Bold';font-size:24px;color:#fff;line-height:normal;margin:10px 0;}
.trial-block{background:#bdcd57;color:#fff;float:right;padding:20px 47px;text-align:center;}
.trial-block .title{font-family:'HelveticaNeueLT-Bold';font-size:22px;color:#fff;line-height:normal;margin:0 0 10px;}
.trial-block p{margin:0;padding:0;font-family: 'HelveticaNeueLT-Roman';font-size:10px;color:#fff;text-align:center;}
.aboutus-contant .securityheading {float:left;width:100%;margin:10px 0;color: #030303;font-family: "HelveticaNeueLT-Bold";font-size: 23px;}
.aboutus-contant ul{float:left;width:100%;list-style:inside none disc;}
.aboutus-contant ul li{color:#5b5b5b;font-size: 14px;}

/* --- REGISTER PAGE --- */
.register-title h1{line-height:normal;padding:0px;color:#030303;}
.register-title p{font-family: 'HelveticaNeueLT-Roman';font-size:14px;color:#5b5b5b;padding-top:20px;width:99%;}
.register-ads{float:right;width:41%;margin-top: 30px;}
.register-ads .calling-block,.register-ads .trial-block{width:100%;padding:20px 25px;}
.register-container .form-containt{margin:25px 0 0;padding:0;width:100%;}
.register-container .form-half-containt{width:57%;float:left;}
.register-container .form-containt .content-title{font-family:'HelveticaNeueLT-Bold';font-size:23px;color:#030303;margin:0 0 15px;}
.register-container .form-containt .content-box{border:solid 1px #b8b8b8;padding:40px 30px;width:100%;}
.form-containt .content-box fieldset{position:relative;margin:22px 0 0;padding:0;border:0;}
.form-containt .content-box fieldset:first-child{margin:0 !important;}
.form-containt .content-box fieldset label{font-family:'HelveticaNeueLT-Bold';font-size:15px;color:#030303;min-width:160px;display:inline-block;line-height:30px;vertical-align:top;}
.form-containt .content-box fieldset input[type="text"], .form-containt .content-box fieldset input[type="password"]{border:solid 1px #c4c4c4;height:30px;line-height:30px;padding:0 5px;max-width:230px;width:100%;}
.form-containt .content-box fieldset input[type="checkbox"]{margin: 10px 10px 10px 0;}
.form-containt .content-box fieldset select{border:solid 1px #c4c4c4;height:30px;line-height:30px;padding:5px;max-width:230px;width:100%;}
.form-containt .content-box fieldset textarea{border:solid 1px #c4c4c4;padding:0;margin:0;width:100%;max-width:655px;min-height:122px;}
.form-containt .content-box.half-fieldset fieldset{width:45%;margin:22px 0 0;display:inline-block;vertical-align:top;}
.form-containt .content-box.half-fieldset fieldset:first-child{margin:22px 0 0 !important;}
.form-containt .content-box.half-fieldset fieldset.full-fieldset{width:100%;margin:22px 0 0;display:block;}
.register-container .form-submit-btn{float:left;width:100%;text-align:center;margin:30px 0;}
.register-container .form-submit-btn .create-btn{color: #fff;cursor: pointer;font-size: 20px;min-width: 100px;text-align: center;width: auto;}

/* --- LISTING PAGE --- */
.listing-contant{margin:0;padding:0;}
.listing-contant .listing-view{float:left;max-width:69%;}
.listing-contant .listing-view h2{font-family:'HelveticaNeueLT-Bold';font-size:23px;color:#030303;margin:30px 0 15px;line-height:normal;}
.listing-contant .listing-view p{font-family: 'HelveticaNeueLT-Roman';font-size:14px;line-height:normal;color:#5b5b5b;margin:0;}
.listing-contant .quick-find{float: right;background:#efefef;border:solid 4px #e8e8e8;padding:25px 15px;width:29%;word-wrap:break-word;}
.quick-find h3{font-family:'HelveticaNeueLT-Bold';font-size:19px;color:#030303;}
.quick-find p{font-family: 'HelveticaNeueLT-Roman';font-size:14px;line-height:normal;color:#5b5b5b;margin:25px 0 10px;}
.quick-find .find-inputbox{position:relative;}
.quick-find .find-inputbox .find-input{height:39px;padding:5px;width:80%;float:left}
.quick-find .find-inputbox .quick-find-btn{width:42px;height:39px;font-size:0;background-image:url(../../images/quickfind-bg.png);background-repeat:no-repeat;background-position: center center;border-radius:0;-webkit-border-radius:0;position:absolute;right:0;top:0;}
.listing-contant .listing-table{float:left;width:100%;clear:both;margin:20px 0 0;}
.table-scroll{float:left;width:100%;clear:both;overflow:auto;}
.table-scroll table.datatable{min-width:1000px;}
.table-toolbar{float:left;width:100%;margin:30px 0;}
.table-toolbar .sorter{float:left;width:80%}
.table-toolbar .sorter ul li{float:left;height:30px;width:29px;line-height:29px;text-align:center;background:url(../images/sorter-bg.png) no-repeat center center;padding:0;margin:0 1px 1px 0;}
.table-toolbar .sorter ul li a{font-size:15px;color:#3e3e3e;display:block;}
.table-toolbar .sorter ul li.active,.table-toolbar .sorter ul li:hover{background:url(../images/sorter-bg-active.png) no-repeat center center;}
.table-toolbar .pager{float:none;text-align:center;}
.table-toolbar .pager ul li{float:none;display:inline-block;vertical-align:top; height:30px;width:30px;line-height:29px;text-align:center;padding:0;margin:0;}
.table-toolbar .pager ul li a{font-family:'HelveticaNeueLT-Bold';font-size:17px;color:#484848;display:block;}
.table-toolbar .pager ul li.active,.table-toolbar .pager ul li:hover{background:url(../images/pager-bg.png) no-repeat center center;}
.table-toolbar .opt-select{float:right;border:solid 1px #999999;font-size:14px;color:#5b5b5b;height:26px;line-height:26px;width:100%;max-width:156px;}
.ic-icon{display:inline-block;vertical-align:top;font-size:0;width:26px;height:23px;margin:0 5px;}
.ic-download{background:url(../../images/icon-download.png) no-repeat center center;}
.ic-edit{background:url(../../images/icon-edit.png) no-repeat center center;}
.ic-view{background:url(../../images/icon-view.png) no-repeat center center;}
.ic-delete{background:url(../../images/icon-delete.png) no-repeat center center;}
.ic-users{background:url(../../images/icon-users.png) no-repeat center center;}
.ic-document{background:url(../../images/icon-document.png) no-repeat center center;}
.listing-datatable .folder-name{min-width:190px;}
.listing-datatable .first-name{width:140px;}
.listing-datatable .last-name{width:140px;}
.listing-datatable .file-number{width:105px;}
.listing-datatable .tabs{width:50px;}
.listing-datatable .size{width:52px;}
.listing-datatable .date{width:120px;}
.listing-datatable .eff{width:50px;}
.listing-datatable .action{min-width:210px;}
.listing-datatable a{color:#1f43a7;text-decoration:underline;}


/* --- RESPONSIVE LAYOUT --- */
@media screen and (max-width:1200px){
.wrapper{width:95%;}
.inner-wrapper{width:95%;}
#access {width: 96%;}
.menu ul {width: 100%;}
#menu li {position: static;}
}
@media screen and (max-width:1136px){
.footer-links .links-content{min-width:160px;}
.form-containt .content-box.half-fieldset fieldset{width:49%;}
.form-containt .content-box fieldset label{min-width:140px;}
}
@media only screen and (min-width:1026px) {
[class^="icon-"]::before, [class*=" icon-"]::before {display: block;margin-right: 0;text-align: center;}
#access a.skip-link {display: none;}
#menu {text-align: center;float:left;width:100%;}
#menu li a::before {transition: transform 500ms ease-in 0s;}
#menu li a:hover::before {transform: translateY(1em) scale(3) rotate(15deg);}
}
@media screen and (max-width:1025px){
#menu {overflow: hidden;transform-style: preserve-3d;transition: margin 500ms linear 0s;}
#menu li {float: left;max-height: 0;perspective: 1000px;position: relative;transform-style: preserve-3d;width: 100%;}
#menu li a {line-height:40px;overflow: hidden;position: relative;transform: rotateX(-90deg) scale(0.97);}
#menu li:nth-child(2n+1) a {transform: rotateX(90deg) scale(0.97);}
#menu li.active a::before, #menu li a:hover::before {opacity: 1;}
#menu li a:hover::before {color: #689384;}
#menu li.active a::before, #menu li.active a:hover::before {color: #fff;}
#menu:target li, #menu.target li {height: auto;max-height: 2.5em;padding:0px;margin:0 0 0 35px;}
#menu:target li a, #menu.target li a {transform: rotateX(0deg) scale(1);padding:0;}
a.skip-link {float: left;width: 100%;}
}
@media screen and (max-width:1024px){
.aboutus-contant .calling-contant p{max-width:64%;}
}
@media screen and (max-width:980px){
.banner-desc{top:10%;}
.banner-desc h2{font-size:20px;}
.banner-desc ul li,.banner-desc p{margin:10px 0;font-size:14px;font-family: 'HelveticaNeueLT-Roman';}
.middle-container .benifit-containt{text-align:center;padding:0 5%;}
.benifit-containt .benifit-icon{position:relative;left:0;right:0;}
.benifit-containt .benifit-points{text-align:center;padding:0;}
.benifit-containt .benifit-points h2{margin:10px 0;}
.benifit-containt .benifit-points p{max-width:inherit;word-break:normal;}
.trial-contant{margin:50px 0 30px;}
.trial-contant .trial-btn{display:block;margin:0 auto 30px;width:100%;padding:0;text-align:center;}
.trial-contant .trial-btn a{float:none;display:inline-block;vertical-align:top;}
.virtual-containt{clear:both;width:100%;}
.virtual-containt img{width:100%;max-width:522px;}
.footer-container .footer-logo{margin:0 auto 30px;text-align:center;float:none;}
.footer-container .footer-logo img{width:100%;max-width:317px;}
.footer-container .footer-links{width:100%;text-align:center;}
.footer-links .links-content{width:30%;margin:0 0 0 5%;}
.form-containt .content-box fieldset textarea{max-width:635px;}
}
@media screen and (max-width:979px){
.aboutus-contant .calling-contant p{max-width:58%;}
.listing-contant .listing-view{max-width:53%;}
.register-ads{float:none;margin: 0 auto;text-align: center;width:100%;}
.register-ads .trial-block,.register-ads .calling-block{float:none;display:inline-block;width:49%;vertical-align:top;min-height:140px;}
.register-container .form-half-containt{width:100%;}
.form-containt .content-box.half-fieldset fieldset{width:100%;}
.form-containt .content-box fieldset textarea{max-width:230px;}
.form-containt .content-box.half-fieldset fieldset:first-child{margin:0 !important;}
.form-containt .content-box fieldset label{min-width:auto;position:absolute;left:0;}
.form-containt .content-box fieldset input,.form-containt .content-box fieldset textarea,.form-containt .content-box fieldset select{float: left;margin-left: 140px;max-width: 80%;}
.table-toolbar .sorter{width:75%}
}
@media screen and (max-width:767px){
.aboutus-contant .calling-contant p{max-width:inherit;}
.listing-contant .listing-view{max-width:inherit;}
.listing-contant{text-align:center;}
.listing-contant .quick-find{float:none;display:inline-block;vertical-align:top;margin:20px auto 0;}
.quick-find p{font-size:13px;text-align:left;}
.calling-contant p{max-width:inherit;}
.calling-contant{text-align:center;}
.calling-block{float:none;display:inline-block;margin:0 auto 20px;}
.register-container .form-containt .content-box{padding:20px;}
.form-containt .content-box fieldset label{position:relative;display:block;width:100%;}
.form-containt .content-box fieldset input,
.form-containt .content-box fieldset textarea,
.form-containt .content-box fieldset select{margin:0;max-width:inherit;}
.register-container .form-submit-btn{margin:30px 0 0;}
.register-ads .trial-block,.register-ads .calling-block{min-height:150px;}
.listing-contant .listing-table{margin:0;}
.table-toolbar .opt-select{float:none;margin:20px 0 0;}
.table-toolbar .sorter{width:100%}
}
@media screen and (max-width:640px){
.bx-wrapper .bx-controls-direction a{width:32px;height:32px;}
.bx-wrapper .bx-next{background-position:-58px 4px;}
.bx-wrapper .bx-next:hover{background-position:11px 4px;}
.bx-wrapper .bx-prev{background-position:8px -75px;}
.bx-wrapper .bx-prev:hover{background-position:-62px -75px;}
.banner-desc h2{font-size:16px;}
.banner-desc ul li{font-size:12px;margin:5px 0;}
.header-container .logo{width:100%;clear:both;text-align:center;padding:0 10%;}
.header-container .headers-btn{float:none;display:inline-block;vertical-align:top;width:100%;text-align:center;margin:0 0 20px;}
.footer-links .links-content{width:100%;margin:30px 0 0;}
.footer-links .links-content h2{margin:0 0 5px;padding:0 0 5px;}
.footer-links .links-content ul li{float:left;width:50%;}
}
@media screen and (max-width:639px){
a.btn{font-size:16px;height:36px;line-height:34px;width:100px;}
.menu{min-height:inherit;}
#access a.skip-link, #access #menu a.skip-link{font-family: 'HelveticaNeueLT-Roman';font-size:16px;padding:8px 15px 8px 25px;background-size:17px 14px;}
#menu li a{font-family: 'HelveticaNeueLT-Roman';line-height:32px;font-size:12px;}
.middle-container .benifit-containt{width:100%;margin:20px 0 0;}
.benifit-containt .benifit-points{min-height:inherit;}
.benifit-containt .benifit-icon img{width:80px;height:auto;}
.benifit-containt .benifit-points h2 a{font-size:18px;}
.trial-contant .trial-btn a{font-size:18px;height:50px;line-height:50px;max-width:200px;}
.virtual-containt h2{font-size:18px;}
.footer-links .links-content h2{font-size:18px;}
.footer-links .links-content ul li{line-height:24px;}
.footer-links .links-content ul li a{font-size:14px;}
.register-container .form-submit-btn .create-btn{font-size:16px;height:36px;line-height:normal;width:100px;}
.register-ads .trial-block, .register-ads .calling-block{width:100%;min-height:inherit;}
.form-containt .content-box fieldset{margin:10px 0 0;}
}
@media screen and (max-width:360px){
.bx-wrapper .bx-controls-direction a{width:20px;height:20px;}
.bx-wrapper .bx-next{background-position:-34px 4px;background-size: 50px 50px;}
.bx-wrapper .bx-next:hover{background-position:7px 4px;}
.bx-wrapper .bx-prev{background-position:5px -34px;background-size: 50px 50px;}
.bx-wrapper .bx-prev:hover{background-position:-36px -34px;}
}