<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="ChargeManage.aspx.cs" Inherits="Account_ChargeManage" Title="" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <table>
        <tr>
            <td height="186" valign="top" style="background-repeat: no-repeat;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="970" height="453" valign="top" background="../images/bg_main.gif" bgcolor="#f6f5f2"
                            style="background-repeat: repeat-x;">
                            <div style="background: url(images/inner_b.gif); background-position: right top;
                                background-repeat: no-repeat; margin-top: 10px;">
                                <div style="width: 725px; height: 60px;">
                                    <div class="Naslov_Protokalev">
                                        Payment Information</div>
                                </div>
                            </div>
                            <asp:UpdatePanel ID="UpdatePanel2" UpdateMode="Conditional" runat="server">
                                <contenttemplate>
                    <div class="podnaslov" style="padding: 5px; background-color: #f6f5f2;">
                        <%--Some instructional text goes here ....... Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Nam enim risus, scelerisque eu, laoreet vel, rhoncus vitae, sem.
                        Nulla et orci. Curabitur sit amet libero ut nisi vehicula mattis. Mauris porttitor
                        ligula eu sapien. Etiam diam risus, ornare eget, gravida bibendum, placerat quis,
                        ante. Etiam nisi nulla, cursus nec, pretium at, porttitor eget, mauris. Quisque
                        facilisis consequat est. Aenean tellus lectus, pulvinar et, portti--%></div>
                    <div class="form_title_1">
                        Credit&nbsp;Card&nbsp;Info</div>
                    <div class="tekstDef" style="">
                        
                        
                    </div>
                    <div style="padding-left: 30px;">
                        <img src="../images/dotted.gif" vspace="5" /></div>
                    <div class="form_title_1">
                        Billing&nbsp;Contact&nbsp;Info</div>
                    <div class="tekstDef">
                        
                    </div>
                    <div align="center" style="height: 30px;">
                        <asp:ImageButton runat="server" name="ImageButton1" ID="ImageButton1" ImageUrl="~/images/submit_btn.gif"
                            />
                    </div></contenttemplate>
                                <triggers><asp:AsyncPostBackTrigger ControlID="ImageButton1" EventName="Click" />
                    </triggers>
                            </asp:UpdatePanel>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</asp:Content>
